/* screen - overviewicon */

.overviewicon {
  background-color: var(--white);
  height: 2079px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewicon .group-74-Xucq5b {
  background-color: transparent;
  height: 1537px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1328px;
}

.overviewicon .group-46-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 90px;
  width: 285px;
}

.overviewicon .group-5-RFKwSC {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_unloc-RFKwSC {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-45-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.overviewicon .group-3-rtfT1U {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-47-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 287px;
}

.overviewicon .group-exo59c {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .title-copy-3-exo59c {
  color: var(--black);
  font-weight: 400;
  left: 110px;
  top: 31px;
}

.overviewicon .group-19-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 0px;
  width: 260px;
}

.overviewicon .group-6-JJXGdQ {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-18-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 90px;
  width: 259px;
}

.overviewicon .group-8-2VTIyh {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_onsv-2VTIyh {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-49-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 360px;
  width: 304px;
}

.overviewicon .group-11-63AYVn {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-50-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 450px;
  width: 322px;
}

.overviewicon .group-12-NcTj3E {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-48-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 270px;
  width: 333px;
}

.overviewicon .group-9-qsnYWD {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .title-copy-7-qsnYWD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-17-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 270px;
  width: 336px;
}

.overviewicon .group-10-JgYojr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .title-copy-10-JgYojr {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-16-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 360px;
  width: 330px;
}

.overviewicon .group-13-1nR1xK {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-15-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 450px;
  width: 331px;
}

.overviewicon .group-14-ks5VTY {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-65-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 797px;
  width: 267px;
}

.overviewicon .group-31-fgjpFR {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_status_cctv-fgjpFR {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-64-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 495px;
  position: absolute;
  top: 907px;
  width: 293px;
}

.overviewicon .group-34-6Ym3SS {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 81px;
}

.overviewicon .home_ic_status_deliv-6Ym3SS {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-63-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 495px;
  position: absolute;
  top: 1017px;
  width: 269px;
}

.overviewicon .group-35-qNs9Sf {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 81px;
}

.overviewicon .home_ic_status_emss-qNs9Sf {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-62-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 1127px;
  width: 267px;
}

.overviewicon .group-36-ElnDxj {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_status_noti-ElnDxj {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-61-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 1237px;
  width: 290px;
}

.overviewicon .group-37-pI85uN {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_status_parki-pI85uN {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-60-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 1347px;
  width: 280px;
}

.overviewicon .group-59-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 1457px;
  width: 317px;
}

.overviewicon .group-67-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 687px;
  width: 305px;
}

.overviewicon .group-20-mcdDC0 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .title-copy-3-mcdDC0 {
  color: var(--black);
  font-weight: 400;
  left: 110px;
  top: 31px;
}

.overviewicon .title-copy-3-cXBBtx {
  color: #00b0a6;
  font-weight: 600;
  left: 0px;
  top: 630px;
}

.overviewicon .group-68-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 797px;
  width: 265px;
}

.overviewicon .group-21-RySnxs {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_gass-RySnxs {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-69-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 907px;
  width: 307px;
}

.overviewicon .group-22-ziHvgp {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_hot_w-ziHvgp {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-70-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 1017px;
  width: 313px;
}

.overviewicon .group-23-ALZqjF {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_therm-ALZqjF {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-71-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 1127px;
  width: 278px;
}

.overviewicon .group-24-egTzit {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_water-egTzit {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-72-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 1237px;
  width: 297px;
}

.overviewicon .group-26-z2VywI {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-73-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 1347px;
  width: 297px;
}

.overviewicon .group-28-3IViB8 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-66-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 687px;
  width: 261px;
}

.overviewicon .group-30-FsFYq8 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-51-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 687px;
  width: 245px;
}

.overviewicon .group-39-xF0VRM {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-52-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 797px;
  width: 269px;
}

.overviewicon .group-40-XPJkyY {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .delivery_ic_unnamed-XPJkyY {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-53-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 907px;
  width: 255px;
}

.overviewicon .group-41-pX8VIP {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .delivery_ic_default-pX8VIP {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-54-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 1017px;
  width: 255px;
}

.overviewicon .group-42-1YewaC {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .delivery_ic_freezer-1YewaC {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-55-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 1127px;
  width: 242px;
}

.overviewicon .group-43-VbnyDh {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .delivery_ic_freshsv-VbnyDh {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-56-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 1237px;
  width: 239px;
}

.overviewicon .delivery_ic_mailsvg-FmtwFs {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-57-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 1347px;
  width: 271px;
}

.overviewicon .homeicdeviceelectricity_black-NQNuIP {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .evcharging_ic_type01-NQNuIP {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .group-58-cXBBtx {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 1457px;
  width: 272px;
}

.overviewicon .icparkingmy_car-cOwMqx {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .evcharging_ic_type02-cOwMqx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .web-sub_-title-Xucq5b {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.overviewicon .sub-title-HnBlqc {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .web-title-area-Xucq5b {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewicon .web-tab-overview_touch-area-Xucq5b {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewicon .x3rd-depth-UXEE0B {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewicon .tab-UXEE0B {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewicon .icon_-device-icon-65Me6u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 104px;
}

.overviewicon .service-feature-type-65Me6u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.overviewicon .lnb-favorite-card-Xucq5b {
  background-color: transparent;
  height: 1167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .rectangle-xwf3kU {
  background-color: var(--concrete);
  height: 1167px;
  width: 320px;
}

.overviewicon .stacked-group-xwf3kU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewicon .web-index-title-common-4UZslR {
  margin: 0;
}

.overviewicon .group-zi8i9b {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .group-Yvhxnn {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-xFu7BQ {
  color: var(--curious-blue);
  font-weight: 600;
}

.overviewicon .web-expanded-Yvhxnn {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.overviewicon .button-0aqh3c {
  left: 1px;
  top: -3px;
  transform: rotate(90deg);
}

.overviewicon .web-index-contents1dpeth_close-copy-8-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-uTDB8B {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-X4g3f7 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-2-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-xYDQbP {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-LMRRRO {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-ULBKeN {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-VKp1xs {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-3-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-LHbtj4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-WubrSm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-4-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-0sxkpO {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-5JVs6N {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-5-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-EDhfVU {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-MnXexp {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .web-index-contents1dpeth_close-copy-6-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-5lkg0H {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-qXfAKw {
  color: var(--curious-blue);
  font-weight: 500;
}

.overviewicon .web-index-contents1dpeth_close-copy-7-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-HYD2H3 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicon .x2-death-title-QgLQxB {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicon .group-2sVrN5 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-GxR2QP {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-xxnhdj {
  left: -1px;
  top: -1px;
}

.overviewicon .group-JCVblx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-hlJJGP {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-y2GYZM {
  left: -1px;
  top: -1px;
}

.overviewicon .group-XBDHrG {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-G89nox {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-qRYYpb {
  left: -1px;
  top: -1px;
}

.overviewicon .web-index-contents1dpeth_open_selected-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-9iNvps {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-AaVhAm {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-xTJsOs {
  left: -1px;
  top: -1px;
}

.overviewicon .group-copy-4UZslR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .empty-xPVJ9C {
  top: 21px;
}

.overviewicon .empty-HKQyPq {
  top: 0px;
}

.overviewicon .web-index-title-common-copy-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-KmcP29 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .group-1SkvLx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-UxXnZ1 {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-fO76Bh {
  left: -1px;
  top: -1px;
}

.overviewicon .group-TOIJtZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .x1-depth-title-Nyp4SL {
  color: var(--shark);
  font-weight: 500;
}

.overviewicon .button-6ZFmdp {
  left: -1px;
  top: -1px;
}

.overviewicon .group-4UZslR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .empty-1KnyP4 {
  top: 21px;
}

.overviewicon .empty-K9pC2q {
  top: 0px;
}

.overviewicon .web-index-title-common-1Ghxg8 {
  margin: 0px 0 0 0;
}

.overviewicon .group-GwxOIq {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .group-copy-2-4UZslR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .empty-boU5df {
  top: 21px;
}

.overviewicon .empty-mJThZ3 {
  top: 0px;
}

.overviewicon .web-index-title-common-copy-2-4UZslR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicon .group-ZopNeF {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicon .line-xwf3kU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewicon .home-net-gui-guidelin-xwf3kU {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewicon .webgnb-Xucq5b {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewicon .rectangle-GBxq2L {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.overviewicon .background-GBxq2L {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewicon .index-GBxq2L {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewicon .web-index-select-AhM6ue {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewicon .web-index-unselect-AhM6ue {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewicon .web-index-unelect_main-GBxq2L {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.overviewicon .logo-cn26cH {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.overviewicon .group-38 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .group-44 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicon .home_ic_device_activ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .home_ic_device_windo {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .home_ic_status_admin {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .home_ic_status_visit {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .title {
  background-color: transparent;
  color: var(--shark);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .title-copy-3 {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.overviewicon .title-copy-6 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .title-copy-9 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicon .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
