/* screen - overviewicondeviceicon */

.overviewicondeviceicon {
  background-color: var(--white);
  height: 1452px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewicondeviceicon .group-40-A3k2lu {
  background-color: transparent;
  height: 800px;
  left: 420px;
  position: absolute;
  top: 338px;
  width: 1339px;
}

.overviewicondeviceicon .group-37-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 90px;
  width: 332px;
}

.overviewicondeviceicon .group-8-HGWdZS {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .elevator_unactivated-HGWdZS {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-34-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 0px;
  width: 227px;
}

.overviewicondeviceicon .group-7-qEGsQA {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-6-qEGsQA {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-3-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 240px;
}

.overviewicondeviceicon .group-TS7xQl {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-3-TS7xQl {
  height: 20px;
  left: 110px;
  top: 31px;
  white-space: nowrap;
}

.overviewicondeviceicon .group-22-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 90px;
  width: 346px;
}

.overviewicondeviceicon .group-4-NmJBzr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .light_bulb_unactivat-NmJBzr {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-33-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 0px;
  width: 237px;
}

.overviewicondeviceicon .group-9-6BCEuI {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-9-6BCEuI {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-32-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 90px;
  width: 343px;
}

.overviewicondeviceicon .group-10-8KdnWE {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .gas_valve_unactivate-8KdnWE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-23-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 270px;
  width: 216px;
}

.overviewicondeviceicon .group-11-sgFXiu {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-4-sgFXiu {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-24-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 360px;
  width: 321px;
}

.overviewicondeviceicon .group-12-5xC3Ia {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .switch_unactivated_d-5xC3Ia {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-39-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 360px;
  width: 309px;
}

.overviewicondeviceicon .group-14-MF4Uiu {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .vent_unactivated_dis-MF4Uiu {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-38-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 270px;
  width: 203px;
}

.overviewicondeviceicon .group-15-OLrljG {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-7-OLrljG {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-31-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 270px;
  width: 242px;
}

.overviewicondeviceicon .group-21-EW1Ary {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-10-EW1Ary {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-30-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 992px;
  position: absolute;
  top: 360px;
  width: 347px;
}

.overviewicondeviceicon .group-13-jWYyxX {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .system_ac_unactivate-jWYyxX {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-25-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 540px;
  width: 245px;
}

.overviewicondeviceicon .group-16-x5Ga6x {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-5-x5Ga6x {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-26-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 630px;
  width: 270px;
}

.overviewicondeviceicon .group-17-xBpix5 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .thermostat_disconnec-xBpix5 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-27-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 540px;
  width: 212px;
}

.overviewicondeviceicon .group-18-GPjTAy {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .title-copy-8-GPjTAy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-28-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 630px;
  width: 237px;
}

.overviewicondeviceicon .group-19-PMWPI1 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .shade_disconnected-PMWPI1 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .group-29-xqqYNr {
  background-color: transparent;
  height: 80px;
  left: 496px;
  position: absolute;
  top: 720px;
  width: 244px;
}

.overviewicondeviceicon .group-20-AgwYPV {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.overviewicondeviceicon .shade_ununactivated-AgwYPV {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .title-copy-3-A3k2lu {
  height: 80px;
  left: 420px;
  top: 1168px;
}

.overviewicondeviceicon .web-sub_-title-A3k2lu {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 280px;
  width: 360px;
}

.overviewicondeviceicon .sub-title-zYxr8w {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .se10x-smart-things_-A3k2lu {
  background-color: transparent;
  color: #00b0a6;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1213px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .web-title-area-A3k2lu {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewicondeviceicon .web-tab-overview_touch-area-A3k2lu {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewicondeviceicon .x3rd-depth-HrHCiH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewicondeviceicon .tab-HrHCiH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewicondeviceicon .icon_-device-icon-ZxxLf9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 105px;
}

.overviewicondeviceicon .service-feature-type-ZxxLf9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.overviewicondeviceicon .lnb-favorite-card-A3k2lu {
  background-color: transparent;
  height: 1167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .rectangle-AfsNg7 {
  background-color: var(--concrete);
  height: 1167px;
  width: 320px;
}

.overviewicondeviceicon .stacked-group-AfsNg7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewicondeviceicon .web-index-title-common-aO8x4d {
  margin: 0;
}

.overviewicondeviceicon .group-WlaQwe {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .group-W07jFk {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-059ryx {
  color: var(--curious-blue);
  font-weight: 600;
}

.overviewicondeviceicon .web-expanded-W07jFk {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.overviewicondeviceicon .button-N3bfCW {
  left: 1px;
  top: -3px;
  transform: rotate(90deg);
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-8-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-6vFU3g {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-xZU8lB {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-2-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-aemDXY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-2uNPz2 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-rdVovN {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-w5AphH {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-3-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-0LJyUu {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-05YBu9 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-4-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-4AvXPy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-hJUo12 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-5-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-klqGe4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-yxj1rJ {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-6-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-x4Ax1w {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-LT1c01 {
  color: var(--curious-blue);
  font-weight: 500;
}

.overviewicondeviceicon .web-index-contents1dpeth_close-copy-7-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-qcC5D0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x2-death-title-xy3tJx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.overviewicondeviceicon .group-oYhapS {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-vvybpu {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-zJQUlC {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .group-M6l12I {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-xYxrua {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-1zrLuG {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .group-CuOdnI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-UiTvBK {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-GCt4mu {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .web-index-contents1dpeth_open_selected-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-gK4KWq {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-vhYg2J {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-xxGk0L {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .group-copy-aO8x4d {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .empty-IaX7Ak {
  top: 21px;
}

.overviewicondeviceicon .empty-5oQYQZ {
  top: 0px;
}

.overviewicondeviceicon .web-index-title-common-copy-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-rdhfHc {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .group-7uw6N8 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-KzDFUQ {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-b5cgfx {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .group-rrRcyl {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .x1-depth-title-yN0GhI {
  color: var(--shark);
  font-weight: 500;
}

.overviewicondeviceicon .button-hOLE7m {
  left: -1px;
  top: -1px;
}

.overviewicondeviceicon .group-aO8x4d {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .empty-fixI5s {
  top: 21px;
}

.overviewicondeviceicon .empty-th9QXm {
  top: 0px;
}

.overviewicondeviceicon .web-index-title-common-haHGfx {
  margin: 0px 0 0 0;
}

.overviewicondeviceicon .group-V6GVVI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .group-copy-2-aO8x4d {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .empty-6w4Kzz {
  top: 21px;
}

.overviewicondeviceicon .empty-t0fSU5 {
  top: 0px;
}

.overviewicondeviceicon .web-index-title-common-copy-2-aO8x4d {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewicondeviceicon .group-PFBUCp {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewicondeviceicon .line-AfsNg7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewicondeviceicon .home-net-gui-guidelin-AfsNg7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewicondeviceicon .webgnb-A3k2lu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewicondeviceicon .rectangle-pnE3Qa {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.overviewicondeviceicon .background-pnE3Qa {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewicondeviceicon .index-pnE3Qa {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewicondeviceicon .web-index-select-XD8SZ4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewicondeviceicon .web-index-unselect-XD8SZ4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewicondeviceicon .web-index-unelect_main-pnE3Qa {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.overviewicondeviceicon .logo-iRZ2h0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.overviewicondeviceicon .title {
  background-color: transparent;
  color: var(--shark);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}

.overviewicondeviceicon .title-copy-3 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: auto;
}

.overviewicondeviceicon .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
