/* screen - tabletdeviceplugincurtainpartiallyopen */

.tabletdeviceplugincurtainpartiallyopen {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugincurtainpartiallyopen .group-5-copy-67vLwU {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy-xAY01U {
  height: 37px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-xmxLgt {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-EIaoxM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-EIaoxM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-K3rrrx {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-DsYKYk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-DsYKYk {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-xmxLgt {
  height: 31px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-NhsZ57 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-NhsZ57 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-M6IcT8 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-MmXkxS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-MmXkxS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-xTSO58 {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-N7cyhZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-N7cyhZ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-M6IcT8 {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-fYueqX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-fYueqX {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-dL2HKB {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-Fu5Cx2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-Fu5Cx2 {
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-H2TWxh {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-Pe1B7k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-Pe1B7k {
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-FQ0dOP {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-q7kQhk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-q7kQhk {
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .group-67vLwU {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdeviceplugincurtainpartiallyopen .group-copy-67vLwU {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdeviceplugincurtainpartiallyopen .web-sub_-title-67vLwU {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdeviceplugincurtainpartiallyopen .sub-title-YrekPb {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugincurtainpartiallyopen .web-title-area-67vLwU {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugincurtainpartiallyopen .web-tabc2-c_-common-67vLwU {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugincurtainpartiallyopen .x3rd-depth-UAUQm9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugincurtainpartiallyopen .tab-UAUQm9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdeviceplugincurtainpartiallyopen .x2-btn-CbTyUp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.tabletdeviceplugincurtainpartiallyopen .partially-open-case-CbTyUp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.tabletdeviceplugincurtainpartiallyopen .group-5-67vLwU {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-twrSvT {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-bbhIrc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-bbhIrc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-EeQBaA {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-1ryGoe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-1ryGoe {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-twrSvT {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-Ain4X0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-Ain4X0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy-rQqf2K {
  height: 59px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-rG8Pg1 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-wbsI5x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-wbsI5x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-Svn5Bx {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-CLHJsG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-CLHJsG {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-rG8Pg1 {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-GTMA3q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .group-GTMA3q {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-bhxaVy {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy-2-rQqf2K {
  height: 37px;
  top: 192px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-vnWxUz {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-2MmTKK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-2MmTKK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-znzA1L {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-yLk5Ui {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-yLk5Ui {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-vnWxUz {
  cursor: pointer;
  height: 31px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-WijsDN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-WijsDN {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy-2-DmrI0G {
  height: 59px;
  top: 239px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-wXo0xs {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-Ks5zzu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-Ks5zzu {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text1line-g3X1iU {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-0aMUq9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-0aMUq9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m-wXo0xs {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-sEGoXe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .group-sEGoXe {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .contents-CjsLYv {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-cYzBko {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-irxyRd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-irxyRd {
  width: 258px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-06qOeV {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-E8xBdl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-E8xBdl {
  width: 328px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-title-QgDHfM {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-elqhRU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugincurtainpartiallyopen .table-title-text-elqhRU {
  width: 38px;
}

.tabletdeviceplugincurtainpartiallyopen .lnbtablet_-device-plugin-67vLwU {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-FSFcbh {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdeviceplugincurtainpartiallyopen .line-FSFcbh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugincurtainpartiallyopen .home-net-gui-guidelin-FSFcbh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup15 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup15 .web-index-title-reference-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-NHXbyB {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup15 .title-kPl8gm {
  width: 72px;
}

.stackedgroup15 .group-6glLD1 {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-9fxZYK {
  bottom: 0px;
}

.stackedgroup15 .empty-uJOsts {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-5mLgYC {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup15 .title-2I2Y0R {
  width: 81px;
}

.stackedgroup15 .group-copy-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-MUVuFv {
  bottom: 0px;
}

.stackedgroup15 .empty-5Z2I5D {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-8OiChV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup15 .title-vFhkIP {
  width: 136px;
}

.stackedgroup15 .group-copy-2-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-copy-xSqfIe {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup15 .line-copy-2-xSqfIe {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup15 .empty-copy-2-xSqfIe {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-ZMByRy {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup15 .title-q2t3T2 {
  width: 50px;
}

.stackedgroup15 .web-index-contents2dpeth-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-BMmkYx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-mIuPjh {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-BsoEER {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-4-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-kZEpzx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-expanded-hT8zoz {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup15 .button-pPz21g {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup15 .x1-depth-title-hT8zoz {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup15 .web-index-contents2dpeth-copy-16-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-XJBjvi {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-Huiu4R {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-15-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-jKd3rx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-egizHJ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-14-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-rWn3Iz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-5quajD {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-13-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-ux6hGX {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-X6TISI {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-12-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-5RtJI7 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-nyu8tu {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-11-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-YZ275o {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-8G4ZVK {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-10-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-cvYFPB {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-TmGLzw {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-18-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-epacNA {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-cINj6c {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup15 .web-index-contents2dpeth-copy-17-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-Q3yxpx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-cwLXn5 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-19-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-CMWrqI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-iXxthv {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-9-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-VpMXHF {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .x2-death-title-XFM93a {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup15 .web-index-contents2dpeth-copy-5-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-ngxP5v {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-fgsJ0M {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdeviceplugincurtainpartiallyopen .webgnb-67vLwU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugincurtainpartiallyopen .rectangle-JMiT1Y {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdeviceplugincurtainpartiallyopen .background-JMiT1Y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugincurtainpartiallyopen .index-JMiT1Y {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdeviceplugincurtainpartiallyopen .web-index-select-cxYqrz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugincurtainpartiallyopen .web-index-unselect-cxYqrz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdeviceplugincurtainpartiallyopen .web-index-unelect_main-JMiT1Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugincurtainpartiallyopen .logo-zT4l3t {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup15 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdeviceplugincurtainpartiallyopen .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdeviceplugincurtainpartiallyopen .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugincurtainpartiallyopen .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdeviceplugincurtainpartiallyopen .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
