/* screen - tabletdevicepluginlightswitchtype */

.tabletdevicepluginlightswitchtype {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginlightswitchtype .group-H1GXsL {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginlightswitchtype .group-5-copy-H1GXsL {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdevicepluginlightswitchtype .group-2-copy-7gdq9r {
  height: 37px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-R6RgsO {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-tByMUK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-tByMUK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-hvlFYO {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-xAoDgJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-xAoDgJ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-R6RgsO {
  height: 31px;
}

.tabletdevicepluginlightswitchtype .rectangle-A5ARuJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .contents-A5ARuJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-AyBdqV {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-lv4otA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-lv4otA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-xhHHNv {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-mylAgr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-mylAgr {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-AyBdqV {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginlightswitchtype .rectangle-9ax4dn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .contents-9ax4dn {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-40CfLx {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-Gi5Qxw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .table-title-text-Gi5Qxw {
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-3nucTr {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .rectangle-Xc5r5Z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .table-title-text-Xc5r5Z {
  width: 328px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-smisNY {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-HTiMM2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .table-title-text-HTiMM2 {
  width: 38px;
}

.tabletdevicepluginlightswitchtype .group-copy-H1GXsL {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginlightswitchtype .web-sub_-title-H1GXsL {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginlightswitchtype .sub-title-EoxZC7 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginlightswitchtype .group-5-H1GXsL {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-5ONotO {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-SBSFnI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-SBSFnI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-rQncko {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-S0HVl8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-S0HVl8 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-5ONotO {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginlightswitchtype .rectangle-ohmxDj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .contents-ohmxDj {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .group-2-copy-b3C49S {
  height: 59px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-LhQq0x {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-QqP87o {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-QqP87o {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-3hQ2IX {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-Vb0vpc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-Vb0vpc {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-LhQq0x {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginlightswitchtype .rectangle-zk22c2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .group-zk22c2 {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .contents-gQzL46 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .group-2-copy-2-b3C49S {
  height: 37px;
  top: 192px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-PK8Tgj {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-FxvRgx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-FxvRgx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-vitV6O {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-Brj0eJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-Brj0eJ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-PK8Tgj {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginlightswitchtype .rectangle-qJUhxa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .contents-qJUhxa {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .group-2-copy-2-WJv0xO {
  height: 59px;
  top: 239px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-WnotoT {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-clyU3m {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .contents-clyU3m {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginlightswitchtype .table-guide-text1line-7QzxeT {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-6IZGpo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .contents-6IZGpo {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m-WnotoT {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginlightswitchtype .rectangle-xWmxkM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .group-xWmxkM {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .contents-5Rl5bp {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-g3j7Ke {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .rectangle-TLxKOx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginlightswitchtype .table-title-text-TLxKOx {
  width: 258px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-eDaiCu {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .rectangle-6zkHxo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .table-title-text-6zkHxo {
  width: 328px;
}

.tabletdevicepluginlightswitchtype .table-guide-title-GB9Fxt {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .rectangle-PZYU8t {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginlightswitchtype .table-title-text-PZYU8t {
  width: 38px;
}

.tabletdevicepluginlightswitchtype .web-title-area-H1GXsL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginlightswitchtype .web-tabc2-c_-common-H1GXsL {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginlightswitchtype .x3rd-depth-NOYBMK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginlightswitchtype .tab-NOYBMK {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginlightswitchtype .switch-type-hSQhXH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.tabletdevicepluginlightswitchtype .dimmer-type-hSQhXH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.tabletdevicepluginlightswitchtype .lnb-service-feature-H1GXsL {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginlightswitchtype .rectangle-itAmqp {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginlightswitchtype .line-itAmqp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginlightswitchtype .home-net-gui-guidelin-itAmqp {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jB1zcn {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-SDxNkY {
  width: 72px;
}

.stackedgroup2 .group-EHSxTt {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  bottom: 0px;
}

.stackedgroup2 .empty-ijbXHj {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-eSVtpN {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-xRU6yc {
  width: 81px;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  bottom: 0px;
}

.stackedgroup2 .empty-6Nhabs {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-WVVLw6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-s5zU3L {
  width: 136px;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-copy-NA9zcN {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-2-NA9zcN {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-copy-2-NA9zcN {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-024gcf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-R2QxRW {
  width: 50px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jDGOcL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-KU2Pod {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-tF2mwu {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-4-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-x83ktd {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-expanded-Pd66Wl {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup2 .button-RlXGx0 {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup2 .x1-depth-title-Pd66Wl {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-16-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-bxqjV9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-fIxxNm {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-15-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-AdANH7 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-h01sRs {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-14-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-Gkn2EI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-mGMYy6 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-13-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-8cQliM {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-9eD3UK {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup2 .web-index-contents2dpeth-copy-12-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-gO9MWt {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-aocFic {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-11-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-6nALEx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-xMEWlG {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-10-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-s2rHEe {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-HkEj8A {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-18-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-kjAcOx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-bmQRqe {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-17-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-KUHOlW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-NtHnHH {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-19-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jZJths {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-OCzl2i {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-9-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-DBGLDT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-T34b5x {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-5-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-xH7yi1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-6-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-ItG2x0 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginlightswitchtype .webgnb-H1GXsL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginlightswitchtype .rectangle-W1CZPT {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginlightswitchtype .background-W1CZPT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginlightswitchtype .index-W1CZPT {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginlightswitchtype .web-index-select-zPRatn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginlightswitchtype .web-index-unselect-zPRatn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginlightswitchtype .web-index-unelect_main-W1CZPT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginlightswitchtype .logo-s4O9YQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup2 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginlightswitchtype .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginlightswitchtype .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginlightswitchtype .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginlightswitchtype .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginlightswitchtype .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
