/* screen - tabletdeviceplugingasvalve */

.tabletdeviceplugingasvalve {
  background-color: var(--white);
  height: 1895px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugingasvalve .group-5-copy-ZHIXtb {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy-QMM0C8 {
  height: 37px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IZhvy0 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-XN8oRy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-XN8oRy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-V28CxM {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-GZ2470 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-GZ2470 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IZhvy0 {
  height: 31px;
}

.tabletdeviceplugingasvalve .rectangle-CxNrGJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-CxNrGJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-SI0Ci2 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-cobqeL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-cobqeL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-E9mIvU {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-R9x7tU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-R9x7tU {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-SI0Ci2 {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugingasvalve .rectangle-wKzdvT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-wKzdvT {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-KK03Tz {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-7yNMrU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-title-text-7yNMrU {
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-title-e4axpk {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugingasvalve .rectangle-vlsotG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugingasvalve .table-title-text-vlsotG {
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-YeUPT7 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-BF0dSq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-title-text-BF0dSq {
  width: 38px;
}

.tabletdeviceplugingasvalve .group-ZHIXtb {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdeviceplugingasvalve .group-copy-ZHIXtb {
  background-color: transparent;
  height: 507px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdeviceplugingasvalve .web-sub_-title-ZHIXtb {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdeviceplugingasvalve .sub-title-5WWqSj {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalve .web-title-area-ZHIXtb {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .web-tabc2-c_-common-ZHIXtb {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .x3rd-depth-U6J7B2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .tab-U6J7B2 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdeviceplugingasvalve .status-type-copy-9FknRS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 71px;
}

.tabletdeviceplugingasvalve .controller-type-9FknRS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.tabletdeviceplugingasvalve .lnb-service-feature-ZHIXtb {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .rectangle-NoB4hZ {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-NoB4hZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugingasvalve .home-net-gui-guidelin-NoB4hZ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup13 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup13 .web-index-title-reference-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-qTNEk3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-5pVMLi {
  width: 72px;
}

.stackedgroup13 .group-RPtMOJ {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-j7H5Yb {
  bottom: 0px;
}

.stackedgroup13 .empty-sonNDN {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-wk5Oug {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-z7Vwuq {
  width: 81px;
}

.stackedgroup13 .group-copy-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-GQXU62 {
  bottom: 0px;
}

.stackedgroup13 .empty-KRY9FR {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-gTn2FY {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-65pg3l {
  width: 136px;
}

.stackedgroup13 .group-copy-2-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-copy-PE08ay {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup13 .line-copy-2-PE08ay {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup13 .empty-copy-2-PE08ay {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-CexCxK {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-OLoex9 {
  width: 50px;
}

.stackedgroup13 .web-index-contents2dpeth-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-xk2Pbt {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-cfFACP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-Yyh8dH {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-4-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-D1CHdS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-expanded-jz1Rh3 {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup13 .button-FIv6An {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup13 .x1-depth-title-jz1Rh3 {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup13 .web-index-contents2dpeth-copy-16-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-vGZMFw {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-nkxZMh {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-15-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-lQqrM2 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-HV8T2S {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup13 .web-index-contents2dpeth-copy-14-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-hkxNa6 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-dIZRxe {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-13-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-IzL1dR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-CP4g3L {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-12-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-DRXR9F {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-jQA0JQ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-11-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-1giEPL {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-oxesKQ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-10-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-70bIfI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-1DmsFH {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-18-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-pFyzJE {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-MxIeM3 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-17-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-jsMmXI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-lrkJpx {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-19-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-SSWsgW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-a3XRHO {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-9-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-2FenpR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-xbyaua {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-5-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-VowxNt {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-6-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-7plxCX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdeviceplugingasvalve .webgnb-ZHIXtb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .rectangle-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .background-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .index-QI5Wv6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdeviceplugingasvalve .web-index-select-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalve .web-index-unselect-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdeviceplugingasvalve .web-index-unelect_main-QI5Wv6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .logo-BLrMko {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-5-ZHIXtb {
  background-color: transparent;
  height: 296px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IM0wjU {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-YHz79v {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-YHz79v {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-8qlxfS {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-A6eSWe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-A6eSWe {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IM0wjU {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugingasvalve .rectangle-MdSjth {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-MdSjth {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-xEJ0pj {
  height: 59px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-VDExBx {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-lx0GbF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-lx0GbF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-zYxCvT {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-cvXvGt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-cvXvGt {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-VDExBx {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugingasvalve .rectangle-PeWuhu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-PeWuhu {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .contents-7urEG4 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xEJ0pj {
  height: 37px;
  top: 190px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-M1WfqS {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-HHApMI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-HHApMI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-1XnKyA {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-5stmpy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-5stmpy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-M1WfqS {
  cursor: pointer;
  height: 31px;
}

.tabletdeviceplugingasvalve .rectangle-0Gt8EA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-0Gt8EA {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xudVkG {
  height: 59px;
  top: 237px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-2mQ2Cp {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-MhmdK0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-MhmdK0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-woxicx {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-MT4HZW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-MT4HZW {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-2mQ2Cp {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugingasvalve .rectangle-YgI0zO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-YgI0zO {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .contents-BMpT0x {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-I9iWMh {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-6MkF7G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-title-text-6MkF7G {
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-title-99RStU {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugingasvalve .rectangle-wMSg4z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugingasvalve .table-title-text-wMSg4z {
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-5sbg7O {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-DlP5ql {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-title-text-DlP5ql {
  width: 38px;
}

.stackedgroup13 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdeviceplugingasvalve .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdeviceplugingasvalve .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdeviceplugingasvalve .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
