/* screen - tabletdevicepluginelevatortwobuttontype */

.tabletdevicepluginelevatortwobuttontype {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginelevatortwobuttontype .group-5-copy-bTOtJq {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdevicepluginelevatortwobuttontype .group-2-copy-ElrVKW {
  height: 37px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-jF2569 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-xneFbP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .contents-xneFbP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-GwqC2g {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-GksNFE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .contents-GksNFE {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m-jF2569 {
  height: 31px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-it3m0A {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .contents-it3m0A {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-6Ks6SW {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-XFCqjG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .contents-XFCqjG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-A5Av0x {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-nJlhCx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .contents-nJlhCx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m-6Ks6SW {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-4x88dQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .contents-4x88dQ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-1PVx0Q {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-px6f61 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-px6f61 {
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-Xu6xfP {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-EhGiHm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-EhGiHm {
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-flaPU7 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-oN8F5L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-oN8F5L {
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .group-5-bTOtJq {
  background-color: transparent;
  height: 227px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-KnwO5g {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-IxCfrk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .contents-IxCfrk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-nxb7K6 {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-PxxKEk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .contents-PxxKEk {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m-KnwO5g {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-DiL3iG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .contents-DiL3iG {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .group-2-copy-Vqn2QH {
  height: 59px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-sh2t1G {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-ydeneG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .contents-ydeneG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-XcxuNK {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-AKyQSs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .contents-AKyQSs {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m-sh2t1G {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-kEnMba {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .group-kEnMba {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .title-HDZRdj {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .contents-HDZRdj {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .group-2-copy-2-Vqn2QH {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-Tx2ohx {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-p2KnPk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .contents-p2KnPk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text1line-Xietzt {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-HIN3ha {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .contents-HIN3ha {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m-Tx2ohx {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-9lhT7l {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .contents-9lhT7l {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-ratMKI {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-ZZcC7u {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-ZZcC7u {
  width: 258px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-4N88J7 {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-KDkRj2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-KDkRj2 {
  width: 328px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-title-EqFlwm {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-zDCTsl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginelevatortwobuttontype .table-title-text-zDCTsl {
  width: 38px;
}

.tabletdevicepluginelevatortwobuttontype .group-bTOtJq {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginelevatortwobuttontype .group-copy-bTOtJq {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginelevatortwobuttontype .web-sub_-title-bTOtJq {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginelevatortwobuttontype .sub-title-kmraQ2 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginelevatortwobuttontype .web-title-area-bTOtJq {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginelevatortwobuttontype .web-tabc2-c_-common-bTOtJq {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginelevatortwobuttontype .x3rd-depth-kYxN0e {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginelevatortwobuttontype .tab-kYxN0e {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginelevatortwobuttontype .one-button-type-qKpgRc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 101px;
}

.tabletdevicepluginelevatortwobuttontype .two-button-type-qKpgRc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 101px;
}

.tabletdevicepluginelevatortwobuttontype .lnb-service-feature-bTOtJq {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-KvHKTH {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginelevatortwobuttontype .line-KvHKTH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginelevatortwobuttontype .home-net-gui-guidelin-KvHKTH {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup22 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup22 .web-index-title-reference-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-RT6i25 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-vwezFn {
  width: 72px;
}

.stackedgroup22 .group-MSm7nV {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-cuAAUT {
  bottom: 0px;
}

.stackedgroup22 .empty-h2bLti {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-AF0tF2 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-e05UOu {
  width: 81px;
}

.stackedgroup22 .group-copy-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-Ss487G {
  bottom: 0px;
}

.stackedgroup22 .empty-BNIP8t {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-oAViF3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-UG0KEl {
  width: 136px;
}

.stackedgroup22 .group-copy-2-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-copy-xViNmL {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup22 .line-copy-2-xViNmL {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup22 .empty-copy-2-xViNmL {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-index-title-reference-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-kpx8sP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-x3EaPg {
  width: 50px;
}

.stackedgroup22 .web-index-contents2dpeth-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-qdJ2LJ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-1CbIIP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-EQFNEo {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-4-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-NldTsf {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-expanded-yuBohL {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup22 .button-VWCIuV {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup22 .x1-depth-title-yuBohL {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup22 .web-index-contents2dpeth-copy-16-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-j6evyw {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-x8QtVJ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-15-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-Kcpt6O {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-PfTjEf {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-14-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-ZUZqxx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-Pk0zXQ {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup22 .web-index-contents2dpeth-copy-13-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-20CkNg {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-jhxYMY {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-12-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-7GLIcg {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-13ES6F {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-11-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-kvfGwD {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-wrrxRR {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-10-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-gMeLHM {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-Bke7GH {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-18-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-TQQcUl {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-MsPDJc {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-17-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-xms3Gb {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-qqilQx {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-19-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-9oxW21 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-Qbxo7e {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-9-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-7r43eV {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-apwqXq {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents2dpeth-copy-5-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-30SqS1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-index-contents2dpeth-copy-6-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-VRbynO {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginelevatortwobuttontype .webgnb-bTOtJq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginelevatortwobuttontype .rectangle-xb0270 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginelevatortwobuttontype .background-xb0270 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginelevatortwobuttontype .index-xb0270 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginelevatortwobuttontype .web-index-select-3SSMqB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginelevatortwobuttontype .web-index-unselect-3SSMqB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginelevatortwobuttontype .web-index-unelect_main-xb0270 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginelevatortwobuttontype .logo-79pR8K {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup22 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginelevatortwobuttontype .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginelevatortwobuttontype .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginelevatortwobuttontype .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginelevatortwobuttontype .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
