/* screen - tabletdeviceplugintimeroutinetimer */

.tabletdeviceplugintimeroutinetimer {
  background-color: var(--white);
  height: 1945px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugintimeroutinetimer .group-5-xtqr5R {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-QaSJmX {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-sZzP6x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .contents-sZzP6x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-GJj4GD {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-xHjusg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .contents-xHjusg {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text2line_m-QaSJmX {
  height: 51px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-rQDhMm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .contents-rQDhMm {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-R2xp5p {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-pjxYC4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .contents-pjxYC4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-HhtT49 {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-cWVnfy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .contents-cWVnfy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text2line_m-R2xp5p {
  height: 53px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-LPslX1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .contents-1Uwesn {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-i1BnIY {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-pjHlwG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-pjHlwG {
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-G18HuL {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-bX2x03 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-bX2x03 {
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-OfAL6I {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-KBlcQ9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-KBlcQ9 {
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .group-5-copy-xtqr5R {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-AfVOmU {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-GBQPrx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .contents-GBQPrx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-seZjjs {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-jFq3Yz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .contents-jFq3Yz {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text2line_m-AfVOmU {
  height: 51px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-xlw2sF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .contents-xlw2sF {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-JweIaP {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-sCngph {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .contents-sCngph {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text1line-VvxrvZ {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-Nk79qT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .contents-Nk79qT {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text2line_m-JweIaP {
  height: 53px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-GTHgOP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .contents-Zu9wD0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-lIJixa {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-rWNRpB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-rWNRpB {
  width: 258px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-OleZJq {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-vRxPzE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-vRxPzE {
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-title-gqZnap {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-etGxbt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugintimeroutinetimer .table-title-text-etGxbt {
  width: 38px;
}

.tabletdeviceplugintimeroutinetimer .group-copy-2-xtqr5R {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletdeviceplugintimeroutinetimer .group-copy-5-xtqr5R {
  background-color: transparent;
  height: 507px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdeviceplugintimeroutinetimer .web-sub_-title-xtqr5R {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdeviceplugintimeroutinetimer .sub-title-DN6fQc {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugintimeroutinetimer .web-title-area-xtqr5R {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugintimeroutinetimer .web-tabc2-c_-common-xtqr5R {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugintimeroutinetimer .x3rd-depth-Gy6xzV {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugintimeroutinetimer .tab-Gy6xzV {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdeviceplugintimeroutinetimer .keyscreen-cer9Lw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.tabletdeviceplugintimeroutinetimer .time-routine_-power-cer9Lw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 158px;
}

.tabletdeviceplugintimeroutinetimer .time-routine_-timer-cer9Lw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.tabletdeviceplugintimeroutinetimer .activity-history-copy-cer9Lw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.tabletdeviceplugintimeroutinetimer .edit-cer9Lw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.tabletdeviceplugintimeroutinetimer .lnb-service-feature-xtqr5R {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-5A14pL {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdeviceplugintimeroutinetimer .line-5A14pL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugintimeroutinetimer .home-net-gui-guidelin-5A14pL {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup17 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup17 .web-index-title-reference-copy-2-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-YasH8O {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup17 .title-jyFs6Q {
  width: 72px;
}

.stackedgroup17 .group-AkAyiQ {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup17 .empty-DydNdN {
  bottom: 0px;
}

.stackedgroup17 .empty-jCvx6R {
  top: 0px;
}

.stackedgroup17 .web-index-title-reference-copy-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-A6mAph {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup17 .title-vxxN2U {
  width: 81px;
}

.stackedgroup17 .group-copy-AkAyiQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .empty-In3IDA {
  bottom: 0px;
}

.stackedgroup17 .empty-hEHyPE {
  top: 0px;
}

.stackedgroup17 .web-index-title-reference-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-vjJJ0y {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup17 .title-o22KsD {
  width: 136px;
}

.stackedgroup17 .group-copy-2-AkAyiQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .empty-copy-SwsVsb {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup17 .line-copy-2-SwsVsb {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup17 .empty-copy-2-SwsVsb {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-index-title-reference-copy-3-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-JLa6Cx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup17 .title-tblsH4 {
  width: 50px;
}

.stackedgroup17 .web-index-contents2dpeth-copy-3-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-713OnA {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-index-contents2dpeth-copy-2-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-6G4kcP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-index-contents2dpeth-copy-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-nm3mpf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-index-contents2dpeth-copy-4-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-pBSDvz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-expanded-c1hbhp {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup17 .button-fiL7Iy {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup17 .x1-depth-title-c1hbhp {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup17 .web-index-contents2dpeth-copy-16-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-XrewvE {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-17r93W {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup17 .web-index-contents2dpeth-copy-15-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-BBuu9S {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-UNRJZi {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-14-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-SVEr8V {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-1DC7m9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-13-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-kHqpL3 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-ExJv5T {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-12-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-1Zi8Bw {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-BevGQ9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-11-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-dAsXgR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-ndrmPk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-10-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-kxcl1h {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-lxbgaj {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-18-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-Rv3tkK {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-asHAxk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-17-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-4TCXak {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-hyBdkn {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-19-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-VHdjSp {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-GPhIhP {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-9-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-qk0moV {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .x2-death-title-Y31xt4 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup17 .web-index-contents2dpeth-copy-5-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-tLXRev {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup17 .web-index-contents2dpeth-copy-6-AkAyiQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup17 .group-mgZDVV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdeviceplugintimeroutinetimer .webgnb-xtqr5R {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintimeroutinetimer .rectangle-xnezoc {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdeviceplugintimeroutinetimer .background-xnezoc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintimeroutinetimer .index-xnezoc {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdeviceplugintimeroutinetimer .web-index-select-Osqcuh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugintimeroutinetimer .web-index-unselect-Osqcuh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdeviceplugintimeroutinetimer .web-index-unelect_main-xnezoc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdeviceplugintimeroutinetimer .logo-5K9sU6 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup17 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdeviceplugintimeroutinetimer .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdeviceplugintimeroutinetimer .group-1 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugintimeroutinetimer .group-2-copy {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugintimeroutinetimer .table-guide-text2line_m {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
