/* screen - tabletdevicepluginairconditioneroptionon1column */

.tabletdevicepluginairconditioneroptionon1column {
  background-color: var(--white);
  height: 1448px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon1column .group-5-PR32Gq {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon1column .descriptiontabletop-VnyGWZ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-title-SQT3CI {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-6q2axc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .table-title-text-6q2axc {
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-title-IxWObz {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-NaDB5j {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon1column .table-title-text-NaDB5j {
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-title-HFXAdK {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-KTAzFN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .table-title-text-KTAzFN {
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon1column .group-2-VnyGWZ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text1line-beIGkl {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-AtkvVt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-AtkvVt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text1line-wxM37x {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-gT09Uo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-gT09Uo {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text2line_m-beIGkl {
  height: 51px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-veXiNd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-veXiNd {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon1column .group-2-copy-VnyGWZ {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text1line-4xtMUe {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-LEJtdj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-LEJtdj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text1line-v1i60C {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-NrhxZj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-NrhxZj {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text2line_m-4xtMUe {
  height: 53px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-aYFAB9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon1column .group-aYFAB9 {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon1column .title-yDBhqq {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon1column .contents-yDBhqq {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon1column .group-PR32Gq {
  height: 906px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginairconditioneroptionon1column .web-sub_-title-PR32Gq {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginairconditioneroptionon1column .sub-title-gMWxF4 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginairconditioneroptionon1column .web-title-area-PR32Gq {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon1column .web-tabc2-c_-common-PR32Gq {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon1column .x3rd-depth-jlxy7a {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon1column .option_on-jlxy7a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 66px;
}

.tabletdevicepluginairconditioneroptionon1column .option_on_1-column-jlxy7a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 216px;
  position: absolute;
  top: 0px;
  width: 129px;
}

.tabletdevicepluginairconditioneroptionon1column .option_on_2-column-jlxy7a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0px;
  width: 133px;
}

.tabletdevicepluginairconditioneroptionon1column .lnbtablet_-device-plugin-PR32Gq {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-SF5ETM {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon1column .line-SF5ETM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginairconditioneroptionon1column .home-net-gui-guidelin-SF5ETM {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup18 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup18 .web-index-title-reference-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-u0Bkli {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup18 .title-BVmHIr {
  width: 72px;
}

.stackedgroup18 .group-DB1bXV {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-TCnAhn {
  bottom: 0px;
}

.stackedgroup18 .empty-a0vM2w {
  top: 0px;
}

.stackedgroup18 .web-index-title-reference-copy-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-JVF6Es {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup18 .title-divV13 {
  width: 81px;
}

.stackedgroup18 .group-copy-DB1bXV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-gEjEjT {
  bottom: 0px;
}

.stackedgroup18 .empty-458w1n {
  top: 0px;
}

.stackedgroup18 .web-index-title-reference-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-DYlISF {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup18 .title-kuO87E {
  width: 136px;
}

.stackedgroup18 .group-copy-2-DB1bXV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-copy-Tk3PPK {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup18 .line-copy-2-Tk3PPK {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup18 .empty-copy-2-Tk3PPK {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-copy-3-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-kOCxnD {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup18 .title-Tp7kqC {
  width: 50px;
}

.stackedgroup18 .web-index-contents2dpeth-copy-3-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-Xb9Ie1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-rPtR5z {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-nRL61n {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-4-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-gGqW6k {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-expanded-f0s5CL {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup18 .button-WS8bqO {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup18 .x1-depth-title-f0s5CL {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup18 .web-index-contents2dpeth-copy-16-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-sGQGWr {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-PBSdsn {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-15-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-uMP6Fz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-Rxpk8r {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-14-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-RPSY0V {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-04Nj1P {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-13-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-byUKH9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-yg5M3A {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-12-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-nfKfzB {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-BcnWix {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-11-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-ZsXU69 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-GguAm7 {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup18 .web-index-contents2dpeth-copy-10-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-D8aMxh {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-F92FHk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-18-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-7S23Hm {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-uo6Nn0 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-17-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-VSh1YB {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-jrZxBQ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-19-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-x0KTtx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-iqDjPz {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-9-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-PrJxO8 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .x2-death-title-o6xxR7 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup18 .web-index-contents2dpeth-copy-5-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-XLxjRF {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-contents2dpeth-copy-6-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-bsi57t {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginairconditioneroptionon1column .webgnb-PR32Gq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon1column .rectangle-glrFiE {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon1column .background-glrFiE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon1column .index-glrFiE {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginairconditioneroptionon1column .web-index-select-TwXx3x {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginairconditioneroptionon1column .web-index-unselect-TwXx3x {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginairconditioneroptionon1column .web-index-unelect_main-glrFiE {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon1column .logo-WVen8h {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup18 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginairconditioneroptionon1column .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginairconditioneroptionon1column .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginairconditioneroptionon1column .table-guide-text2line_m {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
