/* screen - tabletdevicepluginairconditioneroptionon */

.tabletdevicepluginairconditioneroptionon {
  background-color: var(--white);
  height: 1909px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon .group-5-copy-V5Qsqy {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy-APJ2fR {
  height: 37px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-FRzXGS {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-BkZxxX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-BkZxxX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-x0zmOd {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-buha0w {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-buha0w {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-FRzXGS {
  height: 31px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-npHfxd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .contents-npHfxd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-arik6F {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-wYySGx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-wYySGx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-BFIghn {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-zkIUep {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-zkIUep {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-arik6F {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-nRymdv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .contents-nRymdv {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-GgyfDQ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-iItEzm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-iItEzm {
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-TgdK1m {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-0PIzhu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-0PIzhu {
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-9ntTnT {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-NAIQ8y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-NAIQ8y {
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .group-V5Qsqy {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginairconditioneroptionon .group-copy-V5Qsqy {
  background-color: transparent;
  height: 521px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginairconditioneroptionon .web-sub_-title-V5Qsqy {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginairconditioneroptionon .sub-title-TKUInE {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginairconditioneroptionon .group-5-V5Qsqy {
  background-color: transparent;
  height: 318px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-4c447E {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-fYeQ5x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-fYeQ5x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-ClL1RS {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-qjta8O {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-qjta8O {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-4c447E {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-lIqpd1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .contents-lIqpd1 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy-ks1i9C {
  height: 59px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-90K12G {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-Grmq0r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-Grmq0r {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-32GzbQ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-OLbIVT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-OLbIVT {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-90K12G {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-lri6Lt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .group-lri6Lt {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .contents-xz4qke {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy-2-ks1i9C {
  height: 57px;
  top: 192px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-0gfpEZ {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-IxvGlW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-IxvGlW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-vXt6rm {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-jvzPsh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-jvzPsh {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-0gfpEZ {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-goadxq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .contents-goadxq {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy-2-3aYHa0 {
  height: 59px;
  top: 259px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-NExwnZ {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-xEHf88 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .contents-xEHf88 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text1line-rmF9e5 {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-sr6YCi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .contents-sr6YCi {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m-NExwnZ {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-BxQxWx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .group-BxQxWx {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .contents-2hFpQ6 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-dr37yZ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-lxykxY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-lxykxY {
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-TkcVQw {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-8pE8Jb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-8pE8Jb {
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-title-I7ZgjB {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-M9cSVf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon .table-title-text-M9cSVf {
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon .web-title-area-V5Qsqy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon .web-tabc2-c_-common-V5Qsqy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon .x3rd-depth-iTahX3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon .option_on-iTahX3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 66px;
}

.tabletdevicepluginairconditioneroptionon .option_on_1-column-iTahX3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 216px;
  position: absolute;
  top: 0px;
  width: 129px;
}

.tabletdevicepluginairconditioneroptionon .option_on_2-column-iTahX3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0px;
  width: 133px;
}

.tabletdevicepluginairconditioneroptionon .lnbtablet_-device-plugin-V5Qsqy {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-CkmlOK {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon .line-CkmlOK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginairconditioneroptionon .home-net-gui-guidelin-CkmlOK {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup4 .web-index-title-reference-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-QJAx6h {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-2TTRXV {
  width: 72px;
}

.stackedgroup4 .group-RfN8gY {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-Pulfru {
  bottom: 0px;
}

.stackedgroup4 .empty-Bt6eWj {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-4ACX9q {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-hPReiv {
  width: 81px;
}

.stackedgroup4 .group-copy-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-r1utqI {
  bottom: 0px;
}

.stackedgroup4 .empty-NBNy5e {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-4dRUzG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-P49jek {
  width: 136px;
}

.stackedgroup4 .group-copy-2-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-copy-YUNPyn {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup4 .line-copy-2-YUNPyn {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup4 .empty-copy-2-YUNPyn {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-7ZDJEG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-1Ld0uJ {
  width: 50px;
}

.stackedgroup4 .web-index-contents2dpeth-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-jFE7xR {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-oAs0rr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-LMEIZL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-4-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-KmOZO1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-expanded-L6xLMA {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup4 .button-OR66A8 {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup4 .x1-depth-title-L6xLMA {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup4 .web-index-contents2dpeth-copy-16-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-fRx5oS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-UWYUBo {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-15-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-BN8myf {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-38RhPk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-14-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-NxLkCR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-tdWkq4 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-13-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-6uvsxc {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-QZU63y {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-12-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-QyE9Fi {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-7FgSZ9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-11-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-8D6BmW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-pAeipz {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup4 .web-index-contents2dpeth-copy-10-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-MPExel {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-CgUVxY {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-18-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-xbn9ED {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-8bFtWC {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-17-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-rDf5Fo {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-5jPnxa {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-19-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-ARZpyZ {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-HXcBSx {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-9-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-hnJIJr {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-EKxEgv {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-5-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-xx9jAH {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-6-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-geVBLX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginairconditioneroptionon .webgnb-V5Qsqy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon .rectangle-PDaKRv {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon .background-PDaKRv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon .index-PDaKRv {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginairconditioneroptionon .web-index-select-ngfvBU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginairconditioneroptionon .web-index-unselect-ngfvBU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginairconditioneroptionon .web-index-unelect_main-PDaKRv {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon .logo-31uCfy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup4 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginairconditioneroptionon .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginairconditioneroptionon .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
