/* screen - tabletdevicepluginsmartplug */

.tabletdevicepluginsmartplug {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginsmartplug .group-5-FB2ujC {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-FxuzM5 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-rgPDX9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-rgPDX9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-fU7jKB {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-lAA6EE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-lAA6EE {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-FxuzM5 {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginsmartplug .rectangle-PAny5p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .contents-PAny5p {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartplug .group-2-copy-ZyLEfI {
  height: 59px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-DWJCn2 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-zA1rWI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-zA1rWI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-hDI5w2 {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-oGtYds {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-oGtYds {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-DWJCn2 {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginsmartplug .rectangle-abZhPd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .group-abZhPd {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartplug .contents-xzhAjp {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartplug .group-2-copy-2-ZyLEfI {
  height: 37px;
  top: 192px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-WD5NwB {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-Z3LdlX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-Z3LdlX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-mzjXDM {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-6oP0tF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-6oP0tF {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-WD5NwB {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginsmartplug .rectangle-kWtchX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .contents-kWtchX {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartplug .group-2-copy-2-NOxZuo {
  height: 59px;
  top: 239px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-vdy7CQ {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-FcM6Y3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-FcM6Y3 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-udMUHZ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-YcQjxX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-YcQjxX {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-vdy7CQ {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginsmartplug .rectangle-ONDQ6a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .group-ONDQ6a {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartplug .contents-vNANfV {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartplug .table-guide-title-sLUodW {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-JpYvJK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginsmartplug .table-title-text-JpYvJK {
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-title-dw43JJ {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginsmartplug .rectangle-LTurp9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginsmartplug .table-title-text-LTurp9 {
  width: 328px;
}

.tabletdevicepluginsmartplug .table-guide-title-HkkxUk {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-iURfnP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginsmartplug .table-title-text-iURfnP {
  width: 38px;
}

.tabletdevicepluginsmartplug .group-5-copy-FB2ujC {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdevicepluginsmartplug .group-2-copy-klT5Xo {
  height: 37px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-tsGEY0 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-IKdBE4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-IKdBE4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-yx6xfC {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-WAfkq1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-WAfkq1 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-tsGEY0 {
  height: 31px;
}

.tabletdevicepluginsmartplug .rectangle-xxxZQq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .contents-xxxZQq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-8z1Fb1 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-C3fwWL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartplug .contents-C3fwWL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartplug .table-guide-text1line-fhKXSB {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-t1CMGC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartplug .contents-t1CMGC {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m-8z1Fb1 {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginsmartplug .rectangle-i5QqDL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartplug .contents-i5QqDL {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartplug .table-guide-title-MQc3Ql {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartplug .rectangle-Rduj8g {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginsmartplug .table-title-text-Rduj8g {
  width: 258px;
}

.tabletdevicepluginsmartplug .table-guide-title-jp1xZx {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginsmartplug .rectangle-8W8Xl1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginsmartplug .table-title-text-8W8Xl1 {
  width: 328px;
}

.tabletdevicepluginsmartplug .table-guide-title-1Hyvyv {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartplug .rectangle-2Uzfpb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginsmartplug .table-title-text-2Uzfpb {
  width: 38px;
}

.tabletdevicepluginsmartplug .group-FB2ujC {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginsmartplug .group-copy-FB2ujC {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginsmartplug .web-sub_-title-FB2ujC {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginsmartplug .sub-title-hfzGpL {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginsmartplug .web-title-area-FB2ujC {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginsmartplug .web-tabc2-c_-common-FB2ujC {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginsmartplug .x3rd-depth-SBRfdd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginsmartplug .tab-SBRfdd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginsmartplug .smart-plug-qO3QA4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 69px;
}

.tabletdevicepluginsmartplug .lnbtablet_-device-plugin-FB2ujC {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartplug .rectangle-yOxq5s {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginsmartplug .line-yOxq5s {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginsmartplug .home-net-gui-guidelin-yOxq5s {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup12 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup12 .web-index-title-reference-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-xruup6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-lxKcVC {
  width: 72px;
}

.stackedgroup12 .group-Wu9aHG {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-cI2Xkp {
  bottom: 0px;
}

.stackedgroup12 .empty-Lc5deE {
  top: 0px;
}

.stackedgroup12 .web-index-title-reference-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-NxOaEx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-hn1w3Q {
  width: 81px;
}

.stackedgroup12 .group-copy-Wu9aHG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-xRGKFn {
  bottom: 0px;
}

.stackedgroup12 .empty-TNVLWF {
  top: 0px;
}

.stackedgroup12 .web-index-title-reference-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-8pAEvx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-wFSXko {
  width: 136px;
}

.stackedgroup12 .group-copy-2-Wu9aHG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-copy-2rfmdh {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup12 .line-copy-2-2rfmdh {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup12 .empty-copy-2-2rfmdh {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-title-reference-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-252yOU {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-7YmqWj {
  width: 50px;
}

.stackedgroup12 .web-index-contents2dpeth-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-u6J6Vv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Xrga8e {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-UxNTOP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-4-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-rOVfZ9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-expanded-e33AFA {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup12 .button-QEEotk {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup12 .x1-depth-title-e33AFA {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup12 .web-index-contents2dpeth-copy-16-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-yDmfgy {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-0LVsBZ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-15-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-E0mwl1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-kw5xQk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-14-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-ieuoFx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-lG4p1x {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-13-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-rbbk4T {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-VxkwZP {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-12-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-ARRNtN {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-4srM4F {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-11-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-nQClMa {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-ikMbVp {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-10-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Tve2yv {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-EtSlx5 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-18-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-FzNQri {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-jDSYb9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-17-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Hi43je {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-dm54Kv {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-19-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-RbxZmR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-ov7hpf {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup12 .web-index-contents2dpeth-copy-9-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-lkBEGM {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-qItejW {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-5-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-l3Jse7 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-6-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-v9jnjv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginsmartplug .webgnb-FB2ujC {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartplug .rectangle-U5fFgT {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginsmartplug .background-U5fFgT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartplug .index-U5fFgT {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginsmartplug .web-index-select-0DFKsu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginsmartplug .web-index-unselect-0DFKsu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginsmartplug .web-index-unelect_main-U5fFgT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginsmartplug .logo-BqRYNZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup12 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginsmartplug .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginsmartplug .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginsmartplug .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginsmartplug .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginsmartplug .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
