/* screen - tabletdevicepluginairconditioneroptionon2column */

.tabletdevicepluginairconditioneroptionon2column {
  background-color: var(--white);
  height: 1238px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon2column .group-jDo8LG {
  height: 637px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginairconditioneroptionon2column .web-sub_-title-jDo8LG {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginairconditioneroptionon2column .sub-title-qpaGZS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginairconditioneroptionon2column .group-5-jDo8LG {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon2column .descriptiontabletop-6FDmvi {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon2column .group-2-6FDmvi {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text1line-hcdxaN {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-9RxPYM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-9RxPYM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text1line-LUWHxG {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-V4uUv0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-V4uUv0 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text2line_m-hcdxaN {
  height: 51px;
  left: 60px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-bpDxwq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-bpDxwq {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon2column .group-2-copy-6FDmvi {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text1line-JShJa8 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-JaojyJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-JaojyJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text1line-mGF94n {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-ckS21E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-ckS21E {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text2line_m-JShJa8 {
  height: 53px;
  left: 63px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-WsH8Mc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon2column .group-WsH8Mc {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon2column .title-ynEd8G {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon2column .contents-ynEd8G {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginairconditioneroptionon2column .web-title-area-jDo8LG {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon2column .web-tabc2-c_-common-jDo8LG {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon2column .x3rd-depth-0JUt5V {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginairconditioneroptionon2column .option_on-0JUt5V {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 66px;
}

.tabletdevicepluginairconditioneroptionon2column .option_on_1-column-0JUt5V {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 216px;
  position: absolute;
  top: 0px;
  width: 129px;
}

.tabletdevicepluginairconditioneroptionon2column .option_on_2-column-0JUt5V {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0px;
  width: 134px;
}

.tabletdevicepluginairconditioneroptionon2column .lnbtablet_-device-plugin-jDo8LG {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-Kc51Zx {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginairconditioneroptionon2column .line-Kc51Zx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginairconditioneroptionon2column .home-net-gui-guidelin-Kc51Zx {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup20 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup20 .web-index-title-reference-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-Uj4qCS {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup20 .title-xm3rjE {
  width: 72px;
}

.stackedgroup20 .group-5NjPHy {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-Ynl6JK {
  bottom: 0px;
}

.stackedgroup20 .empty-9e4rDm {
  top: 0px;
}

.stackedgroup20 .web-index-title-reference-copy-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-8jRzJo {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup20 .title-S60d1U {
  width: 81px;
}

.stackedgroup20 .group-copy-5NjPHy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-95YSuY {
  bottom: 0px;
}

.stackedgroup20 .empty-YCdKLi {
  top: 0px;
}

.stackedgroup20 .web-index-title-reference-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-KRSPx3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup20 .title-PxjCG4 {
  width: 136px;
}

.stackedgroup20 .group-copy-2-5NjPHy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .empty-copy-aq6tkn {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup20 .line-copy-2-aq6tkn {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup20 .empty-copy-2-aq6tkn {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-index-title-reference-copy-3-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-tBeFeG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup20 .title-1OTMwT {
  width: 50px;
}

.stackedgroup20 .web-index-contents2dpeth-copy-3-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-xW9MLb {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-2-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-xYY3z1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-9EQhFj {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-4-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-vnpeHf {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-expanded-ZVzBic {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup20 .button-M3FTn6 {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup20 .x1-depth-title-ZVzBic {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup20 .web-index-contents2dpeth-copy-16-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-iT1Mg6 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-4tYRGY {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-15-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-r00lb1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-xfQ2JY {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-14-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-ITu8b5 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-ypxuxC {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-13-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-ezxkwn {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-9gwZix {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-12-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-oPVvus {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-1Ua2cG {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-11-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-miVRS3 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-gcPK6H {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup20 .web-index-contents2dpeth-copy-10-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-qiG9kZ {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-C2yJ29 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-18-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-qf5vhV {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-BayTTs {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-17-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-lhcOER {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-6K8wNI {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-19-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-hEFEr0 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-PiRAS6 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-9-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-83ArDn {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .x2-death-title-hL9PsJ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup20 .web-index-contents2dpeth-copy-5-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-WZTgr6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup20 .web-index-contents2dpeth-copy-6-5NjPHy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup20 .group-1gsN07 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginairconditioneroptionon2column .webgnb-jDo8LG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon2column .rectangle-3D5gmx {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon2column .background-3D5gmx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginairconditioneroptionon2column .index-3D5gmx {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginairconditioneroptionon2column .web-index-select-RRLGFD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginairconditioneroptionon2column .web-index-unselect-RRLGFD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginairconditioneroptionon2column .web-index-unelect_main-3D5gmx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginairconditioneroptionon2column .logo-5Yy4nZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup20 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginairconditioneroptionon2column .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginairconditioneroptionon2column .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginairconditioneroptionon2column .table-guide-text2line_m {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 340px;
}
