/* screen - tabletdevicepluginelevatoronebuttontype */

.tabletdevicepluginelevatoronebuttontype {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginelevatoronebuttontype .group-5-wsORdX {
  background-color: transparent;
  height: 227px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-Bnhn19 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-MsUNq6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .contents-MsUNq6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-JEKv9N {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-d1Dovx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .contents-d1Dovx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m-Bnhn19 {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-IX2Xv0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .contents-IX2Xv0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .group-2-copy-EketzL {
  height: 59px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-lEaBHQ {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-wxLGni {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .contents-wxLGni {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-UyZWpJ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-EXiIxG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .contents-EXiIxG {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m-lEaBHQ {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-3oJPaZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .group-3oJPaZ {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .title-txGvCE {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .contents-txGvCE {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .group-2-copy-2-EketzL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-ftyS7C {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-9xRs3W {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .contents-9xRs3W {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-m5l1xK {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-ZKIZss {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .contents-ZKIZss {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m-ftyS7C {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-9gifmq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .contents-9gifmq {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-TM1WSN {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-ucfyBz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-ucfyBz {
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-B6yrta {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-7Abx68 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-7Abx68 {
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-luYUZo {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-Y63XXR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-Y63XXR {
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .group-5-copy-wsORdX {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdevicepluginelevatoronebuttontype .group-2-copy-tiB8xE {
  height: 37px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-rs7qFo {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-LWVBKg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .contents-LWVBKg {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-28Ee9S {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-jmnu2G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .contents-jmnu2G {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m-rs7qFo {
  height: 31px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-q7xxyV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .contents-q7xxyV {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-yukWYa {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-qQg6ce {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .contents-qQg6ce {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text1line-UD9rW5 {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-Z1zGOk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .contents-Z1zGOk {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m-yukWYa {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-4guvSp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .contents-4guvSp {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-jNSpaJ {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-CyHdfx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-CyHdfx {
  width: 258px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-EuxbBQ {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-Spx2Qc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-Spx2Qc {
  width: 328px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-title-kChEqR {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-OvDkdc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginelevatoronebuttontype .table-title-text-OvDkdc {
  width: 38px;
}

.tabletdevicepluginelevatoronebuttontype .group-wsORdX {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginelevatoronebuttontype .group-copy-wsORdX {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginelevatoronebuttontype .web-sub_-title-wsORdX {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginelevatoronebuttontype .sub-title-zkVQzp {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginelevatoronebuttontype .web-title-area-wsORdX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginelevatoronebuttontype .web-tabc2-c_-common-wsORdX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginelevatoronebuttontype .x3rd-depth-QFrvQO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginelevatoronebuttontype .tab-QFrvQO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginelevatoronebuttontype .one-button-type-ZRS636 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 101px;
}

.tabletdevicepluginelevatoronebuttontype .two-button-type-ZRS636 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 100px;
}

.tabletdevicepluginelevatoronebuttontype .lnb-service-feature-wsORdX {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-ITqN7x {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginelevatoronebuttontype .line-ITqN7x {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginelevatoronebuttontype .home-net-gui-guidelin-ITqN7x {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup19 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup19 .web-index-title-reference-copy-2-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-yy1TWp {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup19 .title-9xuLBq {
  width: 72px;
}

.stackedgroup19 .group-gHI6id {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup19 .empty-AGvkEs {
  bottom: 0px;
}

.stackedgroup19 .empty-KCBRwc {
  top: 0px;
}

.stackedgroup19 .web-index-title-reference-copy-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-o84rZQ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup19 .title-YmnSQS {
  width: 81px;
}

.stackedgroup19 .group-copy-gHI6id {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .empty-Id0aPw {
  bottom: 0px;
}

.stackedgroup19 .empty-hcnG0C {
  top: 0px;
}

.stackedgroup19 .web-index-title-reference-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-O66A5I {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup19 .title-64RRQR {
  width: 136px;
}

.stackedgroup19 .group-copy-2-gHI6id {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .empty-copy-DXpWAd {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup19 .line-copy-2-DXpWAd {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup19 .empty-copy-2-DXpWAd {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-title-reference-copy-3-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-s0VBjs {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup19 .title-7GHc1j {
  width: 50px;
}

.stackedgroup19 .web-index-contents2dpeth-copy-3-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-CuYOWF {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-contents2dpeth-copy-2-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-oiMPVG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-contents2dpeth-copy-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-1xxSo6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-contents2dpeth-copy-4-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-h6xDc1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-expanded-JMjyZG {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup19 .button-rYxKVn {
  background-color: transparent;
  height: 157.14%;
  left: 18.18%;
  opacity: 1;
  position: absolute;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup19 .x1-depth-title-JMjyZG {
  background-color: transparent;
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 100px;
}

.stackedgroup19 .web-index-contents2dpeth-copy-16-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-vKqwxT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-vy2Ja1 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-15-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-Z1QT83 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-TxY3ls {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-14-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-VX8gkL {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-CxZXfD {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup19 .web-index-contents2dpeth-copy-13-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-ZrjdxH {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-k0Na7Q {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-12-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-Wnwimz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-zWLKke {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-11-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-PpUlTw {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-pJT1Io {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-10-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-j7WKIj {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-GCKjCA {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-18-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-xayZp7 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-fGugkE {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-17-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-QwRlZC {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-9RAqFy {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-19-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-6sFVdc {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-5X2LMp {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-9-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-sVkodx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .x2-death-title-MKqXXA {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup19 .web-index-contents2dpeth-copy-5-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-2gxooX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-contents2dpeth-copy-6-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-2bxneD {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tabletdevicepluginelevatoronebuttontype .webgnb-wsORdX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginelevatoronebuttontype .rectangle-BTco4U {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginelevatoronebuttontype .background-BTco4U {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginelevatoronebuttontype .index-BTco4U {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginelevatoronebuttontype .web-index-select-sCVsgk {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginelevatoronebuttontype .web-index-unselect-sCVsgk {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginelevatoronebuttontype .web-index-unelect_main-BTco4U {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicepluginelevatoronebuttontype .logo-Uuifrt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup19 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginelevatoronebuttontype .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginelevatoronebuttontype .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginelevatoronebuttontype .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginelevatoronebuttontype .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
