/* screen - deviceplugingasvalvecontrollertype */

.deviceplugingasvalvecontrollertype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2087px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugingasvalvecontrollertype .group-9-0bGH0d {
  background-color: transparent;
  height: 328px;
  left: 1140px;
  position: absolute;
  top: 1308px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .group-8-9PyRxp {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 209px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .group-7-pfDGxN {
  background-color: transparent;
  height: 40px;
  left: 60px;
  position: absolute;
  top: 79px;
  width: 100px;
}

.deviceplugingasvalvecontrollertype .group-4-pfDGxN {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-QXEUVW {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-xbRWtX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-xbRWtX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-qYxvRr {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-3X0aTA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-3X0aTA {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-6-QXEUVW {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-sPAj4i {
  height: 53px;
  left: 0px;
  position: relative;
}

.deviceplugingasvalvecontrollertype .rectangle-KSCyhx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .group-KSCyhx {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .content-YQdYoJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.deviceplugingasvalvecontrollertype .title-YQdYoJ {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-IIFUDZ {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-yeV01y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .table-title-text-yeV01y {
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-CS4aAb {
  left: 60px;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .rectangle-IlvBzx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .table-title-text-IlvBzx {
  width: 328px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-E3ujsQ {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-awSDSS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .table-title-text-awSDSS {
  width: 38px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-9PyRxp {
  height: 143px;
  top: 56px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-Xgi1LY {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-zp2Cdx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-zp2Cdx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-QrVk9A {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-3tMgMH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-3tMgMH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-Xgi1LY {
  cursor: pointer;
  height: 137px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-80gTjS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .group-80gTjS {
  background-color: transparent;
  height: 126px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .content-TNmZoQ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 22px;
}

.deviceplugingasvalvecontrollertype .content-MpmAwt {
  color: var(--persian-green);
  font-weight: 600;
  height: 40px;
  top: 64px;
}

.deviceplugingasvalvecontrollertype .content-copy-TNmZoQ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 106px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .title-TNmZoQ {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-12-0bGH0d {
  background-color: transparent;
  height: 579px;
  left: 400px;
  position: absolute;
  top: 1308px;
  width: 690px;
}

.deviceplugingasvalvecontrollertype .group-14-0bGH0d {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugingasvalvecontrollertype .group-0bGH0d {
  background-color: transparent;
  height: 524px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .group-2-cFOEjT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-9vXyiz {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-U32mqQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .table-title-text-U32mqQ {
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-MnoSTF {
  left: 60px;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .rectangle-CZM08V {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .table-title-text-CZM08V {
  width: 328px;
}

.deviceplugingasvalvecontrollertype .table-guide-title-u84Hjj {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-4iBxvr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .table-title-text-4iBxvr {
  width: 38px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-cFOEjT {
  height: 57px;
  top: 103px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-hVzLm9 {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-bkKNiY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-bkKNiY {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-kILpaF {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-QSiz1K {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-QSiz1K {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-hVzLm9 {
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-Pw9wIP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-Pw9wIP {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-2-cFOEjT {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-cpmqCh {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-gxtWng {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-gxtWng {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-iGRvlb {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-c5wlkf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-c5wlkf {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-cpmqCh {
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-hZxIsj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-hZxIsj {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-3-cFOEjT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-bwyTGj {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-qFQdpf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-qFQdpf {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-vbOLBC {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-gjPMSj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-gjPMSj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-bwyTGj {
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-06TVxA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-06TVxA {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-4-cFOEjT {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-xJIKGo {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-auFxiK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-auFxiK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-wsVQY2 {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-zUCWTz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-zUCWTz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-xJIKGo {
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-DMl0z7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-DMl0z7 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-7-cFOEjT {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 351px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-PV1exh {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-qRVFd4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-qRVFd4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-EPFaDe {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-uS1xLD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-uS1xLD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-PV1exh {
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-OkI3LE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-OkI3LE {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .group-2-copy-5-cFOEjT {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 418px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-QGirNY {
  left: 0px;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .rectangle-X25map {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugingasvalvecontrollertype .contents-X25map {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line-Yxmfkt {
  left: 410px;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .rectangle-8SuxaM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugingasvalvecontrollertype .contents-8SuxaM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-QGirNY {
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
}

.deviceplugingasvalvecontrollertype .rectangle-0EJ8ru {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .contents-0EJ8ru {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m-copy-QGirNY {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .rectangle-xi1xiq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .group-xi1xiq {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .content-MFf71b {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.deviceplugingasvalvecontrollertype .title-MFf71b {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .web-sub_-title-0bGH0d {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.deviceplugingasvalvecontrollertype .sub-title-Vboc1e {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.deviceplugingasvalvecontrollertype .web-title-area-0bGH0d {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugingasvalvecontrollertype .web-tab-device-plug-0bGH0d {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugingasvalvecontrollertype .x3rd-depth-xBk6It {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugingasvalvecontrollertype .tab-dU3hFo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugingasvalvecontrollertype .status-type-copy-OmDZDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 70px;
}

.deviceplugingasvalvecontrollertype .controller-type-OmDZDj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.deviceplugingasvalvecontrollertype .lnb-device-plug-in-0bGH0d {
  background-color: transparent;
  height: 1305px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .rectangle-zqutA4 {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .stacked-group-zqutA4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .web-index-title-common-m8bJWR {
  margin: 0;
}

.deviceplugingasvalvecontrollertype .group-GtCNBP {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .title-6TRXny {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.deviceplugingasvalvecontrollertype .group-4tolzL {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-zfoyxh {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-9QKrP1 {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-zQxV6L {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-SMwBzI {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-7tv7oW {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-ULL9tC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-unJOUW {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-BH7Pum {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-FCO66f {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-YzShoA {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-HTRBfo {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-zKPXb8 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-dxIQrh {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-ZvzHyU {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-copy-m8bJWR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .empty-akLnTo {
  top: 21px;
}

.deviceplugingasvalvecontrollertype .empty-RQmduI {
  top: 0px;
}

.deviceplugingasvalvecontrollertype .web-index-title-common-copy-m8bJWR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .group-zoB2Kw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .title-eEUx44 {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.deviceplugingasvalvecontrollertype .web-index-contents1dpeth_open_selected-m8bJWR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .group-R3POJ4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-8FF4OR {
  color: var(--curious-blue);
  font-weight: 600;
}

.deviceplugingasvalvecontrollertype .web-expanded-R3POJ4 {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.deviceplugingasvalvecontrollertype .button-yJgTPz {
  left: 1px;
  top: -3px;
  transform: rotate(90deg);
}

.deviceplugingasvalvecontrollertype .group-c5Au3V {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-JwoaBp {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-NtHzM3 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-2EtbxO {
  color: var(--curious-blue);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .group-kN0iKB {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-sE6u9Q {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-gym2la {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-GxEUNi {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-Nhk9r9 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-bqpixU {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-jefMoM {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-P9PkDu {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-t70P9O {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-Q0LBBn {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-YdI1mx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-Xi75YP {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-vBcyDN {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-iofJkZ {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-X4Nps8 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-dYbYQn {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-yw82e6 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x2-death-title-QfuFvk {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugingasvalvecontrollertype .group-mdutlE {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .x1-depth-title-L01lvq {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugingasvalvecontrollertype .button-xBQvDF {
  left: -1px;
  top: -1px;
}

.deviceplugingasvalvecontrollertype .group-m8bJWR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .empty-I9iGmx {
  top: 21px;
}

.deviceplugingasvalvecontrollertype .empty-5aiFaB {
  top: 0px;
}

.deviceplugingasvalvecontrollertype .web-index-title-common-uLD8W7 {
  margin: 0px 0 0 0;
}

.deviceplugingasvalvecontrollertype .group-ZOxD6D {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .title-dC2MIb {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.deviceplugingasvalvecontrollertype .group-copy-2-m8bJWR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .empty-U1x8pJ {
  top: 21px;
}

.deviceplugingasvalvecontrollertype .empty-i9Cpnn {
  top: 0px;
}

.deviceplugingasvalvecontrollertype .web-index-title-common-copy-2-m8bJWR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .group-xFh9Ik {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvecontrollertype .title-BeITWT {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.deviceplugingasvalvecontrollertype .line-zqutA4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugingasvalvecontrollertype .home-net-gui-guidelin-zqutA4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugingasvalvecontrollertype .webgnb-0bGH0d {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugingasvalvecontrollertype .rectangle-qlVS9G {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugingasvalvecontrollertype .background-qlVS9G {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugingasvalvecontrollertype .index-qlVS9G {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugingasvalvecontrollertype .web-index-select-eL0HSP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugingasvalvecontrollertype .web-index-unselect-eL0HSP {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugingasvalvecontrollertype .web-index-unelect_main-qlVS9G {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.deviceplugingasvalvecontrollertype .logo-ywbxty {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.deviceplugingasvalvecontrollertype .content {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: 328px;
}

.deviceplugingasvalvecontrollertype .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.deviceplugingasvalvecontrollertype .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.deviceplugingasvalvecontrollertype .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.deviceplugingasvalvecontrollertype .table-guide-text2line_m {
  background-color: transparent;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvecontrollertype .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.deviceplugingasvalvecontrollertype .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
