/* screen - deviceplugindeviceplugintimeroutine */

.deviceplugindeviceplugintimeroutine {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3502px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugindeviceplugintimeroutine .group-copy-3lmCeh {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 2432px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .group-5-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugindeviceplugintimeroutine .group-7-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 420px;
  position: absolute;
  top: 1362px;
  width: 360px;
}

.deviceplugindeviceplugintimeroutine .group-4-3lmCeh {
  background-color: transparent;
  height: 870px;
  left: 400px;
  position: absolute;
  top: 2432px;
  width: 690px;
}

.deviceplugindeviceplugintimeroutine .group-3lmCeh {
  background-color: transparent;
  height: 254px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .group-2-OS8AtQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-8rcPme {
  height: 37px;
  left: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-nOxVgk {
  height: 37px;
  left: 410px;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2line_m-8rcPme {
  height: 37px;
}

.deviceplugindeviceplugintimeroutine .group-2-copy-OS8AtQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-G6Hatw {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .rectangle-8zGmIl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .contents-8zGmIl {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-OfnM0W {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .rectangle-nUjPnJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .contents-nUjPnJ {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2line_m-G6Hatw {
  cursor: pointer;
  height: 31px;
}

.deviceplugindeviceplugintimeroutine .rectangle-ETX7pP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .contents-ETX7pP {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugindeviceplugintimeroutine .descriptiontabletop-OS8AtQ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .table-guide-title-1L4Fmc {
  left: 410px;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .rectangle-nV3PqA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .table-title-text-nV3PqA {
  width: 258px;
}

.deviceplugindeviceplugintimeroutine .table-guide-title-bpGYAY {
  left: 60px;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .rectangle-ixVQTQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .table-title-text-ixVQTQ {
  width: 328px;
}

.deviceplugindeviceplugintimeroutine .table-guide-title-e6cueY {
  left: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .rectangle-FnXg0y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .table-title-text-FnXg0y {
  width: 38px;
}

.deviceplugindeviceplugintimeroutine .group-2-copy-2-OS8AtQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-dnDCkY {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .rectangle-VKVUca {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .contents-VKVUca {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-DWxGUP {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .rectangle-EIvOom {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .contents-EIvOom {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2line_m-dnDCkY {
  cursor: pointer;
  height: 51px;
}

.deviceplugindeviceplugintimeroutine .rectangle-rq6wDT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .contents-rq6wDT {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugindeviceplugintimeroutine .group-2-copy-3-OS8AtQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-LbuVsi {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .rectangle-hmJxv6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugindeviceplugintimeroutine .contents-hmJxv6 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line-yrljku {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .rectangle-LExDtb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugindeviceplugintimeroutine .contents-LExDtb {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2line_m-LbuVsi {
  cursor: pointer;
  height: 31px;
}

.deviceplugindeviceplugintimeroutine .rectangle-3ERB4Q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .contents-3ERB4Q {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugindeviceplugintimeroutine .web-sub_-title-3lmCeh {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.deviceplugindeviceplugintimeroutine .sub-title-FfWN6Z {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 162px;
}

.deviceplugindeviceplugintimeroutine .web-title-area-3lmCeh {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .web-tab-device-plug-3lmCeh {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .x3rd-depth-qxhMxf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugindeviceplugintimeroutine .tab-xB66is {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugindeviceplugintimeroutine .keyscreen-5FDtO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.deviceplugindeviceplugintimeroutine .time-routine-5FDtO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.deviceplugindeviceplugintimeroutine .activity-history-5FDtO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.deviceplugindeviceplugintimeroutine .lnb-device-plug-in-3lmCeh {
  background-color: transparent;
  height: 1305px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .rectangle-DBAPq2 {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .stacked-group-DBAPq2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-p3RFUn {
  margin: 0;
}

.deviceplugindeviceplugintimeroutine .group-OTtbFo {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .group-kquDP4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-XcFvIP {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-sZ1BQS {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-xFoTvZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-837pXx {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-lx5vxu {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-kWxTIx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-kmk4xa {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-oV8Vx9 {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-iUJOAX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-kCAMUx {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-TvYYkE {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-RRy7PM {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-wY3Lrl {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-xmyugG {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-copy-p3RFUn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .empty-i6DBoW {
  top: 21px;
}

.deviceplugindeviceplugintimeroutine .empty-wlZWFI {
  top: 0px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-copy-p3RFUn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .group-bVbMYV {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .web-index-contents1dpeth_open_selected-p3RFUn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .group-jRwTHW {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-adLP4X {
  color: var(--curious-blue);
  font-weight: 600;
}

.deviceplugindeviceplugintimeroutine .web-expanded-jRwTHW {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.deviceplugindeviceplugintimeroutine .button-lnfxsj {
  left: 1px;
  top: -3px;
  transform: rotate(90deg);
}

.deviceplugindeviceplugintimeroutine .group-Ex3IID {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-WrtiI5 {
  color: var(--curious-blue);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .group-rf7xKq {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-yqpai6 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-mdpGEu {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-Cu10lS {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-4IKbka {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-kiKDOd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-yhVxrT {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-QDsWWx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-SeDhfo {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-whhemB {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-hVxvVi {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-3j2RJl {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-iIEcx9 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-cnDG9q {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-YsSKrL {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-SLHPLB {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-10fXu0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-06QHo2 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-DEFAXM {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x2-death-title-r2Ox46 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.deviceplugindeviceplugintimeroutine .group-vkOttD {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .x1-depth-title-5SMscK {
  color: var(--shark);
  font-weight: 500;
}

.deviceplugindeviceplugintimeroutine .button-kmQruE {
  left: -1px;
  top: -1px;
}

.deviceplugindeviceplugintimeroutine .group-p3RFUn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .empty-fOXjSX {
  top: 21px;
}

.deviceplugindeviceplugintimeroutine .empty-AxGdx5 {
  top: 0px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-rkBtcz {
  margin: 0px 0 0 0;
}

.deviceplugindeviceplugintimeroutine .group-HG12kx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .group-copy-2-p3RFUn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .empty-U1XDjX {
  top: 21px;
}

.deviceplugindeviceplugintimeroutine .empty-T2uXC8 {
  top: 0px;
}

.deviceplugindeviceplugintimeroutine .web-index-title-common-copy-2-p3RFUn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .group-NBlZU1 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindeviceplugintimeroutine .line-DBAPq2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugindeviceplugintimeroutine .home-net-gui-guidelin-DBAPq2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugindeviceplugintimeroutine .webgnb-3lmCeh {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .rectangle-KDDuez {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .background-KDDuez {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugindeviceplugintimeroutine .index-KDDuez {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugindeviceplugintimeroutine .web-index-select-e5nSxN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugindeviceplugintimeroutine .web-index-unselect-e5nSxN {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugindeviceplugintimeroutine .web-index-unelect_main-KDDuez {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.deviceplugindeviceplugintimeroutine .logo-qd8OLo {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.deviceplugindeviceplugintimeroutine .contents {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.deviceplugindeviceplugintimeroutine .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugindeviceplugintimeroutine .title {
  background-color: transparent;
  color: var(--shark);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}

.deviceplugindeviceplugintimeroutine .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
