/* screen - c2caccesstokenrefreshtokeninvalidcase */

.c2caccesstokenrefreshtokeninvalidcase {
  background-color: var(--white);
  height: 2304px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-13-Vwxbq8 {
  background-color: transparent;
  height: 866px;
  left: 400px;
  position: absolute;
  top: 1238px;
  width: 690px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-10-Vwxbq8 {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-4-Vwxbq8 {
  background-color: transparent;
  height: 220px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-2-0HptvW {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-uNKkWe {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-Qoz1GT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-Qoz1GT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-copy-uNKkWe {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-qWLEiy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-qWLEiy {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-copy-uNKkWe {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-pOZxld {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-pOZxld {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-3-0HptvW {
  background-color: transparent;
  height: 97px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-CPQuMu {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-0s1C34 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-0s1C34 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-CPQuMu {
  cursor: pointer;
  height: 91px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-xoB7jf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-xoB7jf {
  color: var(--lochmara);
  font-weight: 400;
  height: 80px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-9Qn32w {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-FiJo4x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-FiJo4x {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-15-Vwxbq8 {
  background-color: transparent;
  height: 355px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-14-bXGTY2 {
  background-color: transparent;
  height: 299px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-5-uVF04h {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-FDI2hS {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-PYe9Ww {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-PYe9Ww {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-sH0AO7 {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-BnFtM6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-BnFtM6 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_-strongman-FDI2hS {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-LDwHXe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-LDwHXe {
  height: 62px;
}

.c2caccesstokenrefreshtokeninvalidcase .content-JKxlUD {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
}

.c2caccesstokenrefreshtokeninvalidcase .title-JKxlUD {
  color: var(--cornflower-blue);
}

.c2caccesstokenrefreshtokeninvalidcase .group-7-uVF04h {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-xjxUUJ {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-vnljB9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-vnljB9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-xjxUUJ {
  cursor: pointer;
  height: 73px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-8sxr8X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-8sxr8X {
  height: 20px;
}

.c2caccesstokenrefreshtokeninvalidcase .title-zZxWCs {
  color: var(--persian-green);
}

.c2caccesstokenrefreshtokeninvalidcase .contents-8sxr8X {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-guaxNX {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-Y3eBIt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-Y3eBIt {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-6-uVF04h {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 89px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-IR31kk {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-VhkEgu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-VhkEgu {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-IR31kk {
  height: 115px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-lxlxbW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-lxlxbW {
  height: 104px;
}

.c2caccesstokenrefreshtokeninvalidcase .content-pbTLQq {
  color: var(--persian-green);
  height: 60px;
}

.c2caccesstokenrefreshtokeninvalidcase .content-copy-pbTLQq {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .title-pbTLQq {
  color: var(--persian-green);
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-xo6Fq2 {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-6SPQch {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-6SPQch {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-sub_-title-Vwxbq8 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 459px;
}

.c2caccesstokenrefreshtokeninvalidcase .sub-title-sT1FiR {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2caccesstokenrefreshtokeninvalidcase .web-title-area-Vwxbq8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-tabc2-c_-access-token-Vwxbq8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .x3rd-depth-T7fA14 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .tab-T7fA14 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenrefreshtokeninvalidcase .life-tab-device-tab-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenrefreshtokeninvalidcase .partner-refresh-toke-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 208px;
}

.c2caccesstokenrefreshtokeninvalidcase .st-refresh-token-inv-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenrefreshtokeninvalidcase .family-hub-token-i-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2caccesstokenrefreshtokeninvalidcase .lnbc2-c_c2c_connector-Vwxbq8 {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-2cQklB {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .background-2cQklB {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .line-2cQklB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenrefreshtokeninvalidcase .home-net-gui-guidelin-2cQklB {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup5 .web-index-title-reference-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-QaHoAx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-pvklYx {
  width: 72px;
}

.stackedgroup5 .group-wmt0eg {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-oWFIFb {
  bottom: 0px;
}

.stackedgroup5 .empty-ZrUYTL {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-JuHGXu {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-SRtJh4 {
  width: 81px;
}

.stackedgroup5 .group-copy-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-b6EtH8 {
  bottom: 0px;
}

.stackedgroup5 .empty-BGO3dO {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-uOpxGi {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-cSubs2 {
  width: 136px;
}

.stackedgroup5 .web-index-contents1dpeth_close-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-SuiFNn {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .web-expanded-E9qIc9 {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup5 .button-Qhzypu {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup5 .x1-depth-title-E9qIc9 {
  color: #3695dd;
  width: 91px;
}

.stackedgroup5 .group-4ap01e {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-MFoIYT {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup5 .group-UtlN6C {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-5RSJ1q {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup5 .group-tVowat {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-21NU4h {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup5 .web-index-contents1dpeth_close-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-GST9Fx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-jdUw38 {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup5 .group-16vvVL {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-TxxBAS {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup5 .group-AebwPs {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-xMx0Hg {
  color: #252525;
  width: 56px;
}

.stackedgroup5 .web-fold-AebwPs {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup5 .button-R8bXjk {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup5 .group-copy-2-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-l4D98k {
  bottom: 0px;
}

.stackedgroup5 .empty-DUb7SS {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-dgzTxP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-BEJBiC {
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .webgnb-Vwxbq8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-MNhxuD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .background-MNhxuD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .index-MNhxuD {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-select-5dnpE9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-unselect-5dnpE9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-unelect_main-MNhxuD {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2caccesstokenrefreshtokeninvalidcase .logo-5fM67X {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2caccesstokenrefreshtokeninvalidcase .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.c2caccesstokenrefreshtokeninvalidcase .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup5 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup5 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup5 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
