/* screen - c2caccesstokenlifetab */

.c2caccesstokenlifetab {
  background-color: var(--white);
  height: 1263px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenlifetab .group-7-hinXmE {
  background-color: transparent;
  height: 721px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2caccesstokenlifetab .group-4-hinXmE {
  background-color: transparent;
  height: 273px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenlifetab .group-2-kQ9orf {
  background-color: transparent;
  height: 170px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenlifetab .table-guide-text1line-OVwJcU {
  left: 0px;
  top: 0px;
  width: 50px;
}

.c2caccesstokenlifetab .rectangle-BriLYO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenlifetab .contents-BriLYO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenlifetab .table-guide-text2line_m-copy-OVwJcU {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenlifetab .rectangle-dA9edh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenlifetab .group-dA9edh {
  height: 20px;
}

.c2caccesstokenlifetab .contents-dA9edh {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.c2caccesstokenlifetab .table-guide-text1line-copy-OVwJcU {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenlifetab .rectangle-Ck3F8o {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenlifetab .contents-Ck3F8o {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenlifetab .table-guide-text2line_m-OVwJcU {
  height: 75px;
  top: 89px;
}

.c2caccesstokenlifetab .rectangle-bzwrpf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenlifetab .group-bzwrpf {
  height: 64px;
}

.c2caccesstokenlifetab .content-7yzsnL {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenlifetab .content-copy-7yzsnL {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenlifetab .table-guide-text1line-In9lfe {
  left: 410px;
  top: 89px;
  width: 270px;
}

.c2caccesstokenlifetab .rectangle-wTtc7k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenlifetab .contents-wTtc7k {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenlifetab .group-3-kQ9orf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 236px;
  width: 680px;
}

.c2caccesstokenlifetab .table-guide-text1line-izZDUf {
  left: 0px;
  top: 0px;
  width: 50px;
}

.c2caccesstokenlifetab .rectangle-XRXLI7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenlifetab .contents-XRXLI7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenlifetab .table-guide-text2line_m-izZDUf {
  height: 28px;
  top: 0px;
}

.c2caccesstokenlifetab .rectangle-IxxNUr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenlifetab .contents-IxxNUr {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenlifetab .table-guide-text1line-g7lQhB {
  left: 410px;
  top: 0px;
  width: 270px;
}

.c2caccesstokenlifetab .rectangle-xv0OkY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenlifetab .contents-xv0OkY {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenlifetab .table-guide-title-kQ9orf {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenlifetab .web-sub_-title-hinXmE {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 551px;
}

.c2caccesstokenlifetab .sub-title-hRNeeA {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2caccesstokenlifetab .web-title-area-hinXmE {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenlifetab .web-tabc2-c_-access-token-hinXmE {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenlifetab .x3rd-depth-e2B9Pv {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenlifetab .tab-e2B9Pv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenlifetab .life-tab-device-tab-ojCnG2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 263px;
}

.c2caccesstokenlifetab .partner-refresh-toke-ojCnG2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenlifetab .st-refresh-token-inv-ojCnG2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenlifetab .family-hub-token-i-ojCnG2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2caccesstokenlifetab .lnbc2-c_c2c_connector-hinXmE {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenlifetab .rectangle-gZ2lZH {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenlifetab .background-gZ2lZH {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenlifetab .line-gZ2lZH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenlifetab .home-net-gui-guidelin-gZ2lZH {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup38 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup38 .web-index-title-reference-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-1q8Jm0 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup38 .title-HhXXLA {
  width: 72px;
}

.stackedgroup38 .group-v5kFlE {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-tr4UDx {
  bottom: 0px;
}

.stackedgroup38 .empty-Y6BC0X {
  top: 0px;
}

.stackedgroup38 .web-index-title-reference-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-Jrotxp {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup38 .title-yiIxGF {
  width: 81px;
}

.stackedgroup38 .group-copy-v5kFlE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-gQxoXf {
  bottom: 0px;
}

.stackedgroup38 .empty-z7xADn {
  top: 0px;
}

.stackedgroup38 .web-index-title-reference-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-XAScqi {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup38 .title-fagOVK {
  width: 136px;
}

.stackedgroup38 .web-index-contents1dpeth_close-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-mMTwJp {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .web-expanded-SVj0s4 {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup38 .button-wC7Nma {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup38 .x1-depth-title-SVj0s4 {
  color: #3695dd;
  width: 91px;
}

.stackedgroup38 .group-8pW1VY {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x2-death-title-o4tNxN {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup38 .group-OTzfzZ {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x2-death-title-bnvWaX {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup38 .group-XU6Ngm {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x2-death-title-d2oToR {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup38 .web-index-contents1dpeth_close-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-YSqSpq {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x2-death-title-A46yTF {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup38 .group-jAJcbU {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x2-death-title-xBrgfl {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup38 .group-8FHaf7 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .x1-depth-title-dYYLb3 {
  color: #252525;
  width: 56px;
}

.stackedgroup38 .web-fold-8FHaf7 {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup38 .button-SCdT06 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup38 .group-copy-2-v5kFlE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-HrBxTc {
  bottom: 0px;
}

.stackedgroup38 .empty-5OwQB6 {
  top: 0px;
}

.stackedgroup38 .web-index-title-reference-copy-3-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-K9RQCW {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup38 .title-VLeX3n {
  width: 50px;
}

.c2caccesstokenlifetab .webgnb-hinXmE {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenlifetab .rectangle-6D1ixC {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenlifetab .background-6D1ixC {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenlifetab .index-6D1ixC {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenlifetab .web-index-select-6qy7G1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenlifetab .web-index-unselect-6qy7G1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenlifetab .web-index-unelect_main-6D1ixC {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2caccesstokenlifetab .logo-NQdJ8b {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2caccesstokenlifetab .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.c2caccesstokenlifetab .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.c2caccesstokenlifetab .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
}

.c2caccesstokenlifetab .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  width: 340px;
}

.c2caccesstokenlifetab .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup38 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup38 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup38 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
