/* screen - c2cconnectedstrongmancard */

.c2cconnectedstrongmancard {
  background-color: var(--white);
  height: 2115px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cconnectedstrongmancard .strong-man-gui-NZd2UG {
  left: 1140px;
  top: 314px;
}

.c2cconnectedstrongmancard .group-4-NZd2UG {
  background-color: transparent;
  height: 417px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2cconnectedstrongmancard .group-14-NZd2UG {
  background-color: transparent;
  height: 417px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 690px;
}

.c2cconnectedstrongmancard .group-3-copy-2-NZd2UG {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 1799px;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-title-xOxoH6 {
  height: 38px;
  left: 552px;
  width: 128px;
}

.c2cconnectedstrongmancard .rectangle-UXRNxp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.c2cconnectedstrongmancard .table-title-text-UXRNxp {
  width: 116px;
}

.c2cconnectedstrongmancard .table-guide-title-ZzDLOI {
  height: 38px;
  left: 60px;
  width: 166px;
}

.c2cconnectedstrongmancard .rectangle-HBQFn7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.c2cconnectedstrongmancard .table-title-text-HBQFn7 {
  width: 154px;
}

.c2cconnectedstrongmancard .table-guide-title-zb6jO9 {
  height: 38px;
  left: 236px;
  width: 106px;
}

.c2cconnectedstrongmancard .rectangle-A1JoKa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.c2cconnectedstrongmancard .table-title-text-A1JoKa {
  width: 94px;
}

.c2cconnectedstrongmancard .table-guide-title-h4Yq0H {
  height: 38px;
  left: 352px;
  width: 190px;
}

.c2cconnectedstrongmancard .rectangle-oGpDwx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.c2cconnectedstrongmancard .table-title-text-oGpDwx {
  width: 178px;
}

.c2cconnectedstrongmancard .table-guide-title-Arr0iF {
  height: 38px;
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-b8j1cL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.c2cconnectedstrongmancard .table-title-text-b8j1cL {
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-oDCkGK {
  left: 551px;
  width: 129px;
}

.c2cconnectedstrongmancard .rectangle-r4WxJh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.c2cconnectedstrongmancard .contents-r4WxJh {
  color: var(--black);
  font-weight: 400;
  width: 117px;
}

.c2cconnectedstrongmancard .table-guide-text1line-Xxcv0x {
  left: 60px;
  width: 166px;
}

.c2cconnectedstrongmancard .rectangle-1n7WGu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.c2cconnectedstrongmancard .contents-1n7WGu {
  color: var(--black);
  font-weight: 400;
  width: 154px;
}

.c2cconnectedstrongmancard .table-guide-text1line-0Gmyyj {
  left: 236px;
  width: 106px;
}

.c2cconnectedstrongmancard .rectangle-Db8apT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.c2cconnectedstrongmancard .contents-Db8apT {
  color: var(--black);
  font-weight: 400;
  width: 94px;
}

.c2cconnectedstrongmancard .table-guide-text2line-oDCkGK {
  height: 53px;
  left: 352px;
  width: 190px;
}

.c2cconnectedstrongmancard .rectangle-bjUNfF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.c2cconnectedstrongmancard .contents-bjUNfF {
  color: var(--black);
  font-weight: 400;
  width: 178px;
}

.c2cconnectedstrongmancard .contents-copy-bjUNfF {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.c2cconnectedstrongmancard .table-guide-text1line-xGkh7d {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-x4xcfc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-x4xcfc {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .group-10-copy-NZd2UG {
  background-color: transparent;
  height: 442px;
  left: 1140px;
  position: absolute;
  top: 1257px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6-AiwsAx {
  top: 84px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-LrnHQl {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-JhH6Uk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-JhH6Uk {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line_mint-copy-LrnHQl {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-VZxiLv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .title-VZxiLv {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-2-LrnHQl {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-LEIbe0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-LEIbe0 {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-5-AiwsAx {
  top: 131px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-3-xxuHux {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-UewJxo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-UewJxo {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-4-xxuHux {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-DIlIBv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .contents-DIlIBv {
  color: var(--lochmara);
  font-weight: 400;
  text-decoration: underline;
  width: 328px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-5-xxuHux {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-bS5EPZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-bS5EPZ {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-3-AiwsAx {
  height: 64px;
  top: 178px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-6-IJrgBG {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-RcmX2h {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-RcmX2h {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-7-IJrgBG {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-BCTxPJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .contents-BCTxPJ {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.c2cconnectedstrongmancard .table-guide-text2line-copy-IJrgBG {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-CxDsyo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-CxDsyo {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .contents-copy-CxDsyo {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstrongmancard .group-8-AiwsAx {
  top: 383px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-8-3K1RUE {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-xFtNgF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-xFtNgF {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text2line_-strongman-copy-3K1RUE {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-pb7Rbr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .group-pb7Rbr {
  height: 42px;
}

.c2cconnectedstrongmancard .content-DTBdts {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
}

.c2cconnectedstrongmancard .title-DTBdts {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-9-3K1RUE {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-ESTAdb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-ESTAdb {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-7-AiwsAx {
  top: 252px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-10-tRyjfS {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-Y46tQB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-Y46tQB {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text2line_m-copy-tRyjfS {
  background-color: transparent;
  height: 115px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-gf2Uyk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .group-gf2Uyk {
  height: 104px;
}

.c2cconnectedstrongmancard .content-nvbU3t {
  color: var(--persian-green);
  height: 60px;
}

.c2cconnectedstrongmancard .title-nvbU3t {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text1line-copy-11-tRyjfS {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-sxSM6f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-sxSM6f {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .table-guide-title-copy-2-AiwsAx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 680px;
}

.c2cconnectedstrongmancard .strong-man-gui-AiwsAx {
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .group-10-NZd2UG {
  background-color: transparent;
  height: 503px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6-J8TxiW {
  top: 56px;
}

.c2cconnectedstrongmancard .table-guide-text1line-XIeiz9 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-xFV8Q3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-xFV8Q3 {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line_mint-XIeiz9 {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-NVZZuJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .title-NVZZuJ {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
}

.c2cconnectedstrongmancard .table-guide-text1line-xGTMxf {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-iebEEe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-iebEEe {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-5-J8TxiW {
  top: 103px;
}

.c2cconnectedstrongmancard .table-guide-text1line-jx8AJv {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-IH0rbQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-IH0rbQ {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-jjmaBD {
  cursor: pointer;
  left: 60px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-dnVNS3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .contents-dnVNS3 {
  color: var(--lochmara);
  font-weight: 400;
  text-decoration: underline;
  width: 328px;
}

.c2cconnectedstrongmancard .table-guide-text1line-xJxoZv {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-nIrXJI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-nIrXJI {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-3-J8TxiW {
  height: 84px;
  top: 150px;
}

.c2cconnectedstrongmancard .table-guide-text1line-8VeHyW {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-i7sHPd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-i7sHPd {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-SR6Z1u {
  left: 60px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-x6oKgx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .contents-x6oKgx {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.c2cconnectedstrongmancard .table-guide-text2line-8VeHyW {
  height: 73px;
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-aP28QT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-aP28QT {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .contents-copy-aP28QT {
  color: var(--black);
  height: 40px;
  width: 258px;
}

.c2cconnectedstrongmancard .group-8-J8TxiW {
  top: 375px;
}

.c2cconnectedstrongmancard .table-guide-text1line-5xeaE8 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-3QWNjO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-3QWNjO {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .rectangle-gMSP24 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .group-gMSP24 {
  height: 42px;
}

.c2cconnectedstrongmancard .content-zu1Wol {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
}

.c2cconnectedstrongmancard .title-zu1Wol {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text1line-D4rxXB {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-YLIaY7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-YLIaY7 {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-7-J8TxiW {
  top: 244px;
}

.c2cconnectedstrongmancard .table-guide-text1line-PWeZOa {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-cQNfaJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-cQNfaJ {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text2line_m-PWeZOa {
  background-color: transparent;
  height: 115px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .rectangle-UL4s4T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .group-UL4s4T {
  height: 104px;
}

.c2cconnectedstrongmancard .content-lzUStU {
  color: var(--persian-green);
  height: 60px;
}

.c2cconnectedstrongmancard .title-lzUStU {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text1line-dZxPI8 {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-VuMzLC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-VuMzLC {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .group-9-J8TxiW {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 444px;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-text1line-E5HQH3 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-vfVS0L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-vfVS0L {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .rectangle-Qmhk5x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstrongmancard .group-Qmhk5x {
  height: 42px;
}

.c2cconnectedstrongmancard .content-Ge8hND {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
}

.c2cconnectedstrongmancard .title-Ge8hND {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text1line-XCsP7c {
  left: 410px;
  width: 270px;
}

.c2cconnectedstrongmancard .rectangle-1i4EgS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstrongmancard .contents-1i4EgS {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.c2cconnectedstrongmancard .table-guide-title-J8TxiW {
  height: 56px;
  left: 0px;
  width: 680px;
}

.c2cconnectedstrongmancard .group-3-copy-NZd2UG {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 945px;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-title-6aJ87m {
  height: 38px;
  left: 552px;
  width: 128px;
}

.c2cconnectedstrongmancard .rectangle-VFnmkv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.c2cconnectedstrongmancard .table-title-text-VFnmkv {
  width: 116px;
}

.c2cconnectedstrongmancard .table-guide-title-YIpDgf {
  height: 38px;
  left: 60px;
  width: 166px;
}

.c2cconnectedstrongmancard .rectangle-HAkxlp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.c2cconnectedstrongmancard .table-title-text-HAkxlp {
  width: 154px;
}

.c2cconnectedstrongmancard .table-guide-title-TxU7Q8 {
  height: 38px;
  left: 236px;
  width: 106px;
}

.c2cconnectedstrongmancard .rectangle-ZHCxvw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.c2cconnectedstrongmancard .table-title-text-ZHCxvw {
  width: 94px;
}

.c2cconnectedstrongmancard .table-guide-title-OeYy6N {
  height: 38px;
  left: 352px;
  width: 190px;
}

.c2cconnectedstrongmancard .rectangle-WA2lfo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.c2cconnectedstrongmancard .table-title-text-WA2lfo {
  width: 178px;
}

.c2cconnectedstrongmancard .table-guide-title-3u21fe {
  height: 38px;
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-CXIgLV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.c2cconnectedstrongmancard .table-title-text-CXIgLV {
  width: 38px;
}

.c2cconnectedstrongmancard .table-guide-text1line-Fi7Qxv {
  left: 551px;
  width: 129px;
}

.c2cconnectedstrongmancard .rectangle-ITawCh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.c2cconnectedstrongmancard .contents-ITawCh {
  color: var(--black);
  font-weight: 400;
  width: 117px;
}

.c2cconnectedstrongmancard .table-guide-text1line-1FOOxz {
  left: 60px;
  width: 166px;
}

.c2cconnectedstrongmancard .rectangle-xZbGdS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.c2cconnectedstrongmancard .contents-xZbGdS {
  color: var(--black);
  font-weight: 400;
  width: 154px;
}

.c2cconnectedstrongmancard .table-guide-text1line-dF2YF0 {
  left: 236px;
  width: 106px;
}

.c2cconnectedstrongmancard .rectangle-esG80o {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.c2cconnectedstrongmancard .contents-esG80o {
  color: var(--black);
  font-weight: 400;
  width: 94px;
}

.c2cconnectedstrongmancard .table-guide-text2line-Fi7Qxv {
  height: 53px;
  left: 352px;
  width: 190px;
}

.c2cconnectedstrongmancard .rectangle-mHxZbc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.c2cconnectedstrongmancard .contents-mHxZbc {
  color: var(--black);
  font-weight: 400;
  width: 178px;
}

.c2cconnectedstrongmancard .contents-copy-mHxZbc {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.c2cconnectedstrongmancard .table-guide-text1line-d8uk0g {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-SO5B6c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-SO5B6c {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .styletable1line_-color-copy-WaEQc9 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 680px;
}

.c2cconnectedstrongmancard .table-guide-text1line-jWvXJ0 {
  left: 551px;
  width: 129px;
}

.c2cconnectedstrongmancard .rectangle-vyzX7D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.c2cconnectedstrongmancard .contents-vyzX7D {
  color: var(--black);
  font-weight: 400;
  width: 117px;
}

.c2cconnectedstrongmancard .table-guide-text1line-uPPjfN {
  left: 60px;
  width: 166px;
}

.c2cconnectedstrongmancard .rectangle-YqVCBG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.c2cconnectedstrongmancard .contents-YqVCBG {
  color: var(--black);
  font-weight: 400;
  width: 154px;
}

.c2cconnectedstrongmancard .table-guide-text1line-ggyZRr {
  left: 236px;
  width: 106px;
}

.c2cconnectedstrongmancard .rectangle-wP2xjm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.c2cconnectedstrongmancard .contents-wP2xjm {
  color: var(--black);
  font-weight: 400;
  width: 94px;
}

.c2cconnectedstrongmancard .table-guide-text2line-jWvXJ0 {
  height: 53px;
  left: 352px;
  width: 190px;
}

.c2cconnectedstrongmancard .rectangle-iMFNxW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.c2cconnectedstrongmancard .contents-iMFNxW {
  color: var(--black);
  font-weight: 400;
  width: 178px;
}

.c2cconnectedstrongmancard .contents-copy-iMFNxW {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.c2cconnectedstrongmancard .table-guide-text1line-a1bKe0 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstrongmancard .rectangle-9ezSs6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstrongmancard .contents-9ezSs6 {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.c2cconnectedstrongmancard .web-sub_-title-NZd2UG {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 411px;
}

.c2cconnectedstrongmancard .sub-title-qPvsPd {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2cconnectedstrongmancard .web-title-area-NZd2UG {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2cconnectedstrongmancard .web-tabc2-c_apart-servide-connected-NZd2UG {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2cconnectedstrongmancard .x3rd-depth-nQPHTG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2cconnectedstrongmancard .tab-nQPHTG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2cconnectedstrongmancard .overview-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2cconnectedstrongmancard .onboarding_start-pag-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.c2cconnectedstrongmancard .onboarding_-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 188px;
}

.c2cconnectedstrongmancard .onboarding_-welcome-p-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.c2cconnectedstrongmancard .onboarding_-strongman-T8TlYv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 181px;
}

.c2cconnectedstrongmancard .lnbc2-c_c2c_connector-NZd2UG {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstrongmancard .rectangle-5TUnRX {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2cconnectedstrongmancard .background-5TUnRX {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2cconnectedstrongmancard .line-5TUnRX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cconnectedstrongmancard .home-net-gui-guidelin-5TUnRX {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup28 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup28 .web-index-title-reference-copy-2-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-x9cU6K {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup28 .title-lJNHdv {
  width: 72px;
}

.stackedgroup28 .group-5XYr15 {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup28 .empty-M17NsD {
  bottom: 0px;
}

.stackedgroup28 .empty-7nOyBE {
  top: 0px;
}

.stackedgroup28 .web-index-title-reference-copy-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-cA8POY {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup28 .title-vEAq1Y {
  width: 81px;
}

.stackedgroup28 .group-copy-5XYr15 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .empty-ZibBfy {
  bottom: 0px;
}

.stackedgroup28 .empty-yFGkiY {
  top: 0px;
}

.stackedgroup28 .web-index-title-reference-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-ENm5rc {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup28 .title-sBCltr {
  width: 136px;
}

.stackedgroup28 .web-index-contents1dpeth_close-copy-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-qLq5be {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .web-expanded-xXu0fW {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup28 .button-LOrfU0 {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup28 .x1-depth-title-xXu0fW {
  color: #3695dd;
  width: 91px;
}

.stackedgroup28 .group-6qe1f9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x2-death-title-e9xnWg {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup28 .group-mx1ZfC {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x2-death-title-vyv91x {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup28 .group-tZxxxT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x2-death-title-YkwsJt {
  color: #3695dd;
  font-family: "AppleSDGothicNeo-Medium", Helvetica;
  font-weight: 500;
}

.stackedgroup28 .web-index-contents1dpeth_close-copy-2-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-gZxISK {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x2-death-title-ulx7cC {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup28 .group-2k8KcK {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x2-death-title-yVZopg {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup28 .group-Nw9Bgr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup28 .x1-depth-title-SVIrdx {
  color: #252525;
  width: 56px;
}

.stackedgroup28 .web-fold-Nw9Bgr {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup28 .button-jnFVLU {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup28 .group-copy-2-5XYr15 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup28 .empty-HZCQtG {
  bottom: 0px;
}

.stackedgroup28 .empty-IRjIPI {
  top: 0px;
}

.stackedgroup28 .web-index-title-reference-copy-3-5XYr15 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup28 .group-hX0zcx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup28 .title-8EgAQ0 {
  width: 50px;
}

.c2cconnectedstrongmancard .webgnb-NZd2UG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstrongmancard .rectangle-FzLInB {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cconnectedstrongmancard .background-FzLInB {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cconnectedstrongmancard .index-FzLInB {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2cconnectedstrongmancard .web-index-select-Dtj8ME {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cconnectedstrongmancard .web-index-unselect-Dtj8ME {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2cconnectedstrongmancard .web-index-unelect_main-FzLInB {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2cconnectedstrongmancard .logo-x2iIC7 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2cconnectedstrongmancard .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.c2cconnectedstrongmancard .content-copy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: 328px;
}

.c2cconnectedstrongmancard .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.c2cconnectedstrongmancard .contents-copy {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
}

.c2cconnectedstrongmancard .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.c2cconnectedstrongmancard .group-3 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-7 {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .group-8 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.c2cconnectedstrongmancard .strong-man-gui {
  background-color: transparent;
  height: 18px;
  position: absolute;
  width: 232px;
}

.c2cconnectedstrongmancard .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text2line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.c2cconnectedstrongmancard .table-guide-text2line_-strongman {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstrongmancard .table-guide-title {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.c2cconnectedstrongmancard .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup28 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup28 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup28 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
