/* screen - c2cconnectedstartpage */

.c2cconnectedstartpage {
  background-color: var(--white);
  height: 2503px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cconnectedstartpage .strong-man-gui-aj6brw {
  top: 1369px;
}

.c2cconnectedstartpage .strong-man-gui-uXq48K {
  top: 314px;
}

.c2cconnectedstartpage .group-6-aj6brw {
  background-color: transparent;
  height: 905px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2cconnectedstartpage .group-22-aj6brw {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 1397px;
  width: 668px;
}

.c2cconnectedstartpage .group-12-aj6brw {
  background-color: transparent;
  height: 546px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2cconnectedstartpage .group-5-Ukb9kG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-AE1xim {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-TYaxmT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-TYaxmT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .rectangle-zZBRRl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .title-zZBRRl {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
}

.c2cconnectedstartpage .table-guide-text1line-Dup2iX {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-AObKx6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-AObKx6 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-4-Ukb9kG {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-2IJUDi {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-QWmNbW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-QWmNbW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-2IJUDi {
  cursor: pointer;
  height: 73px;
}

.c2cconnectedstartpage .rectangle-I3eKLX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-I3eKLX {
  height: 62px;
}

.c2cconnectedstartpage .content-RP2xbF {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
}

.c2cconnectedstartpage .title-RP2xbF {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line-2xFWzg {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-tZTKJI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-tZTKJI {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-8-Ukb9kG {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 324px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-JYDo1s {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-ZImYEQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-ZImYEQ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-JYDo1s {
  height: 53px;
}

.c2cconnectedstartpage .rectangle-Sh11Ao {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-Sh11Ao {
  height: 42px;
}

.c2cconnectedstartpage .content-vPRKL8 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
}

.c2cconnectedstartpage .title-vPRKL8 {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line-Wiyv0L {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-2eV8Ba {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-2eV8Ba {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-10-Ukb9kG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 393px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-4VCfW5 {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-zfw84H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-zfw84H {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_m-4VCfW5 {
  height: 53px;
}

.c2cconnectedstartpage .rectangle-hwTJQ3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-hwTJQ3 {
  height: 20px;
}

.c2cconnectedstartpage .title-dSkNcR {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .contents-hwTJQ3 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.c2cconnectedstartpage .table-guide-text2line-4VCfW5 {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-0PeKDU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-0PeKDU {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .contents-copy-0PeKDU {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-9-Ukb9kG {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 193px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-DqDXnu {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-2cAx1y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-2cAx1y {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_m-DqDXnu {
  height: 115px;
}

.c2cconnectedstartpage .rectangle-5iCWKA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-5iCWKA {
  height: 104px;
}

.c2cconnectedstartpage .content-ykvkXk {
  color: var(--persian-green);
  height: 60px;
}

.c2cconnectedstartpage .title-ykvkXk {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line-9xRFv8 {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-z0M8xk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-z0M8xk {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-11-Ukb9kG {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 467px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-o76K9B {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-tvAoYI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-tvAoYI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_m-o76K9B {
  cursor: pointer;
  height: 73px;
}

.c2cconnectedstartpage .rectangle-SJ0Bgb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-SJ0Bgb {
  height: 20px;
}

.c2cconnectedstartpage .title-KMvjXd {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .contents-SJ0Bgb {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.c2cconnectedstartpage .table-guide-text1line-YLWpOZ {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-anVuQU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-anVuQU {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-20-aj6brw {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 1397px;
  width: 680px;
}

.c2cconnectedstartpage .group-18-nhsDa4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-6t3SUC {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-OIG69R {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-OIG69R {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .rectangle-bTcOWw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .title-bTcOWw {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
}

.c2cconnectedstartpage .table-guide-text1line-YZKAdc {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-7v7iY4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-7v7iY4 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-19-nhsDa4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-EXGyyU {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-g2r6Pn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-g2r6Pn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-EXGyyU {
  cursor: pointer;
  height: 73px;
}

.c2cconnectedstartpage .rectangle-aAVSg7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-aAVSg7 {
  height: 62px;
}

.c2cconnectedstartpage .content-x95t6Z {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
}

.c2cconnectedstartpage .title-x95t6Z {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line-pxn3Yn {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-MM24l0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-MM24l0 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .group-21-nhsDa4 {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-1XZRiI {
  left: 0px;
  width: 50px;
}

.c2cconnectedstartpage .rectangle-QWBOHx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2cconnectedstartpage .contents-QWBOHx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2cconnectedstartpage .table-guide-text2line_m-1XZRiI {
  height: 115px;
}

.c2cconnectedstartpage .rectangle-Ws2HIQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2cconnectedstartpage .group-Ws2HIQ {
  height: 104px;
}

.c2cconnectedstartpage .content-hSR7CU {
  color: var(--persian-green);
  height: 60px;
}

.c2cconnectedstartpage .title-hSR7CU {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line-OVLVd8 {
  left: 410px;
  width: 270px;
}

.c2cconnectedstartpage .rectangle-6Igcja {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2cconnectedstartpage .contents-6Igcja {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2cconnectedstartpage .web-sub_-title-aj6brw {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2cconnectedstartpage .sub-title-eYeuQ5 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2cconnectedstartpage .web-title-area-aj6brw {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2cconnectedstartpage .web-tabc2-c_apart-servide-connected-aj6brw {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2cconnectedstartpage .x3rd-depth-kM6wDL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2cconnectedstartpage .tab-kM6wDL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2cconnectedstartpage .overview-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2cconnectedstartpage .onboarding_start-pag-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.c2cconnectedstartpage .onboarding_-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 188px;
}

.c2cconnectedstartpage .onboarding_-welcome-p-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.c2cconnectedstartpage .onboarding_-strongman-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.c2cconnectedstartpage .lnbc2-c_c2c_connector-aj6brw {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstartpage .rectangle-dLxGSl {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2cconnectedstartpage .background-dLxGSl {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2cconnectedstartpage .line-dLxGSl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cconnectedstartpage .home-net-gui-guidelin-dLxGSl {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup42 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup42 .web-index-title-reference-copy-2-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-BlIyTr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup42 .title-3kXlhR {
  width: 72px;
}

.stackedgroup42 .group-TCpj1M {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup42 .empty-f52LxS {
  bottom: 0px;
}

.stackedgroup42 .empty-lxodxJ {
  top: 0px;
}

.stackedgroup42 .web-index-title-reference-copy-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-xaupSm {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup42 .title-znyux3 {
  width: 81px;
}

.stackedgroup42 .group-copy-TCpj1M {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup42 .empty-VrxrIA {
  bottom: 0px;
}

.stackedgroup42 .empty-gFBo07 {
  top: 0px;
}

.stackedgroup42 .web-index-title-reference-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-IDlgxI {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup42 .title-S8o4Eh {
  width: 136px;
}

.stackedgroup42 .web-index-contents1dpeth_close-copy-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-6S5sER {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .web-expanded-FQxXuC {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup42 .button-2xPSBi {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup42 .x1-depth-title-FQxXuC {
  color: #3695dd;
  width: 91px;
}

.stackedgroup42 .group-1Jsf7J {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x2-death-title-fetxnR {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup42 .group-XHVYop {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x2-death-title-fgBVS9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup42 .group-fH0kxK {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x2-death-title-xjLG7V {
  color: #3695dd;
  font-family: "AppleSDGothicNeo-Medium", Helvetica;
  font-weight: 500;
}

.stackedgroup42 .web-index-contents1dpeth_close-copy-2-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-8zdQ8I {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x2-death-title-hWf7JJ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup42 .group-2yuvpm {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x2-death-title-A1mYeD {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-style: normal;
  font-weight: 400;
}

.stackedgroup42 .group-0zhNfa {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup42 .x1-depth-title-2h4d3K {
  color: #252525;
  width: 56px;
}

.stackedgroup42 .web-fold-0zhNfa {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup42 .button-aI2X6O {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup42 .group-copy-2-TCpj1M {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup42 .empty-Q6xAIu {
  bottom: 0px;
}

.stackedgroup42 .empty-D4Zgho {
  top: 0px;
}

.stackedgroup42 .web-index-title-reference-copy-3-TCpj1M {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup42 .group-zuH3Eg {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup42 .title-wxc9Lr {
  width: 50px;
}

.c2cconnectedstartpage .webgnb-aj6brw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .rectangle-hO6wft {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cconnectedstartpage .background-hO6wft {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cconnectedstartpage .index-hO6wft {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2cconnectedstartpage .web-index-select-AEua1B {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cconnectedstartpage .web-index-unselect-AEua1B {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2cconnectedstartpage .web-index-unelect_main-hO6wft {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2cconnectedstartpage .logo-4Pjg1o {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2cconnectedstartpage .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.c2cconnectedstartpage .content-copy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: 328px;
}

.c2cconnectedstartpage .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.c2cconnectedstartpage .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.c2cconnectedstartpage .strong-man-gui {
  background-color: transparent;
  height: 18px;
  left: 1140px;
  position: absolute;
  width: 232px;
}

.c2cconnectedstartpage .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.c2cconnectedstartpage .table-guide-text1line_mint {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2cconnectedstartpage .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup42 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup42 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup42 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
