/* screen - c2ccover */

.c2ccover {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2ccover .group-2-Jog8ME {
  background-color: transparent;
  height: 150px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 519px;
}

.c2ccover .lnbc2-c_c2c_connector-Jog8ME {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2ccover .rectangle-iO2gcU {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2ccover .background-iO2gcU {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2ccover .line-iO2gcU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2ccover .home-net-gui-guidelin-iO2gcU {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup11 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup11 .web-index-title-reference-copy-2-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-IPJD6A {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup11 .title-h67itj {
  width: 72px;
}

.stackedgroup11 .group-PPoNq0 {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-seND9W {
  bottom: 0px;
}

.stackedgroup11 .empty-s9sCZQ {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-copy-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-6yxLk8 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup11 .title-xBUTbU {
  width: 81px;
}

.stackedgroup11 .group-copy-PPoNq0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-vDZMAx {
  bottom: 0px;
}

.stackedgroup11 .empty-gQ4nmR {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-BDGhzb {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup11 .title-tLEH88 {
  width: 136px;
}

.stackedgroup11 .web-index-contents1dpeth_close-copy-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-yfgtXI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .web-expanded-RAtjOW {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup11 .button-IjrpxR {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup11 .x1-depth-title-RAtjOW {
  color: #3695dd;
  width: 91px;
}

.stackedgroup11 .group-KuFgtr {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .group-Q8grcx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .group-pds40E {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .web-index-contents1dpeth_close-copy-2-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-xsRb2X {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .group-OaTK66 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .group-wjRYxv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup11 .x1-depth-title-zx73Uk {
  color: #252525;
  width: 56px;
}

.stackedgroup11 .web-fold-wjRYxv {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup11 .button-n3RMNI {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup11 .group-copy-2-PPoNq0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup11 .empty-j0iB4y {
  bottom: 0px;
}

.stackedgroup11 .empty-eKRy3J {
  top: 0px;
}

.stackedgroup11 .web-index-title-reference-copy-3-PPoNq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup11 .group-DieKlZ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup11 .title-oNth9p {
  width: 50px;
}

.c2ccover .webgnb-Jog8ME {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2ccover .rectangle-HTZaiD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2ccover .background-HTZaiD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2ccover .index-HTZaiD {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2ccover .web-index-select-h4A0H9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2ccover .web-index-unselect-h4A0H9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2ccover .web-index-unelect_main-HTZaiD {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2ccover .logo-YgQmon {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.stackedgroup11 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup11 .group {
  background-color: transparent;
  opacity: 1;
}

.stackedgroup11 .title {
  background-color: transparent;
  color: #252525;
  font-family: 'SamsungOne-600', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  left: 9.58%;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
}

.stackedgroup11 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup11 .x2-death-title {
  background-color: transparent;
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
