/* screen - c2ccommoncardbg */

.c2ccommoncardbg {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2ccommoncardbg .group-3-TAxUWo {
  background-color: transparent;
  height: 156px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2ccommoncardbg .group-5-TAxUWo {
  background-color: transparent;
  height: 155px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2ccommoncardbg .group-4-R0Z56O {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2ccommoncardbg .group-2-xo6Eam {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.c2ccommoncardbg .table-guide-text1line-x9zqUI {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2ccommoncardbg .rectangle-UlukvM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2ccommoncardbg .contents-UlukvM {
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2ccommoncardbg .table-guide-text2line_m-x9zqUI {
  height: 53px;
  left: 60px;
  width: 340px;
}

.c2ccommoncardbg .rectangle-xgQDT5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2ccommoncardbg .group-xgQDT5 {
  width: 328px;
}

.c2ccommoncardbg .title-xyNdRc {
  color: var(--persian-green);
  width: 328px;
}

.c2ccommoncardbg .contents-xgQDT5 {
  height: 20px;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.c2ccommoncardbg .table-guide-text2line_m-H6f0oI {
  height: 93px;
  left: 410px;
  width: 270px;
}

.c2ccommoncardbg .rectangle-eDrqWT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2ccommoncardbg .group-eDrqWT {
  width: 258px;
}

.c2ccommoncardbg .title-h2ctEP {
  color: var(--science-blue);
  width: 258px;
}

.c2ccommoncardbg .contents-eDrqWT {
  height: 60px;
  top: 33px;
  width: 258px;
}

.c2ccommoncardbg .descriptiontabletop-R0Z56O {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2ccommoncardbg .web-sub_-title-TAxUWo {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2ccommoncardbg .sub-title-lFTroo {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2ccommoncardbg .web-title-area-TAxUWo {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2ccommoncardbg .web-tabc2-c_-common-TAxUWo {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2ccommoncardbg .x3rd-depth-5mOm37 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2ccommoncardbg .tab-5mOm37 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2ccommoncardbg .advanced-features-cgjzyi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 118px;
}

.c2ccommoncardbg .core-app-service-car-cgjzyi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.c2ccommoncardbg .card-bg-cgjzyi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 50px;
}

.c2ccommoncardbg .dialog-copy-cgjzyi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.c2ccommoncardbg .lnbc2-c_c2c_connector-TAxUWo {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2ccommoncardbg .rectangle-BjxV71 {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2ccommoncardbg .background-BjxV71 {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2ccommoncardbg .line-BjxV71 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2ccommoncardbg .home-net-gui-guidelin-BjxV71 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup22 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup22 .web-index-title-reference-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-RT6i25 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-vwezFn {
  width: 72px;
}

.stackedgroup22 .group-MSm7nV {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-cuAAUT {
  bottom: 0px;
}

.stackedgroup22 .empty-h2bLti {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-AF0tF2 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-e05UOu {
  width: 81px;
}

.stackedgroup22 .group-copy-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-Ss487G {
  bottom: 0px;
}

.stackedgroup22 .empty-BNIP8t {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-oAViF3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-UG0KEl {
  width: 136px;
}

.stackedgroup22 .web-index-contents1dpeth_close-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-OhPUBb {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .web-expanded-7q2qwx {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup22 .button-SPXu7W {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup22 .x1-depth-title-7q2qwx {
  color: #3695dd;
  width: 91px;
}

.stackedgroup22 .group-GwcslX {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-Dx0mox {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup22 .group-4kwgOC {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-Nl15JN {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .group-jGW3DN {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-HQqpdA {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .web-index-contents1dpeth_close-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-hts8Iz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-h8ABwN {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .group-Hwl9HT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x2-death-title-neIC1W {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup22 .group-K56P6x {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .x1-depth-title-5ubca5 {
  color: #252525;
  width: 56px;
}

.stackedgroup22 .web-fold-K56P6x {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup22 .button-1xHauK {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup22 .group-copy-2-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-xViNmL {
  bottom: 0px;
}

.stackedgroup22 .empty-acgJzL {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-kpx8sP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup22 .title-x3EaPg {
  width: 50px;
}

.c2ccommoncardbg .webgnb-TAxUWo {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2ccommoncardbg .rectangle-JIoIVJ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2ccommoncardbg .background-JIoIVJ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2ccommoncardbg .index-JIoIVJ {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2ccommoncardbg .web-index-select-cTpvH1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2ccommoncardbg .web-index-unselect-cTpvH1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2ccommoncardbg .web-index-unelect_main-JIoIVJ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2ccommoncardbg .logo-qMYyxR {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.c2ccommoncardbg .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.c2ccommoncardbg .group {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
}

.c2ccommoncardbg .table-guide-text2line_m {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.c2ccommoncardbg .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}

.stackedgroup22 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup22 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup22 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
