/* screen - c2coverviewinfoaccessapt */

.c2coverviewinfoaccessapt {
  background-color: var(--white);
  height: 1287px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2coverviewinfoaccessapt .group-wdjbdc {
  background-color: transparent;
  height: 745px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.c2coverviewinfoaccessapt .web-sub_-title-wdjbdc {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.c2coverviewinfoaccessapt .sub-title-jvqFHD {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2coverviewinfoaccessapt .web-title-area-wdjbdc {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2coverviewinfoaccessapt .web-tabc2-c_-overview-wdjbdc {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2coverviewinfoaccessapt .x3rd-depth-fiPJ5x {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2coverviewinfoaccessapt .tab-fiPJ5x {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2coverviewinfoaccessapt .image-6x8qkL {
  margin: 0;
  width: 198px;
}

.c2coverviewinfoaccessapt .smart-apartment-6x8qkL {
  width: 108px;
}

.c2coverviewinfoaccessapt .list-copy-6x8qkL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.c2coverviewinfoaccessapt .smart-apartment_-card-copy-6x8qkL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.c2coverviewinfoaccessapt .smart-apartment_-list-copy-6x8qkL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 139px;
}

.c2coverviewinfoaccessapt .smart-apartment-YIcoGD {
  width: 187px;
}

.c2coverviewinfoaccessapt .image-YIcoGD {
  margin: 0 0 0 50px;
  width: 143px;
}

.c2coverviewinfoaccessapt .lnbc2-c_c2c_connector-wdjbdc {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewinfoaccessapt .rectangle-inA1sl {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2coverviewinfoaccessapt .background-inA1sl {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2coverviewinfoaccessapt .line-inA1sl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2coverviewinfoaccessapt .home-net-gui-guidelin-inA1sl {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup31 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup31 .web-index-title-reference-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-sFOD2I {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup31 .title-9unvBH {
  width: 72px;
}

.stackedgroup31 .group-jjB0ne {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-GihQE5 {
  bottom: 0px;
}

.stackedgroup31 .empty-JoxSjB {
  top: 0px;
}

.stackedgroup31 .web-index-title-reference-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-o3p3xj {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup31 .title-IuFDPH {
  width: 81px;
}

.stackedgroup31 .group-copy-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-gBHVxl {
  bottom: 0px;
}

.stackedgroup31 .empty-jRf5Uq {
  top: 0px;
}

.stackedgroup31 .web-index-title-reference-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-im8dAI {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup31 .title-QjmXS1 {
  width: 136px;
}

.stackedgroup31 .web-index-contents1dpeth_close-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-5BS697 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .web-expanded-9xe3hO {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup31 .button-EJqiaB {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup31 .x1-depth-title-9xe3hO {
  color: #3695dd;
  width: 91px;
}

.stackedgroup31 .group-y3qggd {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x2-death-title-85o69w {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup31 .group-euxx8r {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x2-death-title-MCnUfx {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup31 .group-rXWR5V {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x2-death-title-xcif9K {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup31 .web-index-contents1dpeth_close-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-1tvzuX {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x2-death-title-xtpIj7 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup31 .group-EImpAq {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x2-death-title-pVdIXv {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup31 .group-vtJ02T {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .x1-depth-title-mecwo7 {
  color: #252525;
  width: 56px;
}

.stackedgroup31 .web-fold-vtJ02T {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup31 .button-vznZQY {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup31 .group-copy-2-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-Q8Q8dE {
  bottom: 0px;
}

.stackedgroup31 .empty-ehC82W {
  top: 0px;
}

.stackedgroup31 .web-index-title-reference-copy-3-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-R82BhD {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup31 .title-3N51nC {
  width: 50px;
}

.c2coverviewinfoaccessapt .webgnb-wdjbdc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewinfoaccessapt .rectangle-73D5NG {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2coverviewinfoaccessapt .background-73D5NG {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2coverviewinfoaccessapt .index-73D5NG {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2coverviewinfoaccessapt .web-index-select-RP6xdd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2coverviewinfoaccessapt .web-index-unselect-RP6xdd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2coverviewinfoaccessapt .web-index-unelect_main-73D5NG {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2coverviewinfoaccessapt .logo-txG5Lx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.stackedgroup31 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup31 .group {
  background-color: transparent;
  opacity: 1;
}

.stackedgroup31 .title {
  background-color: transparent;
  color: #252525;
  font-family: 'SamsungOne-600', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  left: 9.58%;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
}

.stackedgroup31 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup31 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
