/* screen - coreappcoreappmenutabhowtouseflow */

.coreappcoreappmenutabhowtouseflow {
  background-color: var(--white);
  height: 1361px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappcoreappmenutabhowtouseflow .group-5-EXOYAH {
  background-color: transparent;
  height: 819px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.coreappcoreappmenutabhowtouseflow .web-sub_-title-EXOYAH {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.coreappcoreappmenutabhowtouseflow .sub-title-gwsOZ4 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreappcoreappmenutabhowtouseflow .web-title-area-EXOYAH {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouseflow .web-tabc2-c_re_popup-EXOYAH {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouseflow .rectangle-XFIAkr {
  background-color: var(--white);
  height: 47px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouseflow .x3rd-depth-XFIAkr {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouseflow .tab-xBNN1K {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreappcoreappmenutabhowtouseflow .flow-0bzKtm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 30px;
}

.coreappcoreappmenutabhowtouseflow .how-to-use-0bzKtm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.coreappcoreappmenutabhowtouseflow .smart-apartment-serv-0bzKtm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 155px;
}

.coreappcoreappmenutabhowtouseflow .lnbc2-c_coreapp-EXOYAH {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappcoreappmenutabhowtouseflow .rectangle-SC7094 {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcoreappmenutabhowtouseflow .background-SC7094 {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcoreappmenutabhowtouseflow .line-SC7094 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappcoreappmenutabhowtouseflow .home-net-gui-guidelin-SC7094 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup14 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup14 .web-index-title-reference-copy-2-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-nI4mwv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup14 .title-Zt08EL {
  width: 72px;
}

.stackedgroup14 .group-YpOVFn {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup14 .empty-xP39Lh {
  bottom: 0px;
}

.stackedgroup14 .empty-xQ5D32 {
  top: 0px;
}

.stackedgroup14 .web-index-title-reference-copy-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-zqVzde {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup14 .title-Gb5wxh {
  width: 81px;
}

.stackedgroup14 .group-copy-YpOVFn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup14 .empty-EyoVyr {
  bottom: 0px;
}

.stackedgroup14 .empty-JIsxKL {
  top: 0px;
}

.stackedgroup14 .web-index-title-reference-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-FD23XN {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup14 .title-HadSU7 {
  width: 136px;
}

.stackedgroup14 .web-index-contents1dpeth_close-copy-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-WsN8Fs {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .x1-depth-title-xQmWm5 {
  color: #252525;
  width: 91px;
}

.stackedgroup14 .web-fold-WsN8Fs {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup14 .button-JwVdDv {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup14 .web-index-contents1dpeth_close-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-naVFO5 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .web-expanded-LBUfQD {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup14 .button-83bdQQ {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup14 .x1-depth-title-LBUfQD {
  color: #3695dd;
  width: 56px;
}

.stackedgroup14 .group-SQEfJg {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .x2-death-title-1LgX3C {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup14 .web-index-contents1dpeth_open_selected-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-kiXq9E {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .x2-death-title-Cuyf7K {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup14 .group-sYcTNW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .x2-death-title-QzMC1U {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup14 .group-ifBgWH {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup14 .x2-death-title-iQeuV4 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup14 .group-copy-2-YpOVFn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup14 .empty-IgWnX6 {
  bottom: 0px;
}

.stackedgroup14 .empty-qcFIHL {
  top: 0px;
}

.stackedgroup14 .web-index-title-reference-copy-3-YpOVFn {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup14 .group-ctWqce {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup14 .title-oi7Owb {
  width: 50px;
}

.coreappcoreappmenutabhowtouseflow .webgnb-EXOYAH {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouseflow .rectangle-iXaXiS {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouseflow .background-iXaXiS {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouseflow .index-iXaXiS {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappcoreappmenutabhowtouseflow .web-index-select-sMlssn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappcoreappmenutabhowtouseflow .web-index-unselect-sMlssn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappcoreappmenutabhowtouseflow .web-index-unelect_main-iXaXiS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreappcoreappmenutabhowtouseflow .logo-UFuavt {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.stackedgroup14 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup14 .group {
  background-color: transparent;
  opacity: 1;
}

.stackedgroup14 .title {
  background-color: transparent;
  color: #252525;
  font-family: 'SamsungOne-600', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  left: 9.58%;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
}

.stackedgroup14 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup14 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
