/* screen - coreappcoreappmenutabhowtouse */

.coreappcoreappmenutabhowtouse {
  background-color: var(--white);
  height: 1288px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappcoreappmenutabhowtouse .group-9-fj9bmv {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.coreappcoreappmenutabhowtouse .group-11-fj9bmv {
  background-color: transparent;
  height: 446px;
  left: 1140px;
  position: absolute;
  top: 296px;
  width: 680px;
}

.coreappcoreappmenutabhowtouse .group-7-GBetxn {
  background-color: transparent;
  height: 124px;
  left: 0px;
  position: absolute;
  top: 322px;
  width: 180px;
}

.coreappcoreappmenutabhowtouse .refer-to-one-ui5x-GBetxn {
  background-color: transparent;
  height: 20px;
  left: 273px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 407px;
}

.coreappcoreappmenutabhowtouse .group-8-GBetxn {
  background-color: transparent;
  height: 226px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 680px;
}

.coreappcoreappmenutabhowtouse .group-4-Zq4LFY {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line-93aJNy {
  left: 0px;
  width: 50px;
}

.coreappcoreappmenutabhowtouse .rectangle-C9yn3w {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreappcoreappmenutabhowtouse .contents-C9yn3w {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line_mint-93aJNy {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreappcoreappmenutabhowtouse .rectangle-UmFBD9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreappcoreappmenutabhowtouse .group-UmFBD9 {
  height: 20px;
}

.coreappcoreappmenutabhowtouse .contents-UmFBD9 {
  color: var(--black);
  font-weight: 400;
  top: 33px;
  width: 328px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line-I3sY1F {
  left: 410px;
  width: 270px;
}

.coreappcoreappmenutabhowtouse .rectangle-J4PYVt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreappcoreappmenutabhowtouse .contents-J4PYVt {
  color: var(--science-blue);
  font-weight: 600;
  top: 11px;
  width: 258px;
}

.coreappcoreappmenutabhowtouse .group-6-Zq4LFY {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line-6L9pk0 {
  left: 0px;
  width: 50px;
}

.coreappcoreappmenutabhowtouse .rectangle-mqsGJ6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreappcoreappmenutabhowtouse .contents-mqsGJ6 {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line-Lphbm9 {
  left: 410px;
  width: 270px;
}

.coreappcoreappmenutabhowtouse .rectangle-A9kRa0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreappcoreappmenutabhowtouse .contents-A9kRa0 {
  color: var(--science-blue);
  font-weight: 600;
  top: 11px;
  width: 258px;
}

.coreappcoreappmenutabhowtouse .table-guide-text2line_m-6L9pk0 {
  background-color: transparent;
  height: 95px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreappcoreappmenutabhowtouse .rectangle-4QjiGo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreappcoreappmenutabhowtouse .group-4QjiGo {
  height: 84px;
}

.coreappcoreappmenutabhowtouse .content-4aCgfl {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.coreappcoreappmenutabhowtouse .content-copy-4aCgfl {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 328px;
}

.coreappcoreappmenutabhowtouse .table-guide-title-Zq4LFY {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreappcoreappmenutabhowtouse .web-sub_-title-fj9bmv {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.coreappcoreappmenutabhowtouse .sub-title-vY2XIT {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreappcoreappmenutabhowtouse .web-title-area-fj9bmv {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouse .web-tabc2-c_re_popup-fj9bmv {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouse .rectangle-xYxDU4 {
  background-color: var(--white);
  height: 47px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouse .x3rd-depth-xYxDU4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappcoreappmenutabhowtouse .tab-Fq0TrF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreappcoreappmenutabhowtouse .flow-Txq0R8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.coreappcoreappmenutabhowtouse .how-to-use-Txq0R8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.coreappcoreappmenutabhowtouse .smart-apartment-serv-Txq0R8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 155px;
}

.coreappcoreappmenutabhowtouse .lnbc2-c_coreapp-fj9bmv {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappcoreappmenutabhowtouse .rectangle-zHUQZH {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcoreappmenutabhowtouse .background-zHUQZH {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcoreappmenutabhowtouse .line-zHUQZH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappcoreappmenutabhowtouse .home-net-gui-guidelin-zHUQZH {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup29 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup29 .web-index-title-reference-copy-2-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-GzmPRf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup29 .title-HECBQX {
  width: 72px;
}

.stackedgroup29 .group-cvTi9E {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup29 .empty-KG6xcF {
  bottom: 0px;
}

.stackedgroup29 .empty-AcNrD6 {
  top: 0px;
}

.stackedgroup29 .web-index-title-reference-copy-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-bforbO {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup29 .title-SxGlTC {
  width: 81px;
}

.stackedgroup29 .group-copy-cvTi9E {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup29 .empty-v4KI4A {
  bottom: 0px;
}

.stackedgroup29 .empty-WGbGFu {
  top: 0px;
}

.stackedgroup29 .web-index-title-reference-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-jPPoLX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup29 .title-uhIbr6 {
  width: 136px;
}

.stackedgroup29 .web-index-contents1dpeth_close-copy-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-uBACEq {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .x1-depth-title-wHbsFc {
  color: #252525;
  width: 91px;
}

.stackedgroup29 .web-fold-uBACEq {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup29 .button-xf5yN8 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup29 .web-index-contents1dpeth_close-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-15xlhr {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .web-expanded-QrN5zd {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup29 .button-amAlFR {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup29 .x1-depth-title-QrN5zd {
  color: #3695dd;
  width: 56px;
}

.stackedgroup29 .group-GIamKC {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .x2-death-title-ZlRxXd {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup29 .web-index-contents1dpeth_open_selected-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-fUISAV {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .x2-death-title-11a1rs {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup29 .group-bWhwtX {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .x2-death-title-0YDdFK {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup29 .group-iTYltW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup29 .x2-death-title-PhSuHD {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup29 .group-copy-2-cvTi9E {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup29 .empty-xZAYwN {
  bottom: 0px;
}

.stackedgroup29 .empty-UOXkxx {
  top: 0px;
}

.stackedgroup29 .web-index-title-reference-copy-3-cvTi9E {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup29 .group-CEL4YE {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup29 .title-9ZTi9q {
  width: 50px;
}

.coreappcoreappmenutabhowtouse .webgnb-fj9bmv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouse .rectangle-lI9xTK {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouse .background-lI9xTK {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcoreappmenutabhowtouse .index-lI9xTK {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappcoreappmenutabhowtouse .web-index-select-tsxqxB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappcoreappmenutabhowtouse .web-index-unselect-tsxqxB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappcoreappmenutabhowtouse .web-index-unelect_main-lI9xTK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreappcoreappmenutabhowtouse .logo-k951wx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.coreappcoreappmenutabhowtouse .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.coreappcoreappmenutabhowtouse .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.coreappcoreappmenutabhowtouse .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.coreappcoreappmenutabhowtouse .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup29 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup29 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup29 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
