/* screen - coreappdesignprinciple */

.coreappdesignprinciple {
  background-color: var(--white);
  height: 1378px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappdesignprinciple .group-4-D310Oo {
  background-color: transparent;
  height: 836px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.coreappdesignprinciple .web-sub_-title-D310Oo {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.coreappdesignprinciple .sub-title-g5AnJn {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreappdesignprinciple .web-title-area-D310Oo {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappdesignprinciple .web-tabc2-c_re_popup-D310Oo {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappdesignprinciple .x3rd-depth-WTGasC {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappdesignprinciple .tab-WTGasC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreappdesignprinciple .design-principle-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 101px;
}

.coreappdesignprinciple .title-copy-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.coreappdesignprinciple .contents-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.coreappdesignprinciple .logo-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.coreappdesignprinciple .background-image-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.coreappdesignprinciple .pattern-4uIg9n {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 44px;
}

.coreappdesignprinciple .lnbc2-c_coreapp-D310Oo {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappdesignprinciple .rectangle-qs80MY {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappdesignprinciple .background-qs80MY {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappdesignprinciple .line-qs80MY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappdesignprinciple .home-net-gui-guidelin-qs80MY {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup32 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup32 .web-index-title-reference-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-E2NQr3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup32 .title-PkX7zI {
  width: 72px;
}

.stackedgroup32 .group-ccl8pA {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-RJlUSA {
  bottom: 0px;
}

.stackedgroup32 .empty-QQygoB {
  top: 0px;
}

.stackedgroup32 .web-index-title-reference-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-ZNj2Aj {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup32 .title-tZ9MXF {
  width: 81px;
}

.stackedgroup32 .group-copy-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-DLve8I {
  bottom: 0px;
}

.stackedgroup32 .empty-quBk7B {
  top: 0px;
}

.stackedgroup32 .web-index-title-reference-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-T0HNZp {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup32 .title-2mr3u9 {
  width: 136px;
}

.stackedgroup32 .web-index-contents1dpeth_close-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-mcvYOW {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .x1-depth-title-q3gamd {
  color: #252525;
  width: 91px;
}

.stackedgroup32 .web-fold-mcvYOW {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup32 .button-DHg8dj {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup32 .web-index-contents1dpeth_close-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-xAJn9n {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-expanded-eVrud9 {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup32 .button-0pJAwM {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup32 .x1-depth-title-eVrud9 {
  color: #3695dd;
  width: 56px;
}

.stackedgroup32 .group-E9fAmA {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .x2-death-title-pV6yyX {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup32 .web-index-contents1dpeth_open_selected-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-fe7uey {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .x2-death-title-hWCZHo {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup32 .group-QA7WTW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .x2-death-title-t1pRa5 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup32 .group-LejXpC {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .x2-death-title-Uhs4yd {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup32 .group-copy-2-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-vqJwlM {
  bottom: 0px;
}

.stackedgroup32 .empty-Zkbb2e {
  top: 0px;
}

.stackedgroup32 .web-index-title-reference-copy-3-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-vkXSBb {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup32 .title-Yguv3Z {
  width: 50px;
}

.coreappdesignprinciple .webgnb-D310Oo {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappdesignprinciple .rectangle-XCHQKo {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciple .background-XCHQKo {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciple .index-XCHQKo {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappdesignprinciple .web-index-select-LJStAB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappdesignprinciple .web-index-unselect-LJStAB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappdesignprinciple .web-index-unelect_main-XCHQKo {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreappdesignprinciple .logo-PYdOM4 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.stackedgroup32 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup32 .group {
  background-color: transparent;
  opacity: 1;
}

.stackedgroup32 .title {
  background-color: transparent;
  color: #252525;
  font-family: 'SamsungOne-600', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  left: 9.58%;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
}

.stackedgroup32 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup32 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
