/* screen - coreappcover */

.coreappcover {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappcover .group-2-hUtAbj {
  background-color: transparent;
  height: 150px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 319px;
}

.coreappcover .lnbc2-c_coreapp-hUtAbj {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappcover .rectangle-bKKevN {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcover .background-bKKevN {
  background-color: var(--concrete);
  height: 751px;
  width: 320px;
}

.coreappcover .line-bKKevN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappcover .home-net-gui-guidelin-bKKevN {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup44 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup44 .web-index-title-reference-copy-2-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-QclUTM {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup44 .title-xew2ke {
  width: 72px;
}

.stackedgroup44 .group-aw1Wef {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup44 .empty-WLzlaE {
  bottom: 0px;
}

.stackedgroup44 .empty-Sxw9mh {
  top: 0px;
}

.stackedgroup44 .web-index-title-reference-copy-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-F4AlDo {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup44 .title-SSj7Jt {
  width: 81px;
}

.stackedgroup44 .group-copy-aw1Wef {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup44 .empty-0gCQN4 {
  bottom: 0px;
}

.stackedgroup44 .empty-vKxQGE {
  top: 0px;
}

.stackedgroup44 .web-index-title-reference-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-3QkMIm {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup44 .title-kLV2BZ {
  width: 136px;
}

.stackedgroup44 .web-index-contents1dpeth_close-copy-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-RfMWvs {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .x1-depth-title-7kWp4X {
  color: #252525;
  width: 91px;
}

.stackedgroup44 .web-fold-RfMWvs {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup44 .button-avChNk {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup44 .web-index-contents1dpeth_close-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-et1DxS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .web-expanded-y3Ibdk {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup44 .button-PYdtzn {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup44 .x1-depth-title-y3Ibdk {
  color: #3695dd;
  width: 56px;
}

.stackedgroup44 .group-n2nXFF {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .web-index-contents1dpeth_open_selected-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-YBpXaj {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .group-NxeGNz {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .group-ixmiSp {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup44 .group-copy-2-aw1Wef {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup44 .empty-kqr7a0 {
  bottom: 0px;
}

.stackedgroup44 .empty-PASW9i {
  top: 0px;
}

.stackedgroup44 .web-index-title-reference-copy-3-aw1Wef {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup44 .group-KuTUxJ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup44 .title-PnqFrP {
  width: 50px;
}

.coreappcover .webgnb-hUtAbj {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappcover .rectangle-olydy1 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcover .background-olydy1 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappcover .index-olydy1 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappcover .web-index-select-rigWvB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappcover .web-index-unselect-rigWvB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappcover .web-index-unelect_main-olydy1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreappcover .logo-XNY6Hz {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.stackedgroup44 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup44 .group {
  background-color: transparent;
  opacity: 1;
}

.stackedgroup44 .title {
  background-color: transparent;
  color: #252525;
  font-family: 'SamsungOne-600', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  left: 9.58%;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
}

.stackedgroup44 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup44 .x2-death-title {
  background-color: transparent;
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
