/* screen - tabletservicepluincctvfeaturedetail */

.tabletservicepluincctvfeaturedetail {
  background-color: var(--white);
  height: 1152px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluincctvfeaturedetail .group-8-XK6wej {
  background-color: transparent;
  height: 610px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluincctvfeaturedetail .group-25-XK6wej {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluincctvfeaturedetail .descriptiontabletop-copy-5-s4ucqK {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluincctvfeaturedetail .table-guide-title-h8U4MS {
  left: 410px;
  width: 270px;
}

.tabletservicepluincctvfeaturedetail .rectangle-R7qlyz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluincctvfeaturedetail .table-title-text-R7qlyz {
  width: 258px;
}

.tabletservicepluincctvfeaturedetail .table-guide-title-xJvvCg {
  left: 60px;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .rectangle-tjAGCx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .table-title-text-tjAGCx {
  width: 328px;
}

.tabletservicepluincctvfeaturedetail .table-guide-title-2pazlI {
  left: 0px;
  width: 50px;
}

.tabletservicepluincctvfeaturedetail .rectangle-4mz1ny {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluincctvfeaturedetail .table-title-text-4mz1ny {
  width: 38px;
}

.tabletservicepluincctvfeaturedetail .group-24-s4ucqK {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluincctvfeaturedetail .table-guide-text1line-copy-6-9xR0Hn {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluincctvfeaturedetail .rectangle-C4E6bk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluincctvfeaturedetail .contents-C4E6bk {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  top: 11px;
  width: 258px;
}

.tabletservicepluincctvfeaturedetail .table-guide-text1line-copy-22-9xR0Hn {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluincctvfeaturedetail .rectangle-SvsRTX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluincctvfeaturedetail .contents-SvsRTX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluincctvfeaturedetail .table-guide-text2line_m-copy-29-9xR0Hn {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .rectangle-KjVO0Y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .group-KjVO0Y {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluincctvfeaturedetail .title-K2Hpe7 {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluincctvfeaturedetail .contents-KjVO0Y {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluincctvfeaturedetail .web-sub_-title-XK6wej {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluincctvfeaturedetail .web-title-area-XK6wej {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluincctvfeaturedetail .web-tabtablet_service-plug-inems-XK6wej {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluincctvfeaturedetail .x3rd-depth-b3mPx0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluincctvfeaturedetail .feature-b3mPx0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.tabletservicepluincctvfeaturedetail .feature-detail-b3mPx0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 198px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.tabletservicepluincctvfeaturedetail .lnbtablet_serviceplugin-XK6wej {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluincctvfeaturedetail .rectangle-NhVxzh {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluincctvfeaturedetail .line-NhVxzh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluincctvfeaturedetail .home-net-gui-guidelin-NhVxzh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup35 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup35 .web-index-title-reference-copy-2-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-eMcu0i {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .empty-qlW6r5 {
  bottom: 0px;
}

.stackedgroup35 .empty-ZKkHXu {
  top: 0px;
}

.stackedgroup35 .web-index-title-reference-copy-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-copy-eMcu0i {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .empty-hLOCcV {
  bottom: 0px;
}

.stackedgroup35 .empty-WZKPDp {
  top: 0px;
}

.stackedgroup35 .web-index-title-reference-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-copy-2-eMcu0i {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .empty-copy-Udfqm1 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup35 .line-copy-2-Udfqm1 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup35 .empty-copy-2-Udfqm1 {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup35 .web-index-title-reference-copy-3-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-3-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-2-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-4-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-5-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-6-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-16-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-15-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-14-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-13-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-12-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-11-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-10-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-18-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-17-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-19-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-21-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-20-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents2dpeth-copy-22-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluincctvfeaturedetail .webgnb-XK6wej {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluincctvfeaturedetail .rectangle-3MJgZf {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluincctvfeaturedetail .background-3MJgZf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluincctvfeaturedetail .index-3MJgZf {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluincctvfeaturedetail .web-index-select-YzYcIm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluincctvfeaturedetail .web-index-unselect-YzYcIm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluincctvfeaturedetail .web-index-unelect_main-3MJgZf {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .logo-xwE5U4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluincctvfeaturedetail .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}
