/* screen - tabletservicepluinmaintenancefee */

.tabletservicepluinmaintenancefee {
  background-color: var(--white);
  height: 3716px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .group-7-yrIpn3 {
  background-color: transparent;
  height: 746px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-5-yrIpn3 {
  background-color: transparent;
  height: 857px;
  left: 380px;
  position: absolute;
  top: 1894px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-4-yrIpn3 {
  background-color: transparent;
  height: 615px;
  left: 380px;
  position: absolute;
  top: 2901px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-6-yrIpn3 {
  background-color: transparent;
  height: 507px;
  left: 380px;
  position: absolute;
  top: 1238px;
  width: 710px;
}

.tabletservicepluinmaintenancefee .group-11-yrIpn3 {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-8-n0CHh7 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-6-wBgxCt {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-KUH0Pe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-KUH0Pe {
  height: 62px;
}

.tabletservicepluinmaintenancefee .contents-EJ818A {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-8-wBgxCt {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-vxkKtF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-vxkKtF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-wBgxCt {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-SzRSzy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-SzRSzy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-n0CHh7 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-10-n0CHh7 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-16-cnvv4P {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-VAfZ4J {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-VAfZ4J {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-WZSHDh {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-12-cnvv4P {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-cjyxqS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-cjyxqS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-7-cnvv4P {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-rQ42B9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-rQ42B9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-9-n0CHh7 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-2-VkNBfr {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-6EaboG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-6EaboG {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-19-VkNBfr {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-doI07H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-doI07H {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-25-VkNBfr {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-DUmUrz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .contents-DUmUrz {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .group-26-yrIpn3 {
  background-color: transparent;
  height: 469px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-15-M9FWSx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-8-ZzAHsO {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-PFd6Rp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-PFd6Rp {
  height: 62px;
}

.tabletservicepluinmaintenancefee .contents-si3bkI {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-15-ZzAHsO {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-yHlnzh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-yHlnzh {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-6-ZzAHsO {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-XzfG69 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-XzfG69 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-3-M9FWSx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-17-M9FWSx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-18-tLtJ62 {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-FXnlNO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-FXnlNO {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-IIQQvj {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-14-tLtJ62 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-4r3kNc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-4r3kNc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-11-tLtJ62 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-yAxaJf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-yAxaJf {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-18-M9FWSx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 281px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-19-sOTq2w {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-K0Eq8e {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-K0Eq8e {
  height: 62px;
}

.tabletservicepluinmaintenancefee .contents-YH9WWh {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-23-sOTq2w {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-R1Yx4c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-R1Yx4c {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-16-sOTq2w {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-lwz37i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-lwz37i {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-19-M9FWSx {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-20-E5txyA {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-RCJvuC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-RCJvuC {
  height: 82px;
}

.tabletservicepluinmaintenancefee .contents-Ebp2bU {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-22-E5txyA {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-EEjEDX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-EEjEDX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-18-E5txyA {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-jBxgv9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-jBxgv9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-16-M9FWSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-5-BHLhYy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-8VjLpM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-8VjLpM {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-21-BHLhYy {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-oz4SiE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-oz4SiE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-27-BHLhYy {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-a2kCvm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .contents-a2kCvm {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .group-25-yrIpn3 {
  background-color: transparent;
  height: 409px;
  left: 1143px;
  position: absolute;
  top: 2901px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-20-aMT8Qd {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-9-JakDaJ {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-kC6JaR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-kC6JaR {
  height: 62px;
}

.tabletservicepluinmaintenancefee .contents-ak0MzS {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-32-JakDaJ {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-FuteeZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-FuteeZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-31-JakDaJ {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-nmACu0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-nmACu0 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-4-aMT8Qd {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-22-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-23-2E0zI5 {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-1y7Ovi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-1y7Ovi {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-Y6dqrh {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-30-2E0zI5 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-30JxsA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-30JxsA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-29-2E0zI5 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-1gTbN3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-1gTbN3 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-23-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 281px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-22-iVCOCY {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-vPq04a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-vPq04a {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-48adxW {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-28-iVCOCY {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-xGc1sK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-xGc1sK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-27-iVCOCY {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-9Kfrw6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-9Kfrw6 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-24-aMT8Qd {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 350px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-21-UgqelZ {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-jdC9sf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-jdC9sf {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-R6OdIO {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-26-UgqelZ {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-lGWyAs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-lGWyAs {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-25-UgqelZ {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-89v2MW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-89v2MW {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-21-aMT8Qd {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-17-5nKM4Y {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-qmzKiY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-qmzKiY {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-24-5nKM4Y {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-xvqPlo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-xvqPlo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-28-5nKM4Y {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-apQNes {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .contents-apQNes {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .group-27-yrIpn3 {
  background-color: transparent;
  height: 271px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-12-NR2XsO {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-7-yx528O {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-xECcPc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-xECcPc {
  height: 62px;
}

.tabletservicepluinmaintenancefee .contents-oYsx1u {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-10-yx528O {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-dk58OU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-dk58OU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-4-yx528O {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-ynyaH1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-ynyaH1 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .descriptiontabletop-copy-2-NR2XsO {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .group-14-NR2XsO {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-17-TK7h7O {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-bbOotq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .group-bbOotq {
  height: 42px;
}

.tabletservicepluinmaintenancefee .contents-wJxQmp {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-13-TK7h7O {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-m2XaQC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-m2XaQC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-9-TK7h7O {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-f7hAeL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-f7hAeL {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .group-13-NR2XsO {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-3-7M4Kwj {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinmaintenancefee .rectangle-C2zE8E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinmaintenancefee .contents-C2zE8E {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinmaintenancefee .table-guide-text1line-copy-20-7M4Kwj {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinmaintenancefee .rectangle-K52QS9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinmaintenancefee .contents-K52QS9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinmaintenancefee .table-guide-text2line_m-copy-26-7M4Kwj {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .rectangle-54eAQ7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinmaintenancefee .contents-54eAQ7 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .web-sub_-title-yrIpn3 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinmaintenancefee .sub-title-qox0IN {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinmaintenancefee .web-title-area-yrIpn3 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .web-tabtablet_service-plug-inems-yrIpn3 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .x3rd-depth-2fWAfO {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinmaintenancefee .feature-2fWAfO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.tabletservicepluinmaintenancefee .lnbtablet_serviceplugin-yrIpn3 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinmaintenancefee .rectangle-TOBJbS {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinmaintenancefee .line-TOBJbS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinmaintenancefee .home-net-gui-guidelin-TOBJbS {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup13 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup13 .web-index-title-reference-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-j7H5Yb {
  bottom: 0px;
}

.stackedgroup13 .empty-sonNDN {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-copy-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-GQXU62 {
  bottom: 0px;
}

.stackedgroup13 .empty-KRY9FR {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-copy-2-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-copy-PE08ay {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup13 .line-copy-2-PE08ay {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup13 .empty-copy-2-PE08ay {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-4-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-5-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-6-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-16-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-15-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-14-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-13-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-12-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-11-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-10-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-18-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-17-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-19-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-21-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-20-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-22-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinmaintenancefee .webgnb-yrIpn3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .rectangle-PSMytS {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .background-PSMytS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinmaintenancefee .index-PSMytS {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinmaintenancefee .web-index-select-KE7fxL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinmaintenancefee .web-index-unselect-KE7fxL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinmaintenancefee .web-index-unelect_main-PSMytS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .logo-aEvO9Z {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinmaintenancefee .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinmaintenancefee .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinmaintenancefee .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
