/* screen - tabletservicepluinvehicleparkinglocation */

.tabletservicepluinvehicleparkinglocation {
  background-color: var(--white);
  height: 3223px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinvehicleparkinglocation .group-13-5xSlRd {
  background-color: transparent;
  height: 223px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .group-11-lZ4VuZ {
  background-color: transparent;
  height: 78px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-11-CsfKNr {
  background-color: transparent;
  height: 72px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-E7YY2H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .group-E7YY2H {
  height: 61px;
}

.tabletservicepluinvehicleparkinglocation .content-uNxnnu {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .content-copy-uNxnnu {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-14-CsfKNr {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-o20MHP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-o20MHP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-6-CsfKNr {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-tmhYOT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-tmhYOT {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .group-12-lZ4VuZ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 400px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-10-mnVYAm {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-UkeAxO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .group-UkeAxO {
  height: 20px;
}

.tabletservicepluinvehicleparkinglocation .contents-UkeAxO {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-13-mnVYAm {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-xvKins {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-xvKins {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .descriptiontabletop-copy-3-lZ4VuZ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-lxkRsk {
  left: 410px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-1hnzxq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-1hnzxq {
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-0Dsdsm {
  left: 60px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-0PgSHl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-0PgSHl {
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-xge61a {
  left: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-xvBAxw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-xvBAxw {
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .group-21-5xSlRd {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .group-14-zpDQOk {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-17-re4Mch {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-lFceEI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents-lFceEI {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-28-re4Mch {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-hJMNW8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-hJMNW8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-23-re4Mch {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-0YvOtN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-0YvOtN {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .descriptiontabletop-copy-7-zpDQOk {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .group-29-5xSlRd {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .group-24-CDx6Qf {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-13-y7nsgT {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-6jNqXx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents-6jNqXx {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-17-y7nsgT {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-uKh34J {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-uKh34J {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-10-y7nsgT {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-qs8mCu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-qs8mCu {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .group-26-CDx6Qf {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-12-TfT6d7 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-onN9UX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents-onN9UX {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-16-TfT6d7 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-T1mOhl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-T1mOhl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-18-TfT6d7 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-8gYcmP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-8gYcmP {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .descriptiontabletop-copy-4-CDx6Qf {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-Dr60XI {
  left: 410px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-uyWASw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-uyWASw {
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-tRxstF {
  left: 60px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-4sH6K8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-4sH6K8 {
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-VkKsWv {
  left: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-Tj3lfB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-Tj3lfB {
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .group-32-5xSlRd {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 2592px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .group-30-CgARyN {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-18-LkREwk {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-mx6SnJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents-mx6SnJ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-32-LkREwk {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-162eb6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-162eb6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-29-LkREwk {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-d4goUo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-d4goUo {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .group-31-CgARyN {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text2line_m-copy-16-CnSsKW {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-UUGeC6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents-UUGeC6 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-31-CnSsKW {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-fjdb8R {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .contents-fjdb8R {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-text1line-copy-27-CnSsKW {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-IT26TD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .contents-IT26TD {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .descriptiontabletop-copy-8-CgARyN {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-tuNAWM {
  left: 410px;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-UYaotk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-UYaotk {
  width: 258px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-vgYIOI {
  left: 60px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-tEKOta {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-tEKOta {
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .table-guide-title-xz0N3u {
  left: 0px;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-CNT7Ww {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinvehicleparkinglocation .table-title-text-CNT7Ww {
  width: 38px;
}

.tabletservicepluinvehicleparkinglocation .group-20-5xSlRd {
  background-color: transparent;
  height: 431px;
  left: 420px;
  position: absolute;
  top: 2592px;
  width: 670px;
}

.tabletservicepluinvehicleparkinglocation .group-18-5xSlRd {
  background-color: transparent;
  height: 548px;
  left: 419px;
  position: absolute;
  top: 1894px;
  width: 670px;
}

.tabletservicepluinvehicleparkinglocation .group-15-5xSlRd {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinvehicleparkinglocation .group-16-5xSlRd {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 640px;
}

.tabletservicepluinvehicleparkinglocation .web-sub_-title-5xSlRd {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinvehicleparkinglocation .sub-title-QuRZtE {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinvehicleparkinglocation .web-title-area-5xSlRd {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinvehicleparkinglocation .web-tabtablet_service-plug-innotice-5xSlRd {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinvehicleparkinglocation .x3rd-depth-jnR08U {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinvehicleparkinglocation .tab-jnR08U {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvehicleparkinglocation .feature-hY48SB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinvehicleparkinglocation .tab-copy-jnR08U {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 198px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvehicleparkinglocation .color-picker-uUrAme {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.tabletservicepluinvehicleparkinglocation .parking-location-uUrAme {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 101px;
}

.tabletservicepluinvehicleparkinglocation .lnbtablet_serviceplugin-5xSlRd {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-aKAFGT {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinvehicleparkinglocation .line-aKAFGT {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinvehicleparkinglocation .home-net-gui-guidelin-aKAFGT {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup .web-index-title-reference-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-I12gSr {
  bottom: 0px;
}

.stackedgroup .empty-CMGcNK {
  top: 0px;
}

.stackedgroup .web-index-title-reference-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-cxKBVJ {
  bottom: 0px;
}

.stackedgroup .empty-WNTzCv {
  top: 0px;
}

.stackedgroup .web-index-title-reference-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-2-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-copy-GDxtmm {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup .line-copy-2-GDxtmm {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup .empty-copy-2-GDxtmm {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-4-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-5-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-6-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-16-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-15-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-14-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-13-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-12-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-11-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-10-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-18-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-17-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-19-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-21-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-20-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-22-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinvehicleparkinglocation .webgnb-5xSlRd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvehicleparkinglocation .rectangle-EYY69w {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinvehicleparkinglocation .background-EYY69w {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvehicleparkinglocation .index-EYY69w {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinvehicleparkinglocation .web-index-select-yuTYsm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinvehicleparkinglocation .web-index-unselect-yuTYsm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinvehicleparkinglocation .web-index-unelect_main-EYY69w {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .logo-hjYLUF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvehicleparkinglocation .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinvehicleparkinglocation .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvehicleparkinglocation .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
