/* screen - tabletservicepluinhomesccreenmore */

.tabletservicepluinhomesccreenmore {
  background-color: var(--white);
  height: 1944px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenmore .group-8-n5a6Uk {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinhomesccreenmore .group-7-n5a6Uk {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinhomesccreenmore .group-12-n5a6Uk {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .group-11-Jb8qC2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-7-57Uxq2 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .rectangle-NCHXh7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .contents-NCHXh7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-12-57Uxq2 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .rectangle-a9TMbt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .contents-a9TMbt {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-13-57Uxq2 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .rectangle-VdWUKS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .contents-VdWUKS {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluinhomesccreenmore .descriptiontabletop-copy-2-Jb8qC2 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-e8lxNh {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .rectangle-Tn6NDo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .table-title-text-Tn6NDo {
  width: 258px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-wsAg4i {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .rectangle-ixnrk3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .table-title-text-ixnrk3 {
  width: 328px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-vlEyvV {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .rectangle-p0gtVY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .table-title-text-p0gtVY {
  width: 38px;
}

.tabletservicepluinhomesccreenmore .group-13-n5a6Uk {
  background-color: transparent;
  height: 17px;
  left: 1140px;
  position: absolute;
  top: 305px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .refer-to-one-ui4-TBjQKJ {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 274px;
}

.tabletservicepluinhomesccreenmore .x-TBjQKJ {
  background-color: transparent;
  height: 17px;
  left: 579px;
  position: absolute;
  top: 0px;
  width: 101px;
}

.tabletservicepluinhomesccreenmore .group-10-n5a6Uk {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .group-9-pDEJMx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-8-OtrEzf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .rectangle-Ljjqyp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .contents-Ljjqyp {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-15-OtrEzf {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .rectangle-edjhIF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .contents-edjhIF {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmore .table-guide-text1line-copy-14-OtrEzf {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .rectangle-A2MkJn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .contents-A2MkJn {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluinhomesccreenmore .descriptiontabletop-copy-4-pDEJMx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-U5Xrix {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .rectangle-ucZDOf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmore .table-title-text-ucZDOf {
  width: 258px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-trVzOZ {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .rectangle-9st04i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .table-title-text-9st04i {
  width: 328px;
}

.tabletservicepluinhomesccreenmore .table-guide-title-Q72jNe {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .rectangle-ZJv6Rg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmore .table-title-text-ZJv6Rg {
  width: 38px;
}

.tabletservicepluinhomesccreenmore .web-sub_-title-n5a6Uk {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinhomesccreenmore .sub-title-pdYUj4 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinhomesccreenmore .web-title-area-n5a6Uk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmore .web-tabtablet_service-plug-inhomescreen-n5a6Uk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmore .x3rd-depth-Cq0lmH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmore .tab-Cq0lmH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenmore .feature-copy-4-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenmore .feature-_-shortcut-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenmore .banner_-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenmore .more-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenmore .more-_-edit-_-featur-copy-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenmore .more-_-notifications-copy-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenmore .more-_-help-guide-copy-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenmore .service-feature-iLGBiy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenmore .lnbtablet_serviceplugin-n5a6Uk {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenmore .rectangle-clhDYP {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreenmore .line-clhDYP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenmore .home-net-gui-guidelin-clhDYP {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup6 .web-index-title-reference-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-vqP8b5 {
  bottom: 0px;
}

.stackedgroup6 .empty-xo3Tn7 {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-copy-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-gUs2DO {
  bottom: 0px;
}

.stackedgroup6 .empty-lyCcoW {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-copy-2-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-copy-FWSGoV {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup6 .line-copy-2-FWSGoV {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup6 .empty-copy-2-FWSGoV {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-4-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-5-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-6-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-16-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-15-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-14-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-13-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-12-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-11-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-10-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-18-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-17-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-19-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-21-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-20-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-22-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenmore .webgnb-n5a6Uk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmore .rectangle-5f6Xx6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmore .background-5f6Xx6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmore .index-5f6Xx6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenmore .web-index-select-r9rMxR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenmore .web-index-unselect-r9rMxR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenmore .web-index-unelect_main-5f6Xx6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .logo-j7IzxW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmore .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}
