/* screen - tabletservicepluinhomesccreen */

.tabletservicepluinhomesccreen {
  background-color: var(--white);
  height: 2786px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreen .group-5-nONlFT {
  background-color: transparent;
  height: 1047px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinhomesccreen .group-6-nONlFT {
  background-color: transparent;
  height: 1047px;
  left: 420px;
  position: absolute;
  top: 1539px;
  width: 720px;
}

.tabletservicepluinhomesccreen .group-12-nONlFT {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreen .group-11-6fS4WM {
  background-color: transparent;
  height: 146px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreen .table-guide-text1line-copy-7-yVtm7L {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreen .rectangle-xBnPPI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreen .contents-xBnPPI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreen .table-guide-text1line-yVtm7L {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreen .rectangle-0BMXJv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreen .contents-0BMXJv {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreen .table-guide-text2line_m-yVtm7L {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-ZSNjMY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreen .contents-ZSNjMY {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreen .table-guide-text2line_m-copy-4-yVtm7L {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-ELAR6v {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreen .contents-8h9haU {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinhomesccreen .descriptiontabletop-6fS4WM {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreen .table-guide-title-RRMx4K {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreen .rectangle-akurD5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreen .table-title-text-akurD5 {
  width: 258px;
}

.tabletservicepluinhomesccreen .table-guide-title-IIEFPG {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-QnDOER {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreen .table-title-text-QnDOER {
  width: 328px;
}

.tabletservicepluinhomesccreen .table-guide-title-CBizep {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreen .rectangle-sn0Ax4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreen .table-title-text-sn0Ax4 {
  width: 38px;
}

.tabletservicepluinhomesccreen .group-10-nONlFT {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1539px;
  width: 680px;
}

.tabletservicepluinhomesccreen .group-9-lAA9hS {
  background-color: transparent;
  height: 146px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreen .group-8-ioj6RO {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreen .table-guide-text1line-copy-8-Sk8FOn {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreen .rectangle-e76mp2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreen .contents-e76mp2 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreen .table-guide-text1line-copy-Sk8FOn {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreen .rectangle-uk9OI4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreen .contents-uk9OI4 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreen .table-guide-text1line-copy-2-Sk8FOn {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 67px;
  width: 270px;
}

.tabletservicepluinhomesccreen .rectangle-s0Xv9B {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreen .contents-s0Xv9B {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreen .table-guide-text2line_m-copy-Sk8FOn {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-Dv3uvL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreen .contents-Dv3uvL {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreen .table-guide-text2line_m-copy-5-ioj6RO {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-RhQjce {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreen .contents-xaDNJb {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinhomesccreen .descriptiontabletop-copy-lAA9hS {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreen .table-guide-title-2lfs3Q {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreen .rectangle-GY0Cxj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreen .table-title-text-GY0Cxj {
  width: 258px;
}

.tabletservicepluinhomesccreen .table-guide-title-k7S88h {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreen .rectangle-ZkyMyK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreen .table-title-text-ZkyMyK {
  width: 328px;
}

.tabletservicepluinhomesccreen .table-guide-title-0OjENX {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreen .rectangle-GG8Cjv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreen .table-title-text-GG8Cjv {
  width: 38px;
}

.tabletservicepluinhomesccreen .web-sub_-title-nONlFT {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinhomesccreen .sub-title-uvHK51 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinhomesccreen .web-title-area-nONlFT {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreen .web-tabtablet_service-plug-inhomescreen-nONlFT {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreen .x3rd-depth-E9dPOU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreen .tab-E9dPOU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreen .feature-copy-4-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreen .feature-_-shortcut-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreen .banner_-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreen .more-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreen .more-_-edit-_-featur-copy-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreen .more-_-notifications-copy-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreen .more-_-help-guide-copy-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreen .service-feature-EEdJd0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreen .lnbtablet_serviceplugin-nONlFT {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreen .rectangle-x1bEzK {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreen .line-x1bEzK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreen .home-net-gui-guidelin-x1bEzK {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup26 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup26 .web-index-title-reference-copy-2-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .group-Btwf6q {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .empty-HO7oKx {
  bottom: 0px;
}

.stackedgroup26 .empty-h9NruZ {
  top: 0px;
}

.stackedgroup26 .web-index-title-reference-copy-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .group-copy-Btwf6q {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .empty-8fsevE {
  bottom: 0px;
}

.stackedgroup26 .empty-zgElDT {
  top: 0px;
}

.stackedgroup26 .web-index-title-reference-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .group-copy-2-Btwf6q {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .empty-copy-BDuYah {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup26 .line-copy-2-BDuYah {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup26 .empty-copy-2-BDuYah {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup26 .web-index-title-reference-copy-3-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-3-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-2-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-4-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-5-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-6-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-16-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-15-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-14-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-13-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-12-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-11-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-10-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-18-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-17-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-19-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-21-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-20-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup26 .web-index-contents2dpeth-copy-22-Btwf6q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreen .webgnb-nONlFT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreen .rectangle-RjeyDR {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreen .background-RjeyDR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreen .index-RjeyDR {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreen .web-index-select-cFSx2f {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreen .web-index-unselect-cFSx2f {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreen .web-index-unelect_main-RjeyDR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreen .logo-v1Vlne {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreen .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinhomesccreen .group {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreen .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
