/* screen - tabletservicepluinliveviewfeaturemainentrancedoor */

.tabletservicepluinliveviewfeaturemainentrancedoor {
  background-color: var(--white);
  height: 4439px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-17-8Ek53h {
  background-color: transparent;
  height: 274px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-xx383x {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6-TLDIJA {
  height: 51px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-Qv2wEb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-Qv2wEb {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-qEDR8o {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-qEDR8o {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-xLTtFf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-xLTtFf {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-9-xx383x {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-14-ZyGH4b {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-psTCV8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-psTCV8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-ZyGH4b {
  cursor: pointer;
  height: 73px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-7xXGWu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-7xXGWu {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-copy-7xXGWu {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-ZyGH4b {
  height: 31px;
  left: 410px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-xLxeOQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-xLxeOQ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-xx383x {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-8re8Xx {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-Get7XB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-Get7XB {
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-MlXNrd {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-HD1Xcr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-HD1Xcr {
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-0CxNJV {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-aDRsLg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-aDRsLg {
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-xx383x {
  height: 57px;
  left: 0px;
  top: 217px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-3P39hz {
  height: 28px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-7AZt6W {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-7AZt6W {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-6-3P39hz {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-XvEz9Z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-XvEz9Z {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-xqV9n2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-xqV9n2 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-copy-8Ek53h {
  background-color: transparent;
  height: 293px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-7-Qmk9Ps {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-Pb77BG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-Pb77BG {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-9-Qmk9Ps {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-KgxIx8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-KgxIx8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-2-Qmk9Ps {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-u0n9wC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-u0n9wC {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-3-LaY0kR {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-LaY0kR {
  top: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-13-DXvJTB {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-GLPcKZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-GLPcKZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-11-DXvJTB {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-Dd5EQh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-Dd5EQh {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-12-DXvJTB {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-2Rxame {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-2Rxame {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-DT3HHY {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-2Rxame {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-LaY0kR {
  height: 101px;
  top: 192px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-14-AchQi6 {
  background-color: transparent;
  cursor: pointer;
  height: 95px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-qMv9Ew {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-qMv9Ew {
  height: 84px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content-copy-L798CH {
  height: 40px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-L798CH {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-13-AchQi6 {
  background-color: transparent;
  height: 51px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-FUc7tm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-FUc7tm {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-11-copy-2-8Ek53h {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 2181px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-8-CnaOr4 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-KKu3Ga {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-KKu3Ga {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-16-CnaOr4 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-GdeDiF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-GdeDiF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-3-CnaOr4 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-xPRtXB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-xPRtXB {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-4-coyRcM {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-0IrQ0I {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-AdF0yQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-AdF0yQ {
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-yxSw4W {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-RfFl7h {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-RfFl7h {
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-MvxsPA {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-S0A0Rk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-S0A0Rk {
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-coyRcM {
  top: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-15-6xHqvm {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-xoB1mu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-xoB1mu {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-17-6xHqvm {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-CZ59uO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-CZ59uO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-18-6xHqvm {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-sg1xUF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-sg1xUF {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-qxSR2j {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-sg1xUF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-coyRcM {
  height: 121px;
  top: 192px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-16-EfJZTb {
  background-color: transparent;
  cursor: pointer;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-7X4as2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-7X4as2 {
  height: 104px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content-copy-L3eoCE {
  height: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-L3eoCE {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-19-EfJZTb {
  background-color: transparent;
  height: 51px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-p4BEgx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-p4BEgx {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-7-8Ek53h {
  background-color: transparent;
  height: 333px;
  left: 1140px;
  position: absolute;
  top: 3077px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6-zO87FO {
  height: 71px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-QYGSHE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-QYGSHE {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-GqEgoV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-GqEgoV {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-zXR78j {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-zXR78j {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-15-zO87FO {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-VxOw04 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-VxOw04 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-2-PwzKxz {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-khxpSt {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-KVsl5L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-KVsl5L {
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-2Kpq39 {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-Bf6YyS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-Bf6YyS {
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-hvmaS6 {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-dKfN14 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-dKfN14 {
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-PwzKxz {
  top: 143px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-N7iAXF {
  height: 31px;
  left: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-ekvfa0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-ekvfa0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-d6PzfR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-d6PzfR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-N7iAXF {
  height: 53px;
  left: 410px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-J9w931 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-J9w931 {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-soAxkr {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-J9w931 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-PwzKxz {
  height: 121px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12-KvUxsH {
  cursor: pointer;
  height: 115px;
  left: 0px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-VqqWLs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-VqqWLs {
  height: 104px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content-copy-CfBuOv {
  height: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-CfBuOv {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7-KvUxsH {
  height: 51px;
  left: 350px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-tLrxuF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-tLrxuF {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-7-copy-8Ek53h {
  background-color: transparent;
  height: 333px;
  left: 1140px;
  position: absolute;
  top: 3733px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-9-NAJTd5 {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-cGRsIx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-cGRsIx {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-20-NAJTd5 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-5X1KZ8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-5X1KZ8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-4-NAJTd5 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-U8FSxx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-U8FSxx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-21-NAJTd5 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-mzVFlD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-mzVFlD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .descriptiontabletop-copy-5-D1jd1J {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-GkGIhA {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-eKq6ij {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-eKq6ij {
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-VprWyS {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-bwrAx7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-bwrAx7 {
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-title-pXBGdx {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-vxvJsE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-title-text-vxvJsE {
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10-D1jd1J {
  top: 143px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-17-AwxXK9 {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-mWYPkm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-mWYPkm {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-22-AwxXK9 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-fANilp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-fANilp {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-23-AwxXK9 {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-UWHwj9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-UWHwj9 {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-4WPHFz {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-UWHwj9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8-D1jd1J {
  height: 121px;
  top: 212px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-18-Ewujoc {
  background-color: transparent;
  cursor: pointer;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-fUpcqo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-fUpcqo {
  height: 104px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content-copy-6hYnrS {
  height: 60px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title-6hYnrS {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-24-Ewujoc {
  background-color: transparent;
  height: 51px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-PrYd4T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents-PrYd4T {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-15-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-16-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-13-8Ek53h {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 2181px;
  width: 421px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-14-8Ek53h {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3077px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-14-copy-8Ek53h {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 3733px;
  width: 660px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-sub_-title-8Ek53h {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 564px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .sub-title-jUtOJD {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-title-area-8Ek53h {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-tabtablet_service-plug-in-live-view-8Ek53h {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-huRRtT {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .x3rd-depth-copy-huRRtT {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .incoming-call_-flow_m-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 703px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-front-door-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1003px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-back-key-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1325px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .flow_-home-screen-huRRtT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1157px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .tab-copy-huRRtT {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .live-view_-feature_-ca-W79L25 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .live-view_-feature_-po-copy-W79L25 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .incoming-call-_-feat-W79L25 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .x3rd-depth-copy-2-huRRtT {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-main-entranc-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 177px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-basic_layout-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-front-door-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-call-end-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-back-key-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .feature_-exceptional-mI2UZA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .lnbtablet_serviceplugin-8Ek53h {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-0eV3CQ {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .line-0eV3CQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .home-net-gui-guidelin-0eV3CQ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup40 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup40 .web-index-title-reference-copy-2-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-prOtce {
  bottom: 0px;
}

.stackedgroup40 .empty-2WN23f {
  top: 0px;
}

.stackedgroup40 .web-index-title-reference-copy-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-SRxd8I {
  bottom: 0px;
}

.stackedgroup40 .empty-2Ax9C8 {
  top: 0px;
}

.stackedgroup40 .web-index-title-reference-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-2-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-copy-Sem1mb {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup40 .line-copy-2-Sem1mb {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup40 .empty-copy-2-Sem1mb {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup40 .web-index-title-reference-copy-3-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-3-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-2-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-4-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-5-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-6-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-16-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-15-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-14-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-13-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-12-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-11-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-10-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-18-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-17-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-19-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-21-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-20-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents2dpeth-copy-22-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .webgnb-8Ek53h {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .rectangle-iueO7H {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .background-iueO7H {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .index-iueO7H {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-select-PKjyCm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-unselect-PKjyCm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .web-index-unelect_main-iueO7H {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .logo-Lbu1ZA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .content-copy {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 44px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group {
  background-color: transparent;
  position: absolute;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-10 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-3 {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .group-8 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  width: 620px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-7 {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-12 {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturemainentrancedoor .title {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
