/* screen - tabletservicepluinhomesccreenshort */

.tabletservicepluinhomesccreenshort {
  background-color: var(--white);
  height: 3438px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenshort .group-16-je8HZD {
  background-color: transparent;
  height: 240px;
  left: 380px;
  position: absolute;
  top: 2704px;
  width: 422px;
}

.tabletservicepluinhomesccreenshort .group-14-je8HZD {
  background-color: transparent;
  height: 240px;
  left: 380px;
  position: absolute;
  top: 2346px;
  width: 710px;
}

.tabletservicepluinhomesccreenshort .group-18-je8HZD {
  background-color: transparent;
  height: 195px;
  left: 400px;
  position: absolute;
  top: 3044px;
  width: 315px;
}

.tabletservicepluinhomesccreenshort .group-5-je8HZD {
  background-color: transparent;
  height: 179px;
  left: 400px;
  position: absolute;
  top: 2017px;
  width: 315px;
}

.tabletservicepluinhomesccreenshort .group-10-je8HZD {
  background-color: transparent;
  height: 205px;
  left: 380px;
  position: absolute;
  top: 1389px;
  width: 710px;
}

.tabletservicepluinhomesccreenshort .group-12-je8HZD {
  background-color: transparent;
  height: 205px;
  left: 380px;
  position: absolute;
  top: 1712px;
  width: 577px;
}

.tabletservicepluinhomesccreenshort .group-6-je8HZD {
  background-color: transparent;
  height: 190px;
  left: 400px;
  position: absolute;
  top: 1002px;
  width: 315px;
}

.tabletservicepluinhomesccreenshort .group-8-je8HZD {
  background-color: transparent;
  height: 205px;
  left: 380px;
  position: absolute;
  top: 697px;
  width: 577px;
}

.tabletservicepluinhomesccreenshort .group-7-je8HZD {
  background-color: transparent;
  height: 205px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletservicepluinhomesccreenshort .group-33-je8HZD {
  background-color: transparent;
  height: 309px;
  left: 1140px;
  position: absolute;
  top: 2346px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .group-30-je8HZD {
  background-color: transparent;
  height: 324px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .group-29-6lJKs3 {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-7-IpRnYf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-zd2qli {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-zd2qli {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-IpRnYf {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-yYEtgk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .contents-yYEtgk {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-IpRnYf {
  background-color: transparent;
  height: 62px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-YxHKeS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .contents-YxHKeS {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .group-28-6lJKs3 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-8-S3fjtS {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-uxeEGy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-uxeEGy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-3-S3fjtS {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-G4z1ht {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .group-G4z1ht {
  height: 40px;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .title-pcU0PC {
  color: var(--science-blue);
  height: 40px;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .contents-G4z1ht {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 53px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-2-S3fjtS {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-HGlC7Q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .contents-HGlC7Q {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .group-27-6lJKs3 {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 223px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-9-8JqspP {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-mtSMwQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-mtSMwQ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-5-8JqspP {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-xkTevx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .contents-xkTevx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-4-8JqspP {
  background-color: transparent;
  cursor: pointer;
  height: 95px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-Ykq0DT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .group-Ykq0DT {
  height: 84px;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .title-gENspe {
  color: var(--persian-green);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .descriptiontabletop-6lJKs3 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-P81xY4 {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-ddDn5h {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .table-title-text-ddDn5h {
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-jwuypG {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-8nO1Yf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .table-title-text-8nO1Yf {
  width: 328px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-uuTMmU {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-XHQbig {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .table-title-text-XHQbig {
  width: 38px;
}

.tabletservicepluinhomesccreenshort .group-26-je8HZD {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 766px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .styletabletop-wSOCN8 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-exY6EQ {
  left: 552px;
  width: 128px;
}

.tabletservicepluinhomesccreenshort .rectangle-0Ukszb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.tabletservicepluinhomesccreenshort .table-title-text-0Ukszb {
  width: 116px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-QC0YDv {
  left: 60px;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .rectangle-DfrQWd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .table-title-text-DfrQWd {
  width: 154px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-vI4lxV {
  left: 236px;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .rectangle-m3IsRZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .table-title-text-m3IsRZ {
  width: 94px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-mTcrW3 {
  left: 352px;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .rectangle-TVrxUJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .table-title-text-TVrxUJ {
  width: 178px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-lQGvTZ {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-8drXVt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .table-title-text-8drXVt {
  width: 38px;
}

.tabletservicepluinhomesccreenshort .styletable1line_-color-wSOCN8 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-vIopyY {
  left: 551px;
  width: 129px;
}

.tabletservicepluinhomesccreenshort .rectangle-sufFCw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.tabletservicepluinhomesccreenshort .contents-sufFCw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-IUVz80 {
  left: 60px;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .rectangle-GBIhdz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .contents-GBIhdz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-AnRJM6 {
  left: 236px;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .rectangle-WAmkx5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .contents-WAmkx5 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.tabletservicepluinhomesccreenshort .table-guide-text2line-vIopyY {
  height: 53px;
}

.tabletservicepluinhomesccreenshort .rectangle-0OxcbN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .contents-0OxcbN {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.tabletservicepluinhomesccreenshort .contents-copy-0OxcbN {
  height: 20px;
  top: 33px;
  white-space: nowrap;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-DhG00n {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-WxaDZS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-WxaDZS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .group-25-je8HZD {
  background-color: transparent;
  height: 324px;
  left: 1140px;
  position: absolute;
  top: 1389px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .group-24-Ki4dxx {
  background-color: transparent;
  height: 268px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .group-23-5os0kq {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-17-UiGnUX {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-5VvJKy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-5VvJKy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-15-UiGnUX {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-AeAuOx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .contents-AeAuOx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-14-UiGnUX {
  background-color: transparent;
  height: 62px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-oK0ydi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .contents-oK0ydi {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .group-21-5os0kq {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-16-6xJxxP {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-IEtxi1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-IEtxi1 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-13-6xJxxP {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-jJRL9N {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .group-jJRL9N {
  height: 40px;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .title-OTnJwi {
  color: var(--science-blue);
  height: 40px;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .contents-jJRL9N {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 53px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-12-6xJxxP {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-p4nEH0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .contents-p4nEH0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .group-22-5os0kq {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 167px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-11-LvlCIv {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-s8qibv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-s8qibv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-10-LvlCIv {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-H8VxxS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .contents-H8VxxS {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-copy-6-LvlCIv {
  background-color: transparent;
  cursor: pointer;
  height: 95px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-xGPM8P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .group-xGPM8P {
  height: 84px;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .title-NHvJhL {
  color: var(--persian-green);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .descriptiontabletop-copy-2-Ki4dxx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-3QeHdE {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .rectangle-cvYCEL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenshort .table-title-text-cvYCEL {
  width: 258px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-ubNLve {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .rectangle-wBtxea {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .table-title-text-wBtxea {
  width: 328px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-KAR4Nm {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-ZnB4vY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .table-title-text-ZnB4vY {
  width: 38px;
}

.tabletservicepluinhomesccreenshort .group-19-je8HZD {
  background-color: transparent;
  height: 156px;
  left: 1140px;
  position: absolute;
  top: 1813px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .styletabletop-copy-XHoGji {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-oZblqj {
  left: 552px;
  width: 128px;
}

.tabletservicepluinhomesccreenshort .rectangle-qx6uEA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.tabletservicepluinhomesccreenshort .table-title-text-qx6uEA {
  width: 116px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-9KTxfM {
  left: 60px;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .rectangle-iSXhCB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .table-title-text-iSXhCB {
  width: 154px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-OqEako {
  left: 236px;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .rectangle-jNJ6Na {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .table-title-text-jNJ6Na {
  width: 94px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-PzF7Vt {
  left: 352px;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .rectangle-KOZj5E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .table-title-text-KOZj5E {
  width: 178px;
}

.tabletservicepluinhomesccreenshort .table-guide-title-UTQWkh {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-PwCynL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .table-title-text-PwCynL {
  width: 38px;
}

.tabletservicepluinhomesccreenshort .styletable1line_-color-copy-XHoGji {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-t0xyhs {
  left: 551px;
  width: 129px;
}

.tabletservicepluinhomesccreenshort .rectangle-24BXeM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.tabletservicepluinhomesccreenshort .contents-24BXeM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-5QYTH6 {
  left: 60px;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .rectangle-pCdaxl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.tabletservicepluinhomesccreenshort .contents-pCdaxl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-cMaZiu {
  left: 236px;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .rectangle-g4vQF2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.tabletservicepluinhomesccreenshort .contents-g4vQF2 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.tabletservicepluinhomesccreenshort .table-guide-text2line-t0xyhs {
  height: 93px;
}

.tabletservicepluinhomesccreenshort .rectangle-9ydQw5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .contents-9ydQw5 {
  color: var(--black);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 178px;
}

.tabletservicepluinhomesccreenshort .contents-copy-9ydQw5 {
  height: 40px;
  top: 53px;
}

.tabletservicepluinhomesccreenshort .table-guide-text1line-YmWQL9 {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .rectangle-UbrAbc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenshort .contents-UbrAbc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenshort .web-sub_-title-copy-je8HZD {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 1331px;
  width: 435px;
}

.tabletservicepluinhomesccreenshort .web-sub_-title-je8HZD {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 451px;
}

.tabletservicepluinhomesccreenshort .web-title-area-je8HZD {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenshort .web-tabtablet_service-plug-inhomescreen-je8HZD {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenshort .x3rd-depth-0NBUvt {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenshort .tab-0NBUvt {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenshort .feature-copy-4-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenshort .feature-_-shortcut-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenshort .banner_-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenshort .more-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenshort .more-_-edit-_-featur-copy-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenshort .more-_-notifications-copy-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenshort .more-_-help-guide-copy-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenshort .service-feature-UAvrnP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenshort .lnbtablet_serviceplugin-je8HZD {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenshort .rectangle-ExWDEC {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreenshort .line-ExWDEC {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenshort .home-net-gui-guidelin-ExWDEC {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup30 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup30 .web-index-title-reference-copy-2-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .group-tjPgkd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .empty-vuzS0v {
  bottom: 0px;
}

.stackedgroup30 .empty-X5Lwlx {
  top: 0px;
}

.stackedgroup30 .web-index-title-reference-copy-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .group-copy-tjPgkd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .empty-acqgSL {
  bottom: 0px;
}

.stackedgroup30 .empty-go96i6 {
  top: 0px;
}

.stackedgroup30 .web-index-title-reference-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .group-copy-2-tjPgkd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .empty-copy-KqAskM {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup30 .line-copy-2-KqAskM {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup30 .empty-copy-2-KqAskM {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup30 .web-index-title-reference-copy-3-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-3-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-2-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-4-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-5-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-6-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-16-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-15-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-14-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-13-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-12-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-11-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-10-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-18-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-17-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-19-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-21-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-20-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup30 .web-index-contents2dpeth-copy-22-tjPgkd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenshort .webgnb-je8HZD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenshort .rectangle-RxvMzR {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenshort .background-RxvMzR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenshort .index-RxvMzR {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenshort .web-index-select-KnxWmZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenshort .web-index-unselect-KnxWmZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenshort .web-index-unelect_main-RxvMzR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .logo-cg7AEp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenshort .content {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .content-copy {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 44px;
  width: 328px;
}

.tabletservicepluinhomesccreenshort .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.tabletservicepluinhomesccreenshort .contents-copy {
  background-color: transparent;
  color: #545454cc;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: 178px;
}

.tabletservicepluinhomesccreenshort .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
}

.tabletservicepluinhomesccreenshort .sub-title {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinhomesccreenshort .table-guide-text2line {
  background-color: transparent;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.tabletservicepluinhomesccreenshort .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
}
