/* screen - tabletservicepluinhomesccreenmorehelp */

.tabletservicepluinhomesccreenmorehelp {
  background-color: var(--white);
  height: 3496px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .group-19-l64TCQ {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-12-1QoMZF {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-7-qveBPL {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-ygeb3e {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .contents-ygeb3e {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-12-qveBPL {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-ET7QRE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .contents-ET7QRE {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-13-qveBPL {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-Z9CuqA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents-Z9CuqA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .group-11-1QoMZF {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-8-4Zfq4B {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-LbTWBP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .contents-LbTWBP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-14-4Zfq4B {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-72YO46 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .contents-72YO46 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-17-4Zfq4B {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-MSOCUa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents-MSOCUa {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-2-1QoMZF {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-vtwXKB {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-nS83dC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-nS83dC {
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-Mkng4H {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-IVAb0d {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-IVAb0d {
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-am9D5C {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-QdIWSS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-QdIWSS {
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .group-14-l64TCQ {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-13-rEVfFF {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-10-q4v3ub {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-lDu7cb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .contents-lDu7cb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-19-q4v3ub {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-J4iiQz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .contents-J4iiQz {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-16-q4v3ub {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-7xf6dR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents-7xf6dR {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-4-rEVfFF {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-hW30R9 {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-EFx01P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-EFx01P {
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-XPQKNU {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-40QxrL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-40QxrL {
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-e1kaLA {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-JWY9Qt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-JWY9Qt {
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .group-16-l64TCQ {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-15-iFOmjq {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-11-6uW9Pw {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-4h94dO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .contents-4h94dO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-20-6uW9Pw {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-LfLI5L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .contents-LfLI5L {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-18-6uW9Pw {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-ZAaE8N {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents-ZAaE8N {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-6-iFOmjq {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-Jb9xIX {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-ZGr1tF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-ZGr1tF {
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-X4orV6 {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-5W853N {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-5W853N {
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-C0vaCw {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-sxpMdy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-sxpMdy {
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .group-18-l64TCQ {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 2790px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-17-2rdfwZ {
  background-color: transparent;
  height: 133px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-20-xlQG0J {
  background-color: transparent;
  height: 133px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .group-8-uSLzrw {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-15-9QzVuN {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-6xhUSE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .contents-6xhUSE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-22-9QzVuN {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-Cdbnhy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .contents-Cdbnhy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-text1line-copy-21-9QzVuN {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-eqAJZk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents-eqAJZk {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .descriptiontabletop-copy-7-uSLzrw {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-BjmAS4 {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-oPqUxB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-oPqUxB {
  width: 258px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-MwzUYO {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-PHcaea {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-PHcaea {
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-P2YXI0 {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-DNGRwt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenmorehelp .table-title-text-DNGRwt {
  width: 38px;
}

.tabletservicepluinhomesccreenmorehelp .group-6-l64TCQ {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-9-l64TCQ {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1894px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-10-l64TCQ {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2790px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .table-guide-title-copy-l64TCQ {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinhomesccreenmorehelp .group-7-l64TCQ {
  background-color: transparent;
  height: 400px;
  left: 420px;
  position: absolute;
  top: 1344px;
  width: 680px;
}

.tabletservicepluinhomesccreenmorehelp .web-sub_-title-l64TCQ {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinhomesccreenmorehelp .sub-title-Se8dx0 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinhomesccreenmorehelp .web-title-area-l64TCQ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .web-tabtablet_service-plug-inhomescreen-l64TCQ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .x3rd-depth-QSgcxP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenmorehelp .tab-QSgcxP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenmorehelp .feature-copy-4-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenmorehelp .feature-_-shortcut-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenmorehelp .banner_-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenmorehelp .more-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-edit-_-featur-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-notifications-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenmorehelp .more-_-help-guide-copy-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenmorehelp .service-feature-OeL7G2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenmorehelp .lnbtablet_serviceplugin-l64TCQ {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-CcvGau {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreenmorehelp .line-CcvGau {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenmorehelp .home-net-gui-guidelin-CcvGau {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup38 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup38 .web-index-title-reference-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-v5kFlE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-tr4UDx {
  bottom: 0px;
}

.stackedgroup38 .empty-Y6BC0X {
  top: 0px;
}

.stackedgroup38 .web-index-title-reference-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-copy-v5kFlE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-gQxoXf {
  bottom: 0px;
}

.stackedgroup38 .empty-z7xADn {
  top: 0px;
}

.stackedgroup38 .web-index-title-reference-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .group-copy-2-v5kFlE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .empty-copy-HrBxTc {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup38 .line-copy-2-HrBxTc {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup38 .empty-copy-2-HrBxTc {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup38 .web-index-title-reference-copy-3-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-3-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-2-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-4-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-5-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-6-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-16-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-15-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-14-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-13-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-12-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-11-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-10-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-18-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-17-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-19-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-21-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-20-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup38 .web-index-contents2dpeth-copy-22-v5kFlE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenmorehelp .webgnb-l64TCQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .rectangle-eYlO3P {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .background-eYlO3P {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenmorehelp .index-eYlO3P {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-select-e1AqW5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-unselect-e1AqW5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenmorehelp .web-index-unelect_main-eYlO3P {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .logo-VhOz86 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenmorehelp .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinhomesccreenmorehelp .group {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenmorehelp .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
