/* screen - tabletservicepluinliveviewfeatureexceptional */

.tabletservicepluinliveviewfeatureexceptional {
  background-color: var(--white);
  height: 3543px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .group-22-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-cRQHRA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-cRQHRA {
  height: 20px;
}

.tabletservicepluinliveviewfeatureexceptional .title-Onb0kA {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.tabletservicepluinliveviewfeatureexceptional .contents-cRQHRA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-QeEixb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-QeEixb {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-GtAXiN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-GtAXiN {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-V2nDMB {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-h9J1lg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-h9J1lg {
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-HrHcbo {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-NviGaE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-NviGaE {
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-QIMNdC {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-RGBxq8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-RGBxq8 {
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-NEilsh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-NEilsh {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-NtiyQp {
  height: 31px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-0VloeH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-0VloeH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-6l5tkx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-6l5tkx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .group-19-NF6eIL {
  background-color: transparent;
  height: 419px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-UZUaty {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-AbgGTu {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-gATrx5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-gATrx5 {
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-iqpDUj {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-T7FqpN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-T7FqpN {
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-VtISh2 {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-tJ7WwU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-tJ7WwU {
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .group-18-UZUaty {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-OOyLLB {
  height: 51px;
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-UyimXh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-UyimXh {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-11-OOyLLB {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-TQ0Fyu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-TQ0Fyu {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-11-OOyLLB {
  background-color: transparent;
  cursor: pointer;
  height: 92px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-n0BJLL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-n0BJLL {
  height: 81px;
}

.tabletservicepluinliveviewfeatureexceptional .content-w4Te3Z {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .content-copy-w4Te3Z {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 41px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .title-w4Te3Z {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
}

.tabletservicepluinliveviewfeatureexceptional .group-17-UZUaty {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 231px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-9-gx3J6s {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-WpYZhL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-WpYZhL {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-25-gx3J6s {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-14Nn7Z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-14Nn7Z {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-12-gx3J6s {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-Ox6yRh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-Ox6yRh {
  height: 20px;
}

.tabletservicepluinliveviewfeatureexceptional .title-zOvYxI {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.tabletservicepluinliveviewfeatureexceptional .contents-Ox6yRh {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .group-16-UZUaty {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 340px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-24-eZ1Hal {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-h2r0zW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-h2r0zW {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-26-eZ1Hal {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-vU6pcy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-vU6pcy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-13-eZ1Hal {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-3YXe36 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-3YXe36 {
  height: 20px;
}

.tabletservicepluinliveviewfeatureexceptional .title-l3YFKu {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.tabletservicepluinliveviewfeatureexceptional .contents-3YXe36 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-HsHHNR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-HsHHNR {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-1Swmz0 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-TiHfti {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-TiHfti {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-WyXUzq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-WyXUzq {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .group-22-copy-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2837px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-oQFxXA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-oQFxXA {
  height: 20px;
}

.tabletservicepluinliveviewfeatureexceptional .title-xOzAxi {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.tabletservicepluinliveviewfeatureexceptional .contents-oQFxXA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-TzB9px {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-TzB9px {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-Waizlk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-Waizlk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-c1VaBs {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-cEM3Em {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-cEM3Em {
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-Q523am {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-RxkyYI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-RxkyYI {
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-s4pi5m {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-ewXJkC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-ewXJkC {
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-ZVABn7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-ZVABn7 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-wv2dkL {
  height: 31px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-ZBka7Q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-ZBka7Q {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-xuPZuT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-xuPZuT {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .group-20-NF6eIL {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1941px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-2-J657Ge {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-0rXckw {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-FsRm4Y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-FsRm4Y {
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-I4lFQ9 {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-Ih8GfU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-Ih8GfU {
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-title-58KTul {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-ua6Ync {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-title-text-ua6Ync {
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .group-14-J657Ge {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-32-QxLD64 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-6x9mMN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-6x9mMN {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-28-QxLD64 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-7llz1y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-7llz1y {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-19-QxLD64 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-cbQj4P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .group-cbQj4P {
  height: 20px;
}

.tabletservicepluinliveviewfeatureexceptional .title-kX86SO {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.tabletservicepluinliveviewfeatureexceptional .contents-cbQj4P {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-KdxhTJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-KdxhTJ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8-jxY8mR {
  height: 31px;
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-9XHvVE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-9XHvVE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-x6MnGI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .contents-x6MnGI {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeatureexceptional .group-9-NF6eIL {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 660px;
}

.tabletservicepluinliveviewfeatureexceptional .group-15-NF6eIL {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeatureexceptional .group-11-NF6eIL {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1941px;
  width: 690px;
}

.tabletservicepluinliveviewfeatureexceptional .group-13-NF6eIL {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 2837px;
  width: 660px;
}

.tabletservicepluinliveviewfeatureexceptional .web-sub_-title-NF6eIL {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 542px;
}

.tabletservicepluinliveviewfeatureexceptional .sub-title-XzOE90 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinliveviewfeatureexceptional .web-title-area-NF6eIL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .web-tabtablet_service-plug-in-live-view-NF6eIL {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-1PxgBJ {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .x3rd-depth-copy-1PxgBJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .incoming-call_-flow_m-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 703px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-front-door-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1003px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-back-key-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1325px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeatureexceptional .flow_-home-screen-1PxgBJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1157px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeatureexceptional .tab-copy-1PxgBJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeatureexceptional .live-view_-feature_-ca-xgicrR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeatureexceptional .live-view_-feature_-po-copy-xgicrR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeatureexceptional .incoming-call-_-feat-xgicrR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.tabletservicepluinliveviewfeatureexceptional .x3rd-depth-copy-2-1PxgBJ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-main-entranc-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-basic_layout-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-front-door-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-call-end-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-back-key-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeatureexceptional .feature_-exceptional-Eyyl7u {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 161px;
}

.tabletservicepluinliveviewfeatureexceptional .lnbtablet_serviceplugin-NF6eIL {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-MyDvDw {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeatureexceptional .line-MyDvDw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeatureexceptional .home-net-gui-guidelin-MyDvDw {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup10 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup10 .web-index-title-reference-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-4Renr7 {
  bottom: 0px;
}

.stackedgroup10 .empty-sgeOVG {
  top: 0px;
}

.stackedgroup10 .web-index-title-reference-copy-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-copy-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-RUqUKT {
  bottom: 0px;
}

.stackedgroup10 .empty-NGgm9h {
  top: 0px;
}

.stackedgroup10 .web-index-title-reference-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-copy-2-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-copy-MbDBcI {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup10 .line-copy-2-MbDBcI {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup10 .empty-copy-2-MbDBcI {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup10 .web-index-title-reference-copy-3-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-3-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-4-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-5-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-6-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-16-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-15-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-14-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-13-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-12-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-11-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-10-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-18-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-17-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-19-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-21-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-20-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-22-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeatureexceptional .webgnb-NF6eIL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .rectangle-25iOET {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .background-25iOET {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeatureexceptional .index-25iOET {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-select-PdAFmD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-unselect-PdAFmD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeatureexceptional .web-index-unelect_main-25iOET {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .logo-bxeXKp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinliveviewfeatureexceptional .descriptiontabletop-copy-3 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeatureexceptional .group-21 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .group-6 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-12 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-13 {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text1line-copy-8 {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-14 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeatureexceptional .title {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
