/* screen - tabletservicepluinliveviewfeaturebasiclayout */

.tabletservicepluinliveviewfeaturebasiclayout {
  background-color: var(--white);
  height: 3141px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-3-dIxbxv {
  background-color: transparent;
  height: 503px;
  left: 1140px;
  position: absolute;
  top: 1981px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-7fVhSr {
  cursor: pointer;
  height: 73px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-Tl0zCb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-Tl0zCb {
  height: 62px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title-YedIeq {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-YedIeq {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-Aar36f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-Aar36f {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-n8O4dk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-n8O4dk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-10-copy-WTcn0r {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-RFgzuT {
  height: 45px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-vOxSmu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-vOxSmu {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  left: 6px;
  line-height: 17px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-lKUSYP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-lKUSYP {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-hiEURN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-hiEURN {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-WTcn0r {
  height: 297px;
  left: 0px;
  top: 206px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-pKLWlA {
  cursor: pointer;
  height: 115px;
  top: 89px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-xQydjJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-xQydjJ {
  height: 104px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .content-RzafPn {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .content-copy-RzafPn {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 44px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title-RzafPn {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-pKLWlA {
  height: 51px;
  top: 89px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-SxxdSv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-SxxdSv {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-17-pKLWlA {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 220px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-z6qx1D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-z6qx1D {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-LGx1Wa {
  height: 31px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-FHDP6V {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-FHDP6V {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-H0GeaW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-H0GeaW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-LGx1Wa {
  height: 73px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-O7Tqxp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-O7Tqxp {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title-Mxaa4J {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-O7Tqxp {
  color: var(--black);
  font-weight: 400;
  height: 40px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-3-WTcn0r {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-jxC91A {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-xh6Wha {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-xh6Wha {
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-SRtMhM {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-dtfYkx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-dtfYkx {
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-o3WOwx {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-lHCiyh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-lHCiyh {
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-16-dIxbxv {
  background-color: transparent;
  height: 222px;
  left: 1140px;
  position: absolute;
  top: 1285px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13-PvZCIt {
  cursor: pointer;
  height: 73px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-XQEvjU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-XQEvjU {
  height: 62px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title-eDZ76P {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-eDZ76P {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-ETeL5s {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-ETeL5s {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-XtdCHW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-XtdCHW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-2-xRPCAN {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-l4c4qY {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-SL5nik {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-SL5nik {
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-aGQpXu {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-4vOnvd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-4vOnvd {
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-mHGh7E {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-D3OG68 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-D3OG68 {
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-8-xRPCAN {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-xRqThH {
  height: 28px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-4RcINN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-4RcINN {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  left: 6px;
  line-height: 17px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-fbG88G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-fbG88G {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-xRqThH {
  height: 71px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-xTGnPk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-xTGnPk {
  color: var(--science-blue);
  font-weight: 600;
  height: 60px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-19-dIxbxv {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-18-KBhOsK {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-6-FZgx0M {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-fyXyLp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-fyXyLp {
  height: 62px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title-vOIdYn {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-vOIdYn {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-8-FZgx0M {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-Rxx3FG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-Rxx3FG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-FZgx0M {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-B9DJU6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-B9DJU6 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .descriptiontabletop-copy-KBhOsK {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-wfShDs {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-QQACGe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-QQACGe {
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-83sxgc {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-RRxWaY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-RRxWaY {
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-title-JyzhUP {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-I2yzFw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-title-text-I2yzFw {
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-17-KBhOsK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12-ADA0Dg {
  height: 28px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-nasPiy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-nasPiy {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  left: 6px;
  line-height: 17px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-YwxMoJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-YwxMoJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7-ADA0Dg {
  height: 51px;
  top: 0px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-n3YDX7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents-n3YDX7 {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  left: 6px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  width: 258px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-15-dIxbxv {
  background-color: transparent;
  height: 546px;
  left: 400px;
  position: absolute;
  top: 1285px;
  width: 700px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-13-dIxbxv {
  background-color: transparent;
  height: 960px;
  left: 380px;
  position: absolute;
  top: 1981px;
  width: 721px;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-2-dIxbxv {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-sub_-title-dIxbxv {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 579px;
}

.tabletservicepluinliveviewfeaturebasiclayout .sub-title-14xA7u {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-title-area-dIxbxv {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-tabtablet_service-plug-in-live-view-dIxbxv {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-7lUaH4 {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .x3rd-depth-copy-7lUaH4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .incoming-call_-flow_m-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 703px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-front-door-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1003px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-back-key-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1325px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeaturebasiclayout .flow_-home-screen-7lUaH4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1157px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeaturebasiclayout .tab-copy-7lUaH4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeaturebasiclayout .live-view_-feature_-ca-Kgx4dW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeaturebasiclayout .live-view_-feature_-po-copy-Kgx4dW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveviewfeaturebasiclayout .incoming-call-_-feat-Kgx4dW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.tabletservicepluinliveviewfeaturebasiclayout .x3rd-depth-copy-2-7lUaH4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-main-entranc-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-basic_layout-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-front-door-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-call-end-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-back-key-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeaturebasiclayout .feature_-exceptional-aIAmnN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeaturebasiclayout .lnbtablet_serviceplugin-dIxbxv {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-d9l0Cz {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeaturebasiclayout .line-d9l0Cz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeaturebasiclayout .home-net-gui-guidelin-d9l0Cz {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  bottom: 0px;
}

.stackedgroup2 .empty-ijbXHj {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  bottom: 0px;
}

.stackedgroup2 .empty-6Nhabs {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-copy-NA9zcN {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-2-NA9zcN {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-copy-2-NA9zcN {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-4-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-5-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-6-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-16-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-15-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-14-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-13-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-12-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-11-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-10-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-18-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-17-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-19-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-21-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-20-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-22-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeaturebasiclayout .webgnb-dIxbxv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .rectangle-xDrWc5 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .background-xDrWc5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeaturebasiclayout .index-xDrWc5 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-select-KcZ9VE {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-unselect-KcZ9VE {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeaturebasiclayout .web-index-unelect_main-xDrWc5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .logo-z3uIIF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.tabletservicepluinliveviewfeaturebasiclayout .group {
  background-color: transparent;
  position: absolute;
}

.tabletservicepluinliveviewfeaturebasiclayout .group-10 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-14 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-2 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text1line-copy-7 {
  background-color: transparent;
  left: 410px;
  position: absolute;
  width: 270px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-12 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .table-guide-text2line_m-copy-13 {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeaturebasiclayout .title {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
