/* screen - tabletservicepluindeliveries */

.tabletservicepluindeliveries {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluindeliveries .group-3-t9TDaN {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluindeliveries .group-2-t9TDaN {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletservicepluindeliveries .group-6-t9TDaN {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluindeliveries .group-5-2r2m6L {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-text2line_m-copy-5-5FclWR {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-xmgdxj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluindeliveries .contents-xmgdxj {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-8-5FclWR {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-KMnUMv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluindeliveries .contents-KMnUMv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-5FclWR {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-0zBUeQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluindeliveries .contents-0zBUeQ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluindeliveries .group-4-2r2m6L {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-text2line_m-copy-9-odWQoo {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-R1J2NB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluindeliveries .group-R1J2NB {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluindeliveries .title-bvDNRA {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluindeliveries .contents-R1J2NB {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-9-odWQoo {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-E9gFdx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluindeliveries .contents-E9gFdx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-2-odWQoo {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-1ivuiP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluindeliveries .contents-1ivuiP {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluindeliveries .descriptiontabletop-copy-2r2m6L {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-title-4Pe5ec {
  left: 410px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-CsuMed {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluindeliveries .table-title-text-CsuMed {
  width: 258px;
}

.tabletservicepluindeliveries .table-guide-title-xUQg4g {
  left: 60px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-m0IXG2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluindeliveries .table-title-text-m0IXG2 {
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-title-TrHwbJ {
  left: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-ihYblm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluindeliveries .table-title-text-ihYblm {
  width: 38px;
}

.tabletservicepluindeliveries .group-9-t9TDaN {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletservicepluindeliveries .group-7-KXnAOD {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-text2line_m-copy-8-aXrj4x {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-uw8KOL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluindeliveries .contents-uw8KOL {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-11-aXrj4x {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-v7RUpn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluindeliveries .contents-v7RUpn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-4-aXrj4x {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-HRsHPQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluindeliveries .contents-HRsHPQ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluindeliveries .group-8-KXnAOD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-text2line_m-copy-7-Mje1sY {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-L1xxwt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluindeliveries .contents-L1xxwt {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-10-Mje1sY {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-7IY5IB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluindeliveries .contents-7IY5IB {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluindeliveries .table-guide-text1line-copy-3-Mje1sY {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-oF1Zqs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluindeliveries .contents-oF1Zqs {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluindeliveries .descriptiontabletop-copy-2-KXnAOD {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluindeliveries .table-guide-title-xEZcci {
  left: 410px;
  width: 270px;
}

.tabletservicepluindeliveries .rectangle-v4Y6mE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluindeliveries .table-title-text-v4Y6mE {
  width: 258px;
}

.tabletservicepluindeliveries .table-guide-title-1GlonJ {
  left: 60px;
  width: 340px;
}

.tabletservicepluindeliveries .rectangle-QM3SVj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluindeliveries .table-title-text-QM3SVj {
  width: 328px;
}

.tabletservicepluindeliveries .table-guide-title-exKY63 {
  left: 0px;
  width: 50px;
}

.tabletservicepluindeliveries .rectangle-41oCz5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluindeliveries .table-title-text-41oCz5 {
  width: 38px;
}

.tabletservicepluindeliveries .web-sub_-title-t9TDaN {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluindeliveries .sub-title-Fzt4np {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluindeliveries .web-title-area-t9TDaN {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluindeliveries .web-tabtablet_service-plug-innotice-t9TDaN {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluindeliveries .x3rd-depth-hfQxOK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluindeliveries .tab-hfQxOK {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluindeliveries .feature-dkA7Pm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluindeliveries .lnbtablet_serviceplugin-t9TDaN {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluindeliveries .rectangle-3wZNgf {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluindeliveries .line-3wZNgf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluindeliveries .home-net-gui-guidelin-3wZNgf {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup8 .web-index-title-reference-copy-2-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-vraj8j {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .empty-UqiXa1 {
  bottom: 0px;
}

.stackedgroup8 .empty-16r3xy {
  top: 0px;
}

.stackedgroup8 .web-index-title-reference-copy-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-copy-vraj8j {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .empty-FulBoy {
  bottom: 0px;
}

.stackedgroup8 .empty-rdm0Xk {
  top: 0px;
}

.stackedgroup8 .web-index-title-reference-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .group-copy-2-vraj8j {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .empty-copy-xi9HEZ {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup8 .line-copy-2-xi9HEZ {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup8 .empty-copy-2-xi9HEZ {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup8 .web-index-title-reference-copy-3-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-3-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-2-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-4-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-5-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-6-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-16-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-15-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-14-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-13-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-12-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-11-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-10-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-18-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-17-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-19-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-21-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-20-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup8 .web-index-contents2dpeth-copy-22-vraj8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluindeliveries .webgnb-t9TDaN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluindeliveries .rectangle-TPiMxq {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluindeliveries .background-TPiMxq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluindeliveries .index-TPiMxq {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluindeliveries .web-index-select-nnFFfT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluindeliveries .web-index-unselect-nnFFfT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluindeliveries .web-index-unelect_main-TPiMxq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .logo-ifOteb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluindeliveries .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}
