/* screen - tabletservicepluinliveview */

.tabletservicepluinliveview {
  background-color: var(--white);
  height: 2801px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveview .group-10-2XwpuW {
  background-color: transparent;
  height: 1032px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 670px;
}

.tabletservicepluinliveview .group-8-2XwpuW {
  background-color: transparent;
  height: 1030px;
  left: 420px;
  position: absolute;
  top: 1571px;
  width: 680px;
}

.tabletservicepluinliveview .group-12-2XwpuW {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveview .group-11-3hGG4S {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveview .table-guide-text2line_m-copy-6-euv5tM {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveview .rectangle-B06G5q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveview .contents-9MZYJ7 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveview .table-guide-text1line-copy-8-euv5tM {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveview .rectangle-jdSKa7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveview .contents-jdSKa7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveview .table-guide-text1line-copy-euv5tM {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveview .rectangle-xYPoA1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveview .contents-xYPoA1 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveview .descriptiontabletop-copy-3hGG4S {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveview .table-guide-title-3fcc8g {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveview .rectangle-N1I79f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveview .table-title-text-N1I79f {
  width: 258px;
}

.tabletservicepluinliveview .table-guide-title-xTdPlA {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveview .rectangle-UrqVW4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveview .table-title-text-UrqVW4 {
  width: 328px;
}

.tabletservicepluinliveview .table-guide-title-B2m3EQ {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveview .rectangle-L8wSyV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveview .table-title-text-L8wSyV {
  width: 38px;
}

.tabletservicepluinliveview .group-14-2XwpuW {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1571px;
  width: 680px;
}

.tabletservicepluinliveview .group-13-D8AESE {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveview .table-guide-text2line_m-copy-7-gvBTCG {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveview .rectangle-CdO5GT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveview .contents-nhznbI {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveview .table-guide-text1line-copy-7-gvBTCG {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveview .rectangle-c0TqYx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveview .contents-c0TqYx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveview .table-guide-text1line-copy-24-gvBTCG {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveview .rectangle-oZbAnR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveview .contents-oZbAnR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveview .descriptiontabletop-copy-4-D8AESE {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinliveview .table-guide-title-k8gciE {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveview .rectangle-OG0R96 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveview .table-title-text-OG0R96 {
  width: 258px;
}

.tabletservicepluinliveview .table-guide-title-HyCr32 {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveview .rectangle-0RMIEP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveview .table-title-text-0RMIEP {
  width: 328px;
}

.tabletservicepluinliveview .table-guide-title-Gr6MbQ {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveview .rectangle-ouKAzg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveview .table-title-text-ouKAzg {
  width: 38px;
}

.tabletservicepluinliveview .group-5-copy-6-2XwpuW {
  background-color: transparent;
  height: 24px;
  left: 580px;
  position: absolute;
  top: 138px;
  width: 76px;
}

.tabletservicepluinliveview .web-sub_-title-2XwpuW {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 360px;
}

.tabletservicepluinliveview .sub-title-PNoeKK {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinliveview .web-title-area-2XwpuW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveview .web-tabtablet_service-plug-in-live-view-2XwpuW {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveview .rectangle-x0PKYq {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveview .x3rd-depth-copy-x0PKYq {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveview .incoming-call_-flow_m-x0PKYq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 703px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveview .flow_-front-door-x0PKYq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1003px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveview .flow_-back-key-x0PKYq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1325px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveview .flow_-home-screen-x0PKYq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1157px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveview .tab-copy-x0PKYq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveview .live-view_-feature_-ca-zranLv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 149px;
}

.tabletservicepluinliveview .live-view_-feature_-po-copy-zranLv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluinliveview .incoming-call-_-feat-zranLv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.tabletservicepluinliveview .x3rd-depth-copy-2-x0PKYq {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveview .feature_-main-entranc-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveview .feature_-basic_layout-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveview .feature_-front-door-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveview .feature_-call-end-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveview .feature_-back-key-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveview .feature_-exceptional-CGg4Yx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveview .lnbtablet_serviceplugin-2XwpuW {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveview .rectangle-iVeKYb {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveview .line-iVeKYb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveview .home-net-gui-guidelin-iVeKYb {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup5 .web-index-title-reference-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-oWFIFb {
  bottom: 0px;
}

.stackedgroup5 .empty-ZrUYTL {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-copy-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-b6EtH8 {
  bottom: 0px;
}

.stackedgroup5 .empty-BGO3dO {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-copy-2-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-copy-l4D98k {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup5 .line-copy-2-l4D98k {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup5 .empty-copy-2-l4D98k {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .web-index-title-reference-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-4-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-5-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-6-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-16-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-15-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-14-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-13-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-12-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-11-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-10-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-18-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-17-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-19-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-21-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-20-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-22-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveview .webgnb-2XwpuW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveview .rectangle-5qNzJm {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveview .background-5qNzJm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveview .index-5qNzJm {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveview .web-index-select-F3Ew49 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveview .web-index-unselect-F3Ew49 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveview .web-index-unelect_main-5qNzJm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveview .logo-Lzs98J {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveview .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinliveview .group {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveview .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
