/* screen - tabletservicepluinhomesccreenbanner */

.tabletservicepluinhomesccreenbanner {
  background-color: var(--white);
  height: 2031px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinhomesccreenbanner .group-4-7YqUaS {
  background-color: transparent;
  height: 538px;
  left: 400px;
  position: absolute;
  top: 1293px;
  width: 740px;
}

.tabletservicepluinhomesccreenbanner .group-2-7YqUaS {
  background-color: transparent;
  height: 778px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.tabletservicepluinhomesccreenbanner .group-13-7YqUaS {
  background-color: transparent;
  height: 461px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-7-HeMde6 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-SJaGZj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-SJaGZj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-12-HeMde6 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-KPRDaM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-KPRDaM {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-13-HeMde6 {
  background-color: transparent;
  cursor: pointer;
  height: 92px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-bxJIIb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-bxJIIb {
  height: 81px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-8-AyuaiX {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-NfzSxR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-NfzSxR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-14-AyuaiX {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-W9sxVW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-W9sxVW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-17-AyuaiX {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-onkccJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-onkccJ {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-onkccJ {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-9-OFz8br {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-xc39bR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-xc39bR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-15-OFz8br {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-IWrprS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-IWrprS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-18-OFz8br {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-Ut3FfL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-Ut3FfL {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-Ut3FfL {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-16-SDcbi6 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-CT8u3J {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-CT8u3J {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-19-SDcbi6 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-Jx7sd5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-Jx7sd5 {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-Jx7sd5 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-10-SDcbi6 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-mW6oKy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-mW6oKy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .descriptiontabletop-copy-3-G5fQIS {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-3Kn6Ap {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-YngTpb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-YngTpb {
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-sAVkKx {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-vxIu6f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-vxIu6f {
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-6Ln2id {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-AEuAMG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-AEuAMG {
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .group-13-copy-7YqUaS {
  background-color: transparent;
  height: 461px;
  left: 1140px;
  position: absolute;
  top: 1293px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-11-KbcKst {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-nphVux {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-nphVux {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-20-KbcKst {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-kWgn3n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-kWgn3n {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-21-KbcKst {
  background-color: transparent;
  cursor: pointer;
  height: 92px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-NHMprG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-NHMprG {
  height: 81px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-22-abtt4v {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-sX5qIq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-sX5qIq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-23-abtt4v {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-IqMpfb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-IqMpfb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-24-abtt4v {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-8Mt2yF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-8Mt2yF {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-8Mt2yF {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-25-UXkKlf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-kfMZzt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-kfMZzt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-26-UXkKlf {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-Ca3nx7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-Ca3nx7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-27-UXkKlf {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-jIEfk3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-jIEfk3 {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-jIEfk3 {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-28-KLtj25 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-EzCMqw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .contents-EzCMqw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-29-KLtj25 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-XCScgr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .group-XCScgr {
  height: 20px;
}

.tabletservicepluinhomesccreenbanner .contents-XCScgr {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-text1line-copy-30-KLtj25 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-TXOJxo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .contents-TXOJxo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .descriptiontabletop-copy-4-dhoFmN {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-94thux {
  left: 410px;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .rectangle-LP6uWr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-LP6uWr {
  width: 258px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-SfmR6e {
  left: 60px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .rectangle-zxxHMI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-zxxHMI {
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .table-guide-title-G5TzpG {
  left: 0px;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .rectangle-8VkEeA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinhomesccreenbanner .table-title-text-8VkEeA {
  width: 38px;
}

.tabletservicepluinhomesccreenbanner .web-sub_-title-7YqUaS {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 437px;
}

.tabletservicepluinhomesccreenbanner .sub-title-QYxmr0 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinhomesccreenbanner .web-title-area-7YqUaS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinhomesccreenbanner .web-tabtablet_service-plug-inhomescreen-7YqUaS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinhomesccreenbanner .x3rd-depth-KEHJf9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinhomesccreenbanner .tab-KEHJf9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinhomesccreenbanner .feature-copy-4-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluinhomesccreenbanner .feature-_-shortcut-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletservicepluinhomesccreenbanner .banner_-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluinhomesccreenbanner .more-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.tabletservicepluinhomesccreenbanner .more-_-edit-_-featur-copy-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.tabletservicepluinhomesccreenbanner .more-_-notifications-copy-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.tabletservicepluinhomesccreenbanner .more-_-help-guide-copy-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 113px;
}

.tabletservicepluinhomesccreenbanner .service-feature-2liLSh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluinhomesccreenbanner .lnbtablet_serviceplugin-7YqUaS {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinhomesccreenbanner .rectangle-y59dHX {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinhomesccreenbanner .line-y59dHX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinhomesccreenbanner .home-net-gui-guidelin-y59dHX {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup15 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup15 .web-index-title-reference-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-9fxZYK {
  bottom: 0px;
}

.stackedgroup15 .empty-uJOsts {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-MUVuFv {
  bottom: 0px;
}

.stackedgroup15 .empty-5Z2I5D {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-2-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-copy-xSqfIe {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup15 .line-copy-2-xSqfIe {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup15 .empty-copy-2-xSqfIe {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-4-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-5-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-6-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-16-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-15-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-14-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-13-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-12-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-11-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-10-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-18-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-17-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-19-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-21-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-20-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents2dpeth-copy-22-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinhomesccreenbanner .webgnb-7YqUaS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenbanner .rectangle-x2Qx9D {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinhomesccreenbanner .background-x2Qx9D {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinhomesccreenbanner .index-x2Qx9D {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinhomesccreenbanner .web-index-select-aleHVM {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinhomesccreenbanner .web-index-unselect-aleHVM {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinhomesccreenbanner .web-index-unelect_main-x2Qx9D {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .logo-6R1NIV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinhomesccreenbanner .content {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .content-copy {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinhomesccreenbanner .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinhomesccreenbanner .group-10 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 273px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .group-11 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 382px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .group-12 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 164px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .group-9 {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinhomesccreenbanner .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
