/* screen - tabletservicepluinevcharging */

.tabletservicepluinevcharging {
  background-color: var(--white);
  height: 1944px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinevcharging .group-6-xiVosO {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinevcharging .group-5-7ji2g2 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinevcharging .table-guide-text2line_m-copy-6-mLnmO3 {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinevcharging .rectangle-f0EaL4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinevcharging .group-f0EaL4 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinevcharging .title-yb04TG {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinevcharging .contents-yb04TG {
  color: var(--lochmara);
  font-weight: 400;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinevcharging .table-guide-text1line-copy-8-mLnmO3 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinevcharging .rectangle-1YASgC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinevcharging .contents-1YASgC {
  color: var(--black);
  font-weight: 400;
  left: 6px;
  top: 11px;
  width: 38px;
}

.tabletservicepluinevcharging .table-guide-text1line-copy-mLnmO3 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinevcharging .rectangle-apQhv4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinevcharging .contents-apQhv4 {
  color: var(--science-blue);
  font-weight: 600;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinevcharging .descriptiontabletop-copy-7ji2g2 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinevcharging .table-guide-title-eU5M1y {
  left: 410px;
  width: 270px;
}

.tabletservicepluinevcharging .rectangle-dI4XTj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinevcharging .table-title-text-dI4XTj {
  width: 258px;
}

.tabletservicepluinevcharging .table-guide-title-GcwRle {
  left: 60px;
  width: 340px;
}

.tabletservicepluinevcharging .rectangle-F0TYO1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinevcharging .table-title-text-F0TYO1 {
  width: 328px;
}

.tabletservicepluinevcharging .table-guide-title-H2scys {
  left: 0px;
  width: 50px;
}

.tabletservicepluinevcharging .rectangle-93XF0i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinevcharging .table-title-text-93XF0i {
  width: 38px;
}

.tabletservicepluinevcharging .group-4-xiVosO {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluinevcharging .descriptiontabletop-copy-4-kKglCS {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinevcharging .table-guide-title-8WkvtE {
  left: 410px;
  width: 270px;
}

.tabletservicepluinevcharging .rectangle-R8sXuJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinevcharging .table-title-text-R8sXuJ {
  width: 258px;
}

.tabletservicepluinevcharging .table-guide-title-Y0xqwN {
  left: 60px;
  width: 340px;
}

.tabletservicepluinevcharging .rectangle-gKxwkw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinevcharging .table-title-text-gKxwkw {
  width: 328px;
}

.tabletservicepluinevcharging .table-guide-title-lQWqig {
  left: 0px;
  width: 50px;
}

.tabletservicepluinevcharging .rectangle-qnI039 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinevcharging .table-title-text-qnI039 {
  width: 38px;
}

.tabletservicepluinevcharging .group-3-kKglCS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinevcharging .table-guide-text1line-copy-7-wKZFPx {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinevcharging .rectangle-phB1xT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinevcharging .contents-phB1xT {
  color: var(--science-blue);
  font-weight: 600;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletservicepluinevcharging .table-guide-text1line-copy-24-wKZFPx {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinevcharging .rectangle-eZx197 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinevcharging .contents-eZx197 {
  color: var(--black);
  font-weight: 400;
  left: 6px;
  top: 11px;
  width: 38px;
}

.tabletservicepluinevcharging .table-guide-text2line_m-copy-28-wKZFPx {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinevcharging .rectangle-NtqanR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinevcharging .contents-NtqanR {
  color: var(--lochmara);
  font-weight: 400;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluinevcharging .group-7-xiVosO {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinevcharging .group-8-xiVosO {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluinevcharging .web-sub_-title-xiVosO {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinevcharging .sub-title-kDUro7 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinevcharging .web-title-area-xiVosO {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinevcharging .lnbtablet_serviceplugin-xiVosO {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinevcharging .rectangle-8o5k3O {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinevcharging .line-8o5k3O {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinevcharging .home-net-gui-guidelin-8o5k3O {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup37 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup37 .web-index-title-reference-copy-2-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .group-eRGhFg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .empty-5AiKBk {
  bottom: 0px;
}

.stackedgroup37 .empty-bn0OeK {
  top: 0px;
}

.stackedgroup37 .web-index-title-reference-copy-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .group-copy-eRGhFg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .empty-4z0Y1p {
  bottom: 0px;
}

.stackedgroup37 .empty-fqL3pO {
  top: 0px;
}

.stackedgroup37 .web-index-title-reference-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .group-copy-2-eRGhFg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .empty-copy-QrGR1L {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup37 .line-copy-2-QrGR1L {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup37 .empty-copy-2-QrGR1L {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup37 .web-index-title-reference-copy-3-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-3-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-2-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-4-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-5-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-6-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-16-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-15-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-14-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-13-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-12-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-11-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-10-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-18-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-17-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-19-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-21-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-20-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents2dpeth-copy-22-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinevcharging .webgnb-xiVosO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinevcharging .rectangle-PJGAxs {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinevcharging .background-PJGAxs {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinevcharging .index-PJGAxs {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinevcharging .web-index-select-8JPAXF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinevcharging .web-index-unselect-8JPAXF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinevcharging .web-index-unelect_main-PJGAxs {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinevcharging .logo-xqEIxV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinevcharging .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}
