/* screen - tabletservicepluinvisitors */

.tabletservicepluinvisitors {
  background-color: var(--white);
  height: 1935px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinvisitors .group-10-xvBuZL {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluinvisitors .group-9-xvBuZL {
  background-color: transparent;
  height: 507px;
  left: 420px;
  position: absolute;
  top: 1228px;
  width: 640px;
}

.tabletservicepluinvisitors .web-sub_-title-xvBuZL {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluinvisitors .sub-title-Mex196 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinvisitors .group-6-xvBuZL {
  background-color: transparent;
  height: 223px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluinvisitors .group-4-Uaxh0U {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 400px;
}

.tabletservicepluinvisitors .table-guide-text2line_m-copy-6-f08cYz {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitors .rectangle-EEWiVi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvisitors .group-EEWiVi {
  height: 62px;
}

.tabletservicepluinvisitors .contents-C7LAEB {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinvisitors .table-guide-text1line-copy-9-f08cYz {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitors .rectangle-aSi7fI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvisitors .contents-aSi7fI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvisitors .descriptiontabletop-copy-Uaxh0U {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitors .table-guide-title-iDHuR5 {
  left: 410px;
  width: 270px;
}

.tabletservicepluinvisitors .rectangle-W1e3wE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinvisitors .table-title-text-W1e3wE {
  width: 258px;
}

.tabletservicepluinvisitors .table-guide-title-Kl5I8w {
  left: 60px;
  width: 340px;
}

.tabletservicepluinvisitors .rectangle-hT6yuY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinvisitors .table-title-text-hT6yuY {
  width: 328px;
}

.tabletservicepluinvisitors .table-guide-title-g2XjDm {
  left: 0px;
  width: 50px;
}

.tabletservicepluinvisitors .rectangle-TxjRxP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinvisitors .table-title-text-TxjRxP {
  width: 38px;
}

.tabletservicepluinvisitors .group-5-Uaxh0U {
  background-color: transparent;
  height: 78px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitors .table-guide-text1line-copy-8-LMSevj {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitors .rectangle-HmqLxd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvisitors .contents-HmqLxd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvisitors .table-guide-text1line-copy-LMSevj {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitors .rectangle-RRXvAC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvisitors .contents-RRXvAC {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvisitors .table-guide-text2line_m-copy-24-LMSevj {
  background-color: transparent;
  height: 72px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitors .rectangle-ycATOx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvisitors .group-ycATOx {
  height: 61px;
}

.tabletservicepluinvisitors .content-x0pJKm {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinvisitors .content-copy-x0pJKm {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinvisitors .group-8-xvBuZL {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1228px;
  width: 680px;
}

.tabletservicepluinvisitors .group-7-6tIC1P {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinvisitors .table-guide-text2line_m-copy-14-7Mhlhd {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitors .rectangle-Rm0Sfo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinvisitors .contents-Rm0Sfo {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluinvisitors .table-guide-text1line-copy-21-7Mhlhd {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinvisitors .rectangle-Qn6wf7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinvisitors .contents-Qn6wf7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinvisitors .table-guide-text1line-copy-20-7Mhlhd {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinvisitors .rectangle-sn4p9v {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinvisitors .contents-sn4p9v {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinvisitors .descriptiontabletop-copy-5-6tIC1P {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluinvisitors .table-guide-title-o8VeCl {
  left: 410px;
  width: 270px;
}

.tabletservicepluinvisitors .rectangle-NqdAOt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinvisitors .table-title-text-NqdAOt {
  width: 258px;
}

.tabletservicepluinvisitors .table-guide-title-B4CxzP {
  left: 60px;
  width: 340px;
}

.tabletservicepluinvisitors .rectangle-iJUy4U {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinvisitors .table-title-text-iJUy4U {
  width: 328px;
}

.tabletservicepluinvisitors .table-guide-title-YuhBzG {
  left: 0px;
  width: 50px;
}

.tabletservicepluinvisitors .rectangle-KUuUx2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinvisitors .table-title-text-KUuUx2 {
  width: 38px;
}

.tabletservicepluinvisitors .web-title-area-xvBuZL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinvisitors .web-tabtablet_service-plug-in-visitors-xvBuZL {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinvisitors .x3rd-depth-Bz5M9d {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinvisitors .tab-Bz5M9d {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinvisitors .popup-8arKEt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletservicepluinvisitors .feature_-list-8arKEt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 78px;
}

.tabletservicepluinvisitors .lnbtablet_serviceplugin-xvBuZL {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinvisitors .rectangle-zvNIfA {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinvisitors .line-zvNIfA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinvisitors .home-net-gui-guidelin-zvNIfA {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup31 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup31 .web-index-title-reference-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-GihQE5 {
  bottom: 0px;
}

.stackedgroup31 .empty-JoxSjB {
  top: 0px;
}

.stackedgroup31 .web-index-title-reference-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-copy-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-gBHVxl {
  bottom: 0px;
}

.stackedgroup31 .empty-jRf5Uq {
  top: 0px;
}

.stackedgroup31 .web-index-title-reference-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-copy-2-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-copy-Q8Q8dE {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup31 .line-copy-2-Q8Q8dE {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup31 .empty-copy-2-Q8Q8dE {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-copy-3-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-3-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-4-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-5-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-6-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-16-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-15-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-14-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-13-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-12-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-11-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-10-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-18-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-17-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-19-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-21-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-20-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents2dpeth-copy-22-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinvisitors .webgnb-xvBuZL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvisitors .rectangle-fLgGZx {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinvisitors .background-fLgGZx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinvisitors .index-fLgGZx {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinvisitors .web-index-select-tdoOrk {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinvisitors .web-index-unselect-tdoOrk {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinvisitors .web-index-unelect_main-fLgGZx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitors .logo-x4RnHN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinvisitors .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinvisitors .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinvisitors .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
