/* screen - tabletservicepluinliveviewfeature */

.tabletservicepluinliveviewfeature {
  background-color: var(--white);
  height: 3493px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluinliveviewfeature .group-21-J8sBpw {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1891px;
  width: 670px;
}

.tabletservicepluinliveviewfeature .group-3-J8sBpw {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2787px;
  width: 640px;
}

.tabletservicepluinliveviewfeature .group-9-J8sBpw {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 670px;
}

.tabletservicepluinliveviewfeature .group-8-J8sBpw {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1235px;
  width: 640px;
}

.tabletservicepluinliveviewfeature .group-12-copy-3-J8sBpw {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1891px;
  width: 680px;
}

.tabletservicepluinliveviewfeature .rectangle-cVN6pv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeature .contents-y23nTl {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeature .rectangle-Fa70TE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeature .contents-Fa70TE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeature .rectangle-fIk4fH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeature .contents-fIk4fH {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-N4vhfQ {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeature .rectangle-q6ZNxD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeature .table-title-text-q6ZNxD {
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-xvPlby {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .rectangle-ZBrbKx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeature .table-title-text-ZBrbKx {
  width: 328px;
}

.tabletservicepluinliveviewfeature .table-guide-title-xPuVHz {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeature .rectangle-xMQkaa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeature .table-title-text-xMQkaa {
  width: 38px;
}

.tabletservicepluinliveviewfeature .group-12-copy-4-J8sBpw {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 2787px;
  width: 680px;
}

.tabletservicepluinliveviewfeature .rectangle-43F9Jy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeature .contents-395aeU {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeature .rectangle-2cTjIC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeature .contents-2cTjIC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeature .rectangle-PWxs1l {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeature .contents-PWxs1l {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-GaMebY {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeature .rectangle-L27yyg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeature .table-title-text-L27yyg {
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-xxOLdM {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .rectangle-EdJkv4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeature .table-title-text-EdJkv4 {
  width: 328px;
}

.tabletservicepluinliveviewfeature .table-guide-title-9F8pWo {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeature .rectangle-j12LlO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeature .table-title-text-j12LlO {
  width: 38px;
}

.tabletservicepluinliveviewfeature .group-12-J8sBpw {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.tabletservicepluinliveviewfeature .rectangle-2nElg2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeature .contents-QHU2pb {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeature .rectangle-bjdJJA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeature .contents-bjdJJA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeature .rectangle-CDnq3C {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeature .contents-CDnq3C {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-tos3nx {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeature .rectangle-kfhLD9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeature .table-title-text-kfhLD9 {
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-gKci5b {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .rectangle-devEeG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeature .table-title-text-devEeG {
  width: 328px;
}

.tabletservicepluinliveviewfeature .table-guide-title-EWXtIn {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeature .rectangle-fNeGby {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeature .table-title-text-fNeGby {
  width: 38px;
}

.tabletservicepluinliveviewfeature .group-12-copy-2-J8sBpw {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1235px;
  width: 680px;
}

.tabletservicepluinliveviewfeature .rectangle-wKYXW5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluinliveviewfeature .contents-m4x4wb {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluinliveviewfeature .rectangle-6vwxCQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluinliveviewfeature .contents-6vwxCQ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluinliveviewfeature .rectangle-ODW9Rn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluinliveviewfeature .contents-ODW9Rn {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-PxUq2L {
  left: 410px;
  width: 270px;
}

.tabletservicepluinliveviewfeature .rectangle-FzTdix {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluinliveviewfeature .table-title-text-FzTdix {
  width: 258px;
}

.tabletservicepluinliveviewfeature .table-guide-title-oZqcqk {
  left: 60px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .rectangle-GysBzb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluinliveviewfeature .table-title-text-GysBzb {
  width: 328px;
}

.tabletservicepluinliveviewfeature .table-guide-title-xL3pSc {
  left: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeature .rectangle-chRilY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluinliveviewfeature .table-title-text-chRilY {
  width: 38px;
}

.tabletservicepluinliveviewfeature .web-sub_-title-J8sBpw {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 375px;
}

.tabletservicepluinliveviewfeature .sub-title-198CoG {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluinliveviewfeature .web-title-area-J8sBpw {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluinliveviewfeature .web-tabtablet_service-plug-in-live-view-J8sBpw {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluinliveviewfeature .rectangle-ZxmZ1Y {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.tabletservicepluinliveviewfeature .x3rd-depth-copy-ZxmZ1Y {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluinliveviewfeature .incoming-call_-flow_m-ZxmZ1Y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 703px;
  position: absolute;
  top: 0px;
  width: 250px;
}

.tabletservicepluinliveviewfeature .flow_-front-door-ZxmZ1Y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1003px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.tabletservicepluinliveviewfeature .flow_-back-key-ZxmZ1Y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1325px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.tabletservicepluinliveviewfeature .flow_-home-screen-ZxmZ1Y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1157px;
  position: absolute;
  top: 0px;
  width: 118px;
}

.tabletservicepluinliveviewfeature .tab-copy-ZxmZ1Y {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletservicepluinliveviewfeature .live-view_-feature_-ca-ym2DuD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluinliveviewfeature .live-view_-feature_-po-copy-ym2DuD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.tabletservicepluinliveviewfeature .incoming-call-_-feat-ym2DuD {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.tabletservicepluinliveviewfeature .x3rd-depth-copy-2-ZxmZ1Y {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluinliveviewfeature .feature_-main-entranc-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 331px;
  position: absolute;
  top: 0px;
  width: 176px;
}

.tabletservicepluinliveviewfeature .feature_-basic_layout-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.tabletservicepluinliveviewfeature .feature_-front-door-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 557px;
  position: absolute;
  top: 0px;
  width: 121px;
}

.tabletservicepluinliveviewfeature .feature_-call-end-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 105px;
}

.tabletservicepluinliveviewfeature .feature_-back-key-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 883px;
  position: absolute;
  top: 0px;
  width: 110px;
}

.tabletservicepluinliveviewfeature .feature_-exceptional-eOeQx3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1043px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.tabletservicepluinliveviewfeature .lnbtablet_serviceplugin-J8sBpw {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluinliveviewfeature .rectangle-3syodV {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluinliveviewfeature .line-3syodV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluinliveviewfeature .home-net-gui-guidelin-3syodV {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup34 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup34 .web-index-title-reference-copy-2-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-U4gBT5 {
  bottom: 0px;
}

.stackedgroup34 .empty-dt2x6L {
  top: 0px;
}

.stackedgroup34 .web-index-title-reference-copy-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-copy-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-yVq7O2 {
  bottom: 0px;
}

.stackedgroup34 .empty-YzdtEY {
  top: 0px;
}

.stackedgroup34 .web-index-title-reference-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-copy-2-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-copy-wVq91p {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup34 .line-copy-2-wVq91p {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup34 .empty-copy-2-wVq91p {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup34 .web-index-title-reference-copy-3-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-3-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-2-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-4-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-5-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-6-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-16-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-15-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-14-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-13-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-12-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-11-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-10-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-18-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-17-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-19-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-21-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-20-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents2dpeth-copy-22-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletservicepluinliveviewfeature .webgnb-J8sBpw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeature .rectangle-aPN2yx {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluinliveviewfeature .background-aPN2yx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluinliveviewfeature .index-aPN2yx {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletservicepluinliveviewfeature .web-index-select-RwN9Lx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluinliveviewfeature .web-index-unselect-RwN9Lx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluinliveviewfeature .web-index-unelect_main-aPN2yx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .logo-2OTjW5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluinliveviewfeature .group {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluinliveviewfeature .group-11 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluinliveviewfeature .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluinliveviewfeature .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluinliveviewfeature .table-guide-text2line_m-copy-6 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluinliveviewfeature .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}
