/* screen - tabletdevicefeaturemaindevicefeaturetoggle */

.tabletdevicefeaturemaindevicefeaturetoggle {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-3-TKtKH8 {
  background-color: transparent;
  height: 170px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-5-TKtKH8 {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-2-4aHpBM {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text1line-xDuCIi {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-UliJx1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .contents-UliJx1 {
  color: var(--black);
  font-weight: 400;
  left: 6px;
  top: 11px;
  width: 38px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text1line-ge4qUy {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-LouWE8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .contents-LouWE8 {
  color: var(--science-blue);
  font-weight: 600;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-text2line_m-xDuCIi {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-k1yGA8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .group-k1yGA8 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .title-3GcUgG {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .contents-3GcUgG {
  color: var(--lochmara);
  font-weight: 400;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .descriptiontabletop-4aHpBM {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-title-QfQOco {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-K7x1SI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-title-text-K7x1SI {
  width: 258px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-title-rgIfmY {
  left: 60px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-pfNsxd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-title-text-pfNsxd {
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-guide-title-uqC4tA {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-bYMn7V {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .table-title-text-bYMn7V {
  width: 38px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-sub_-title-TKtKH8 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .sub-title-IlYh9d {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-title-area-TKtKH8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-tabc2-c_-common-TKtKH8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .x3rd-depth-2VdWVL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .tab-2VdWVL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicefeaturemaindevicefeaturetoggle .status-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .toggle-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 42px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .buttons-2-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .dropdown-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .toggle-adjust-_-st-Cuc0N5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .lnbtablet_-device-feature-TKtKH8 {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-x4ZA2z {
  background-color: var(--concrete);
  height: 845px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .line-x4ZA2z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .home-net-gui-guidelin-x4ZA2z {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup6 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup6 .web-index-title-reference-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-Qefrsr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-x1iOAw {
  width: 72px;
}

.stackedgroup6 .group-zm0cTg {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-vqP8b5 {
  bottom: 0px;
}

.stackedgroup6 .empty-xo3Tn7 {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-t48ocJ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-hlUiDl {
  width: 81px;
}

.stackedgroup6 .group-copy-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-gUs2DO {
  bottom: 0px;
}

.stackedgroup6 .empty-lyCcoW {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-jMaMVw {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-B5KpMp {
  width: 136px;
}

.stackedgroup6 .group-copy-2-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-copy-FWSGoV {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup6 .line-copy-2-FWSGoV {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup6 .empty-copy-2-FWSGoV {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-73Nh0h {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-f8lOtL {
  width: 50px;
}

.stackedgroup6 .web-index-contents2dpeth-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-3R3dob {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-CL7Hfy {
  color: #252525;
  width: 67px;
}

.stackedgroup6 .button-dVHHIt {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-dFLwwV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-hPPxet {
  color: #252525;
  width: 123px;
}

.stackedgroup6 .button-s8wLxs {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-M42b49 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .web-expanded-c2XArd {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup6 .button-kbpSSq {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup6 .x1-depth-title-c2XArd {
  color: #3695dd;
  width: 106px;
}

.stackedgroup6 .web-index-contents2dpeth-copy-11-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-5zo7ee {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-MPUxA5 {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup6 .web-index-contents2dpeth-copy-9-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-Qs2H13 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-xQdZAi {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup6 .web-index-contents2dpeth-copy-4-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-nRZUYd {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-Q2axjb {
  color: #252525;
  width: 100px;
}

.stackedgroup6 .button-C15sq5 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-5-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-YbApMe {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-dlDdzE {
  color: #252525;
  width: 112px;
}

.stackedgroup6 .button-MxX8Hk {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-6-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-6awZwj {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-XGhO7Z {
  color: #252525;
  width: 106px;
}

.stackedgroup6 .button-iDmfiE {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicefeaturemaindevicefeaturetoggle .webgnb-TKtKH8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .rectangle-441oPd {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .background-441oPd {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .index-441oPd {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-select-SrAyq7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-unselect-SrAyq7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .web-index-unelect_main-441oPd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturetoggle .logo-WhXmxO {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup6 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicefeaturemaindevicefeaturetoggle .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}
