/* screen - tabletdevicefeatureintro */

.tabletdevicefeatureintro {
  background-color: var(--white);
  height: 1238px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeatureintro .group-6Uzxmf {
  background-color: transparent;
  height: 373px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 514px;
}

.tabletdevicefeatureintro .lnbtablet_-device-feature-6Uzxmf {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeatureintro .rectangle-3oSyy3 {
  background-color: var(--concrete);
  height: 845px;
  width: 320px;
}

.tabletdevicefeatureintro .line-3oSyy3 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeatureintro .home-net-gui-guidelin-3oSyy3 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jB1zcn {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-SDxNkY {
  width: 72px;
}

.stackedgroup2 .group-EHSxTt {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  bottom: 0px;
}

.stackedgroup2 .empty-ijbXHj {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-eSVtpN {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-xRU6yc {
  width: 81px;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  bottom: 0px;
}

.stackedgroup2 .empty-6Nhabs {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-WVVLw6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-s5zU3L {
  width: 136px;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-copy-NA9zcN {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-2-NA9zcN {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-copy-2-NA9zcN {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-024gcf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-R2QxRW {
  width: 50px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jDGOcL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-DUfan6 {
  color: #252525;
  width: 67px;
}

.stackedgroup2 .button-bTuaPn {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-KU2Pod {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-lzsewO {
  color: #252525;
  width: 123px;
}

.stackedgroup2 .button-hitnix {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-tF2mwu {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-expanded-rIEwp3 {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup2 .button-rB6ubT {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup2 .x1-depth-title-rIEwp3 {
  color: #3695dd;
  width: 106px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-11-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-6nALEx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-9-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-DBGLDT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-4-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-x83ktd {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-Pd66Wl {
  color: #252525;
  width: 100px;
}

.stackedgroup2 .button-hRXje1 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-5-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-xH7yi1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-oEMUpY {
  color: #252525;
  width: 112px;
}

.stackedgroup2 .button-344CmJ {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-6-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-ItG2x0 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-OnxPAH {
  color: #252525;
  width: 106px;
}

.stackedgroup2 .button-azxxQd {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicefeatureintro .webgnb-6Uzxmf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeatureintro .rectangle-xPEm53 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicefeatureintro .background-xPEm53 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeatureintro .index-xPEm53 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeatureintro .web-index-select-AQXDLr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeatureintro .web-index-unselect-AQXDLr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeatureintro .web-index-unelect_main-xPEm53 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeatureintro .logo-lJ79Jc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup2 .x2-death-title {
  background-color: transparent;
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
