/* screen - tabletdevicefeaturecapabilities */

.tabletdevicefeaturecapabilities {
  background-color: var(--white);
  height: 1238px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .group-RabJpx {
  background-color: transparent;
  height: 692px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletdevicefeaturecapabilities .group-5-RabJpx {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .group-2-qRtJ5N {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .rectangle-ic3qH7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicefeaturecapabilities .contents-ic3qH7 {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-eAdHdU {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturecapabilities .rectangle-9UD8mW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicefeaturecapabilities .contents-9UD8mW {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletdevicefeaturecapabilities .rectangle-wX25r7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicefeaturecapabilities .contents-wX25r7 {
  color: var(--lochmara);
  font-weight: 400;
  text-decoration: underline;
  width: 328px;
}

.tabletdevicefeaturecapabilities .group-2-copy-qRtJ5N {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .rectangle-gyvgxh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicefeaturecapabilities .contents-gyvgxh {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-Osp5Jl {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturecapabilities .rectangle-kYoQpG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicefeaturecapabilities .contents-kYoQpG {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletdevicefeaturecapabilities .rectangle-J0At2L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicefeaturecapabilities .contents-J0At2L {
  color: var(--black);
  font-weight: 400;
  width: 328px;
}

.tabletdevicefeaturecapabilities .descriptiontabletop-qRtJ5N {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .table-guide-title-zEh21z {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturecapabilities .rectangle-47GaTB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicefeaturecapabilities .table-title-text-47GaTB {
  width: 258px;
}

.tabletdevicefeaturecapabilities .table-guide-title-7ocxxJ {
  left: 60px;
  width: 340px;
}

.tabletdevicefeaturecapabilities .rectangle-Ejae5K {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicefeaturecapabilities .table-title-text-Ejae5K {
  width: 328px;
}

.tabletdevicefeaturecapabilities .table-guide-title-VAgpLk {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .rectangle-DYnBxM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicefeaturecapabilities .table-title-text-DYnBxM {
  width: 38px;
}

.tabletdevicefeaturecapabilities .web-sub_-title-RabJpx {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicefeaturecapabilities .sub-title-M9dLxM {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicefeaturecapabilities .web-title-area-RabJpx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .web-tabc2-c_-common-RabJpx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .x3rd-depth-isYCy5 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicefeaturecapabilities .tab-isYCy5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicefeaturecapabilities .card-basic-layout-geSuFL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 107px;
}

.tabletdevicefeaturecapabilities .group-3-copy-RabJpx {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 582px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .styletabletop-Qva8hC {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturecapabilities .table-guide-title-97xVxZ {
  left: 552px;
  width: 128px;
}

.tabletdevicefeaturecapabilities .rectangle-C2JUM7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.tabletdevicefeaturecapabilities .table-title-text-C2JUM7 {
  width: 116px;
}

.tabletdevicefeaturecapabilities .table-guide-title-ac5xpe {
  left: 60px;
  width: 166px;
}

.tabletdevicefeaturecapabilities .rectangle-f3r9lT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.tabletdevicefeaturecapabilities .table-title-text-f3r9lT {
  width: 154px;
}

.tabletdevicefeaturecapabilities .table-guide-title-jqS9QW {
  left: 236px;
  width: 100px;
}

.tabletdevicefeaturecapabilities .rectangle-ZAnWW9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 100px;
}

.tabletdevicefeaturecapabilities .table-title-text-ZAnWW9 {
  width: 88px;
}

.tabletdevicefeaturecapabilities .table-guide-title-x2Uxaf {
  left: 346px;
  width: 196px;
}

.tabletdevicefeaturecapabilities .rectangle-YjM9EU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 196px;
}

.tabletdevicefeaturecapabilities .table-title-text-YjM9EU {
  width: 184px;
}

.tabletdevicefeaturecapabilities .table-guide-title-Rlv1u2 {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .rectangle-Atln0a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicefeaturecapabilities .table-title-text-Atln0a {
  width: 38px;
}

.tabletdevicefeaturecapabilities .styletable1line_-color-Qva8hC {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 681px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-Uos1R6 {
  left: 552px;
  width: 129px;
}

.tabletdevicefeaturecapabilities .rectangle-WZQlGC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.tabletdevicefeaturecapabilities .contents-WZQlGC {
  color: var(--black);
  font-weight: 400;
  width: 117px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-R528RJ {
  left: 60px;
  width: 166px;
}

.tabletdevicefeaturecapabilities .rectangle-58LmYJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.tabletdevicefeaturecapabilities .contents-58LmYJ {
  color: var(--black);
  font-weight: 400;
  width: 154px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-BoO9aH {
  left: 236px;
  width: 100px;
}

.tabletdevicefeaturecapabilities .rectangle-YLLZYW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.tabletdevicefeaturecapabilities .contents-YLLZYW {
  color: var(--black);
  font-weight: 400;
  width: 88px;
}

.tabletdevicefeaturecapabilities .table-guide-text2line-Uos1R6 {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.tabletdevicefeaturecapabilities .rectangle-amfNYR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.tabletdevicefeaturecapabilities .contents-amfNYR {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.tabletdevicefeaturecapabilities .contents-copy-amfNYR {
  background-color: transparent;
  color: #545454cc;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-Mv8k52 {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .rectangle-WV362i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicefeaturecapabilities .contents-WV362i {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletdevicefeaturecapabilities .lnbtablet_-device-feature-RabJpx {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturecapabilities .rectangle-UilIRG {
  background-color: var(--concrete);
  height: 845px;
  width: 320px;
}

.tabletdevicefeaturecapabilities .line-UilIRG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeaturecapabilities .home-net-gui-guidelin-UilIRG {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup5 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup5 .web-index-title-reference-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-QaHoAx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-pvklYx {
  width: 72px;
}

.stackedgroup5 .group-wmt0eg {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-oWFIFb {
  bottom: 0px;
}

.stackedgroup5 .empty-ZrUYTL {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-JuHGXu {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-SRtJh4 {
  width: 81px;
}

.stackedgroup5 .group-copy-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-b6EtH8 {
  bottom: 0px;
}

.stackedgroup5 .empty-BGO3dO {
  top: 0px;
}

.stackedgroup5 .web-index-title-reference-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-uOpxGi {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-cSubs2 {
  width: 136px;
}

.stackedgroup5 .group-copy-2-wmt0eg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .empty-copy-l4D98k {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup5 .line-copy-2-l4D98k {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup5 .empty-copy-2-l4D98k {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .web-index-title-reference-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-dgzTxP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup5 .title-BEJBiC {
  width: 50px;
}

.stackedgroup5 .web-index-contents2dpeth-copy-3-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-8NIBX1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-stBpnO {
  color: #252525;
  width: 67px;
}

.stackedgroup5 .button-69smRA {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-2-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-fxQIf8 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-i8TeqQ {
  color: #252525;
  width: 123px;
}

.stackedgroup5 .button-IDNiv4 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-m0bq0Z {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .web-expanded-BxUxb8 {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup5 .button-JCvbLD {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup5 .x1-depth-title-BxUxb8 {
  color: #3695dd;
  width: 106px;
}

.stackedgroup5 .web-index-contents2dpeth-copy-11-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-R1xO0W {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-JaW47O {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup5 .web-index-contents2dpeth-copy-9-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-jpnGCb {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x2-death-title-OA2BWx {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup5 .web-index-contents2dpeth-copy-4-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-vjdxOx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-dUCZxc {
  color: #252525;
  width: 100px;
}

.stackedgroup5 .button-Ax0HEs {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-5-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-IkKHyB {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-gxXYAx {
  color: #252525;
  width: 112px;
}

.stackedgroup5 .button-Z6OslN {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup5 .web-index-contents2dpeth-copy-6-wmt0eg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup5 .group-zgJHYz {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup5 .x1-depth-title-fXb2x2 {
  color: #252525;
  width: 106px;
}

.stackedgroup5 .button-1qR9BY {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicefeaturecapabilities .webgnb-RabJpx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .rectangle-NjvBRP {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .background-NjvBRP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturecapabilities .index-NjvBRP {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeaturecapabilities .web-index-select-QwSmNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeaturecapabilities .web-index-unselect-QwSmNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeaturecapabilities .web-index-unelect_main-NjvBRP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturecapabilities .logo-sW0vlN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup5 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicefeaturecapabilities .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.tabletdevicefeaturecapabilities .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletdevicefeaturecapabilities .table-guide-text2line_m {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
