/* screen - tabletdevicefeaturemaindevicefeaturedropdown */

.tabletdevicefeaturemaindevicefeaturedropdown {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .group-3-w3cRcf {
  background-color: transparent;
  height: 169px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .group-5-w3cRcf {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .group-2-3j9rIX {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-text1line-lkQvTq {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-hxio6M {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .contents-hxio6M {
  color: var(--black);
  font-weight: 400;
  left: 6px;
  top: 11px;
  width: 38px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-text1line-SMMVaZ {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-bWjRNn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .contents-bWjRNn {
  color: var(--science-blue);
  font-weight: 600;
  left: 6px;
  top: 11px;
  width: 258px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-text2line_m-lkQvTq {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-UKasJU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .group-UKasJU {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .title-HAyJog {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .contents-HAyJog {
  color: var(--lochmara);
  font-weight: 400;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .descriptiontabletop-3j9rIX {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-title-07Q8o3 {
  left: 410px;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-GNcCkp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-title-text-GNcCkp {
  width: 258px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-title-jILJ5l {
  left: 60px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-qXwZdZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-title-text-qXwZdZ {
  width: 328px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-guide-title-zFwCMW {
  left: 0px;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-CvbNjD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .table-title-text-CvbNjD {
  width: 38px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-sub_-title-w3cRcf {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .sub-title-a8ap1p {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-title-area-w3cRcf {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-tabc2-c_-common-w3cRcf {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .x3rd-depth-X1XX9X {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .tab-X1XX9X {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicefeaturemaindevicefeaturedropdown .status-rTTibd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .toggle-rTTibd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .buttons-2-rTTibd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .dropdown-rTTibd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .toggle-adjust-_-st-rTTibd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .lnbtablet_-device-feature-w3cRcf {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-4J05MI {
  background-color: var(--concrete);
  height: 845px;
  width: 320px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .line-4J05MI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .home-net-gui-guidelin-4J05MI {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup3 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup3 .web-index-title-reference-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-7sxMbp {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup3 .title-hOYLxc {
  width: 72px;
}

.stackedgroup3 .group-xPfwq5 {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup3 .empty-gx4Nuh {
  bottom: 0px;
}

.stackedgroup3 .empty-JQbtTE {
  top: 0px;
}

.stackedgroup3 .web-index-title-reference-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-WRFupc {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup3 .title-IYBue2 {
  width: 81px;
}

.stackedgroup3 .group-copy-xPfwq5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .empty-ij8e4x {
  bottom: 0px;
}

.stackedgroup3 .empty-v3nqnP {
  top: 0px;
}

.stackedgroup3 .web-index-title-reference-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-GiQSnV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup3 .title-BLYL4x {
  width: 136px;
}

.stackedgroup3 .group-copy-2-xPfwq5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .empty-copy-7pvXkM {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup3 .line-copy-2-7pvXkM {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup3 .empty-copy-2-7pvXkM {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .web-index-title-reference-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-0mEmIV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup3 .title-4r9bU4 {
  width: 50px;
}

.stackedgroup3 .web-index-contents2dpeth-copy-3-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-fBib1E {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x1-depth-title-8UOHaL {
  color: #252525;
  width: 67px;
}

.stackedgroup3 .button-kfn79D {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-2-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-FRXYyb {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x1-depth-title-gYTZ4R {
  color: #252525;
  width: 123px;
}

.stackedgroup3 .button-KThjTl {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-K1ehpH {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .web-expanded-BzcnJK {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup3 .button-VNjl12 {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup3 .x1-depth-title-BzcnJK {
  color: #3695dd;
  width: 106px;
}

.stackedgroup3 .web-index-contents2dpeth-copy-11-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-ksD6au {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x2-death-title-8X9Vxp {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup3 .web-index-contents2dpeth-copy-9-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-u7g7xu {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x2-death-title-EeO05t {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup3 .web-index-contents2dpeth-copy-4-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-1of6rl {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x1-depth-title-CxvI0q {
  color: #252525;
  width: 100px;
}

.stackedgroup3 .button-jcxAd1 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-5-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-mljz6h {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x1-depth-title-3ZisGK {
  color: #252525;
  width: 112px;
}

.stackedgroup3 .button-bQI517 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup3 .web-index-contents2dpeth-copy-6-xPfwq5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup3 .group-x1oNms {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup3 .x1-depth-title-EXYI9Y {
  color: #252525;
  width: 106px;
}

.stackedgroup3 .button-UhdN8O {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicefeaturemaindevicefeaturedropdown .webgnb-w3cRcf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .rectangle-8CUv7Q {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .background-8CUv7Q {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .index-8CUv7Q {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-index-select-oLp6GG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-index-unselect-oLp6GG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .web-index-unelect_main-8CUv7Q {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletdevicefeaturemaindevicefeaturedropdown .logo-Ys1htW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.stackedgroup3 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicefeaturemaindevicefeaturedropdown .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}
