/* screen - tabletbasiccomponentscard */

.tabletbasiccomponentscard {
  background-color: var(--white);
  height: 3466px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentscard .group-18-zw5Rpw {
  background-color: transparent;
  height: 714px;
  left: 420px;
  position: absolute;
  top: 376px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-10-bIN1nx {
  background-color: transparent;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-17-bIN1nx {
  background-color: transparent;
  height: 140px;
  left: 500px;
  position: absolute;
  top: 574px;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-title-SKkxxk {
  position: absolute;
}

.tabletbasiccomponentscard .rectangle-p9hRKM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-text2line-SKkxxk {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 400px;
}

.tabletbasiccomponentscard .rectangle-GsQx4H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 400px;
}

.tabletbasiccomponentscard .group-16-zw5Rpw {
  background-color: transparent;
  height: 714px;
  left: 420px;
  position: absolute;
  top: 1240px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-8-QsmfPU {
  background-color: transparent;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-15-QsmfPU {
  background-color: transparent;
  height: 140px;
  left: 500px;
  position: absolute;
  top: 574px;
  width: 400px;
}

.tabletbasiccomponentscard .descriptiontabletop-copy-KyJ31f {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-title-zWIFvk {
  position: relative;
}

.tabletbasiccomponentscard .rectangle-Ry34EM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-text2line-copy-KyJ31f {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 400px;
}

.tabletbasiccomponentscard .rectangle-KIRCQX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 400px;
}

.tabletbasiccomponentscard .group-14-zw5Rpw {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2104px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-6-2lM04T {
  background-color: transparent;
  height: 506px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-13-2lM04T {
  background-color: transparent;
  height: 140px;
  left: 740px;
  position: absolute;
  top: 366px;
  width: 400px;
}

.tabletbasiccomponentscard .descriptiontabletop-copy-2-4kKxfx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-title-u0d4Ix {
  position: relative;
}

.tabletbasiccomponentscard .rectangle-UZxJZT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-text2line-copy-2-4kKxfx {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 400px;
}

.tabletbasiccomponentscard .rectangle-qDTqsr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 400px;
}

.tabletbasiccomponentscard .group-12-zw5Rpw {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2760px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-5-k5snsK {
  background-color: transparent;
  height: 506px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletbasiccomponentscard .group-11-k5snsK {
  background-color: transparent;
  height: 140px;
  left: 740px;
  position: absolute;
  top: 366px;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-title-JCwox5 {
  position: absolute;
}

.tabletbasiccomponentscard .rectangle-dKSDYo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 400px;
}

.tabletbasiccomponentscard .table-guide-text2line-copy-3-JCwox5 {
  background-color: transparent;
  height: 73px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 400px;
}

.tabletbasiccomponentscard .rectangle-Yqtmnx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 400px;
}

.tabletbasiccomponentscard .web-sub_-title-zw5Rpw {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletbasiccomponentscard .sub-title-WWPI4X {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletbasiccomponentscard .srceen-comments-comment-copy-zw5Rpw {
  background-color: transparent;
  height: 34px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 288px;
}

.tabletbasiccomponentscard .web-title-area-zw5Rpw {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentscard .web-tabc2-c_-overview-zw5Rpw {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentscard .x3rd-depth-2mav6k {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentscard .tab-2mav6k {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentscard .card-bg-JOn5Yq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 50px;
}

.tabletbasiccomponentscard .lnb-service-feature-zw5Rpw {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentscard .rectangle-qczOOV {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentscard .line-qczOOV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentscard .home-net-gui-guidelin-qczOOV {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup4 .web-index-title-reference-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-RfN8gY {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup4 .empty-Pulfru {
  bottom: 0px;
}

.stackedgroup4 .empty-Bt6eWj {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-r1utqI {
  bottom: 0px;
}

.stackedgroup4 .empty-NBNy5e {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-copy-2-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-copy-YUNPyn {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup4 .line-copy-2-YUNPyn {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup4 .empty-copy-2-YUNPyn {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-8-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-7-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-9-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-10-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-11-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-4-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-KmOZO1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup4 .x1-depth-title-L6xLMA {
  width: 100px;
}

.stackedgroup4 .web-index-contents2dpeth-copy-5-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-6-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-geVBLX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup4 .x1-depth-title-DowPg5 {
  width: 106px;
}

.tabletbasiccomponentscard .webgnb-zw5Rpw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentscard .rectangle-xEGVzZ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentscard .background-xEGVzZ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentscard .index-xEGVzZ {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentscard .web-index-select-5KOsoI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentscard .web-index-unselect-5KOsoI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentscard .web-index-unelect_main-xEGVzZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentscard .logo-KpDvqr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentscard .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  width: 388px;
}

.tabletbasiccomponentscard .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 53px;
  white-space: nowrap;
  width: 388px;
}

.tabletbasiccomponentscard .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletbasiccomponentscard .table-guide-title {
  background-color: transparent;
  height: 38px;
  left: 0px;
  top: 0px;
  width: 400px;
}

.tabletbasiccomponentscard .table-title-text {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 388px;
}
