/* screen - tabletbasiccomponentstab */

.tabletbasiccomponentstab {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentstab .group-4-pdK4h4 {
  background-color: transparent;
  height: 194px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.tabletbasiccomponentstab .group-jSodpc {
  height: 88px;
  left: 0px;
  top: 105px;
  width: 440px;
}

.tabletbasiccomponentstab .table-guide-title-copy-8-jSodpc {
  background-color: transparent;
  height: 56px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 670px;
}

.tabletbasiccomponentstab .group-3-pdK4h4 {
  background-color: transparent;
  height: 209px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletbasiccomponentstab .group-14-2vFziH {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletbasiccomponentstab .table-guide-text1line-06ihPX {
  height: 31px;
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentstab .rectangle-HXO1kJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletbasiccomponentstab .contents-HXO1kJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-06ihPX {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .rectangle-r0GTT9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletbasiccomponentstab .group-r0GTT9 {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletbasiccomponentstab .title-32ntWf {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.tabletbasiccomponentstab .contents-r0GTT9 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.tabletbasiccomponentstab .table-guide-text1line-kxx1dx {
  height: 51px;
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentstab .rectangle-QfTQOC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletbasiccomponentstab .contents-QfTQOC {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  top: 11px;
  width: 258px;
}

.tabletbasiccomponentstab .group-2-2vFziH {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.tabletbasiccomponentstab .table-guide-text1line-copy-8-5k8325 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletbasiccomponentstab .rectangle-yekBx1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletbasiccomponentstab .contents-yekBx1 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-copy-5k8325 {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .rectangle-nqwXea {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletbasiccomponentstab .contents-nqwXea {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletbasiccomponentstab .table-guide-text1line_mint-copy-2-5k8325 {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.tabletbasiccomponentstab .rectangle-fGgtii {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletbasiccomponentstab .contents-fGgtii {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletbasiccomponentstab .table-guide-text1line-copy-9-5k8325 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletbasiccomponentstab .rectangle-66q9wF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletbasiccomponentstab .contents-66q9wF {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletbasiccomponentstab .table-guide-title-2vFziH {
  left: 0px;
  width: 680px;
}

.tabletbasiccomponentstab .table-guide-title-7emtr7 {
  left: 410px;
  width: 270px;
}

.tabletbasiccomponentstab .rectangle-d01hfJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletbasiccomponentstab .table-title-text-d01hfJ {
  width: 258px;
}

.tabletbasiccomponentstab .table-guide-title-tTM1Hj {
  left: 60px;
  width: 340px;
}

.tabletbasiccomponentstab .rectangle-e28rF9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletbasiccomponentstab .table-title-text-e28rF9 {
  width: 328px;
}

.tabletbasiccomponentstab .table-guide-title-4j31zv {
  left: 0px;
  width: 50px;
}

.tabletbasiccomponentstab .rectangle-PN8ga6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletbasiccomponentstab .table-title-text-PN8ga6 {
  width: 38px;
}

.tabletbasiccomponentstab .web-sub_-title-pdK4h4 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletbasiccomponentstab .sub-title-2p0quX {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletbasiccomponentstab .web-title-area-pdK4h4 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletbasiccomponentstab .web-tabc2-c_-overview-pdK4h4 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletbasiccomponentstab .x3rd-depth-Q5IINL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletbasiccomponentstab .tab-Q5IINL {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletbasiccomponentstab .tab-63TkCN {
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 22px;
}

.tabletbasiccomponentstab .lnb-service-feature-pdK4h4 {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentstab .rectangle-7DGfnV {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentstab .line-7DGfnV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentstab .home-net-gui-guidelin-7DGfnV {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup10 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup10 .web-index-title-reference-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-E2POdD {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup10 .empty-4Renr7 {
  bottom: 0px;
}

.stackedgroup10 .empty-sgeOVG {
  top: 0px;
}

.stackedgroup10 .web-index-title-reference-copy-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-copy-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-RUqUKT {
  bottom: 0px;
}

.stackedgroup10 .empty-NGgm9h {
  top: 0px;
}

.stackedgroup10 .web-index-title-reference-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-copy-2-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-copy-MbDBcI {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup10 .line-copy-2-MbDBcI {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup10 .empty-copy-2-MbDBcI {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup10 .web-index-title-reference-copy-3-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-3-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-8-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-7-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-9-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-10-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-11-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-4-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-MD8kyD {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup10 .x1-depth-title-lwUePx {
  width: 100px;
}

.stackedgroup10 .web-index-contents2dpeth-copy-5-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents2dpeth-copy-6-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-AuojTP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup10 .x1-depth-title-WCELYj {
  width: 106px;
}

.tabletbasiccomponentstab .webgnb-pdK4h4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentstab .rectangle-j9Dul6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentstab .background-j9Dul6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentstab .index-j9Dul6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentstab .web-index-select-ZMf33S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentstab .web-index-unselect-ZMf33S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentstab .web-index-unelect_main-j9Dul6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .logo-YCsXaD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletbasiccomponentstab .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletbasiccomponentstab .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletbasiccomponentstab .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletbasiccomponentstab .tab {
  background-color: transparent;
  height: 17px;
}

.tabletbasiccomponentstab .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.tabletbasiccomponentstab .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}

.tabletbasiccomponentstab .table-title-text {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
}
