/* screen - tabletdeviceplugingasvalvecontrollertypefeature */

.tabletdeviceplugingasvalvecontrollertypefeature {
  background-color: var(--white);
  height: 2328px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-6-gnNPrk {
  background-color: transparent;
  height: 1753px;
  left: 420px;
  position: absolute;
  top: 375px;
  width: 1400px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-5-C6g06v {
  background-color: transparent;
  height: 962px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-4-72YUaa {
  background-color: transparent;
  height: 856px;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 562px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .screen-device-plugin-ZHmXth {
  background-color: transparent;
  height: 856px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 535px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .rectangle-7EU5vS {
  background-color: var(--concrete);
  height: 856px;
  width: 535px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-app-bar2lines-7EU5vS {
  background-color: transparent;
  height: 30px;
  left: 19px;
  position: absolute;
  top: 30px;
  width: 494px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-icon-more-5oVClT {
  background-color: transparent;
  height: 12px;
  left: 491px;
  position: absolute;
  top: 3px;
  width: 3px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .combined-shape-scFgYn {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 3px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .sub-title-5oVClT {
  background-color: transparent;
  color: #636363;
  font-family: var(--font-family-samsungonekorean-700);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-icon-back-5oVClT {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .fill-1-HQdBZY {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .service-title-5oVClT {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-horizontal-status-bar-7EU5vS {
  background-color: transparent;
  height: 7px;
  left: 18px;
  position: absolute;
  top: 5px;
  width: 10px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .icon-signal-Iu5DOq {
  background-color: transparent;
  height: 7px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 10px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-feat-7EU5vS {
  height: 126px;
  left: 14px;
  top: 320px;
  width: 244px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-card-white-bg-Xgz0Cd {
  height: 126px;
  position: absolute;
  width: 244px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bg-xSK54x {
  background-color: var(--baby-powder);
  height: 126px;
  width: 244px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .contents-text-xSK54x {
  height: 125px;
  width: 233px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .feature-title-Xgz0Cd {
  left: 37px;
  width: 194px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .icicon-Xgz0Cd {
  background-color: transparent;
  height: 15px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 15px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .oval-nuywkP {
  height: 15px;
  width: 15px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .ic-nuywkP {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-samsungonekorean-600);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-feat-Plb96C {
  height: 150px;
  left: 273px;
  top: 200px;
  width: 245px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-card-white-bg-B2ePkj {
  height: 150px;
  position: absolute;
  width: 245px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bg-xBx7MI {
  background-color: var(--baby-powder);
  height: 150px;
  width: 245px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .contents-text-xBx7MI {
  height: 149px;
  width: 235px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-serv-B2ePkj {
  background-color: transparent;
  height: 68px;
  left: 61px;
  position: absolute;
  top: 41px;
  width: 123px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .status-15-8ucbpT {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 37px;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-button-round_-icon-8ucbpT {
  background-color: transparent;
  height: 29px;
  left: 44px;
  position: absolute;
  top: 0px;
  width: 35px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-9WxUPH {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 35px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .triangle-qDkRLa {
  background-color: transparent;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 35px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .x-qDkRLa {
  background-color: transparent;
  color: #00000080;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .title-B2ePkj {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-samsungonekorean-600);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-feat-lzubfJ {
  height: 106px;
  left: 15px;
  top: 200px;
  width: 243px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-card-white-bg-squVrc {
  height: 106px;
  position: relative;
  width: 243px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bg-tt3Cug {
  background-color: var(--baby-powder);
  height: 106px;
  width: 243px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .contents-text-tt3Cug {
  height: 105px;
  width: 232px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bottom-tab-controls-7EU5vS {
  background-color: transparent;
  height: 19px;
  left: 117px;
  position: absolute;
  top: 827px;
  width: 297px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .history-QBK5xY {
  background-color: transparent;
  color: #000000d9;
  font-family: var(--font-family-helvetica);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 253px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .controls-QBK5xY {
  background-color: transparent;
  color: #0072de;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-feat-vzWooR {
  height: 102px;
  left: 15px;
  top: 84px;
  width: 505px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bg-xfUAhS {
  background-color: #b2deff;
  height: 102px;
  width: 505px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-button-power_on-xfUAhS {
  background-color: transparent;
  height: 30px;
  left: 459px;
  position: absolute;
  top: 60px;
  width: 30px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-butt-ruGMpi {
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .oval-X2eskk {
  height: 30px;
  width: 30px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .button-X2eskk {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
  height: 30px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .path-ruGMpi {
  height: 6px;
  left: 14px;
  top: 8px;
  width: 1px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .path-XojzAR {
  height: 13px;
  left: 8px;
  top: 9px;
  width: 13px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .status-xfUAhS {
  background-color: transparent;
  color: var(--shark);
  font-family: var(--font-family-samsungonekorean-700);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 61px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .feature-title-xfUAhS {
  left: 15px;
  width: 476px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-ZHmXth {
  background-color: transparent;
  height: 733px;
  left: 545px;
  position: absolute;
  top: 69px;
  width: 17px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .table-guide-title-72YUaa {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-3-C6g06v {
  background-color: transparent;
  height: 641px;
  left: 0px;
  position: absolute;
  top: 1112px;
  width: 1400px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-2-hxlMo7 {
  background-color: transparent;
  height: 535px;
  left: 0px;
  position: absolute;
  top: 106px;
  width: 883px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .table-guide-title-copy-hxlMo7 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1400px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-sub_-title_w-description-gnNPrk {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-title-area-gnNPrk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .webtabtablet_device-plugin_gas_valve-gnNPrk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: absolute;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .x3rd-depth-C8JW6H {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .tab-S7yMc1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletdeviceplugingasvalvecontrollertypefeature .status-type_-feature-1TpRh5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 117px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .controller-type_-feat-1TpRh5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 149px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .lnbtablet_device-plugin-gnNPrk {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .rectangle-KorcjI {
  background-color: var(--concrete);
  height: 1357px;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .stacked-group-KorcjI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-title-common-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-mC0tvK {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-vFLxzO {
  top: 21px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-qxGZKx {
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-iSKxG6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-nejTM1 {
  top: 21px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-hUu24q {
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .group-copy-mC0tvK {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-copy-sOqx6g {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .line-copy-2-sOqx6g {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .empty-copy-2-sOqx6g {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-title-reference-copy-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents1dpeth_open_selected-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-2-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-3-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-4-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-5-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-6-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-7-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-8-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-9-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-10-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-11-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-12-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents2dpeth-copy-13-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents1dpeth_close-copy-5-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-contents1dpeth_close-copy-3-mC0tvK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .line-KorcjI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .home-net-ui-guideline-KorcjI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .webgnb-gnNPrk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .rectangle-X8Q2ys {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .background-X8Q2ys {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .index-X8Q2ys {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-select-TTpYO7 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-unselect-TTpYO7 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .web-index-unelect_main-X8Q2ys {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-card-white-bg {
  background-color: transparent;
  left: 0px;
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .basic-component-feat {
  background-color: transparent;
  position: absolute;
}

.tabletdeviceplugingasvalvecontrollertypefeature .bg {
  border: 0.5px solid;
  border-color: var(--quill-gray);
  border-radius: 19.5px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .contents-text {
  background-color: transparent;
  font-weight: 300;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .feature-title {
  background-color: transparent;
  color: #909090;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  letter-spacing: -0.23px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 5px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .oval {
  background-color: transparent;
  left: 0px;
  opacity: 0.4;
  position: absolute;
  top: 0px;
}

.tabletdeviceplugingasvalvecontrollertypefeature .path {
  background-color: transparent;
  position: absolute;
}
