/* screen - basiccomponentlistmultiple */

.basiccomponentlistmultiple {
  background-color: var(--white);
  height: 1386px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistmultiple .group-6-o8MEqB {
  background-color: transparent;
  height: 844px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.basiccomponentlistmultiple .group-o8MEqB {
  background-color: transparent;
  height: 352px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentlistmultiple .group-2-copy-2-CC5mxK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tableguidetext1line189 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line189 .rectangle-5BgNuX {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line189 .contents-5BgNuX {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line190 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line190 .rectangle-HNgJdb {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line190 .contents-HNgJdb {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem76 {
  background-color: transparent;
  cursor: pointer;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem76 .rectangle-6vn81A {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem76 .contents-6vn81A {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistmultiple .group-2-copy-3-CC5mxK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tableguidetext1line191 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line191 .rectangle-5Dsozs {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line191 .contents-5Dsozs {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line192 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line192 .rectangle-OsLRKz {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line192 .contents-OsLRKz {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem77 {
  background-color: transparent;
  cursor: pointer;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem77 .rectangle-lBGTJR {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem77 .contents-lBGTJR {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistmultiple .group-2-copy-4-CC5mxK {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.tableguidetext1line193 {
  background-color: transparent;
  height: 36.05%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line193 .rectangle-U2bteF {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line193 .contents-U2bteF {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistmultiple .table-guide-text1line-mtz0D6 {
  height: 75px;
}

.basiccomponentlistmultiple .rectangle-zI0BbW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.basiccomponentlistmultiple .group-zI0BbW {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.basiccomponentlistmultiple .content-aygR1M {
  color: var(--black);
  top: 22px;
}

.basiccomponentlistmultiple .content-i2UKxb {
  color: var(--fuscous-gray);
  top: 44px;
}

.basiccomponentlistmultiple .title-aygR1M {
  height: 20px;
  white-space: nowrap;
}

.tableguidetext2linem78 {
  background-color: transparent;
  height: 36.05%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem78 .rectangle-aQoL7C {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem78 .contents-aQoL7C {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistmultiple .group-2-copy-5-CC5mxK {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 680px;
}

.tableguidetext1line194 {
  background-color: transparent;
  height: 29.25%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line194 .rectangle-0YfV3q {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line194 .contents-0YfV3q {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistmultiple .table-guide-text1line-KkcgkV {
  height: 95px;
}

.basiccomponentlistmultiple .rectangle-zZ4rAx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.basiccomponentlistmultiple .group-zZ4rAx {
  background-color: transparent;
  height: 84px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.basiccomponentlistmultiple .content-an0xiY {
  color: var(--black);
  top: 42px;
}

.basiccomponentlistmultiple .content-TA7Pxv {
  color: var(--fuscous-gray);
  top: 64px;
}

.basiccomponentlistmultiple .title-an0xiY {
  height: 40px;
}

.tableguidetext2linem79 {
  background-color: transparent;
  height: 29.25%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem79 .rectangle-4emLEc {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem79 .contents-4emLEc {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistmultiple .group-3-CC5mxK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistmultiple .table-guide-title-hI9Qio {
  left: 410px;
  width: 270px;
}

.basiccomponentlistmultiple .rectangle-cb3seb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistmultiple .table-title-text-cb3seb {
  width: 258px;
}

.basiccomponentlistmultiple .table-guide-title-bxpjVm {
  left: 60px;
  width: 340px;
}

.basiccomponentlistmultiple .rectangle-AR6G2H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistmultiple .table-title-text-AR6G2H {
  width: 328px;
}

.basiccomponentlistmultiple .table-guide-title-cTmKIL {
  left: 0px;
  width: 50px;
}

.basiccomponentlistmultiple .rectangle-2M4H01 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistmultiple .table-title-text-2M4H01 {
  width: 38px;
}

.basiccomponentlistmultiple .web-sub_-title-o8MEqB {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.basiccomponentlistmultiple .sub-title-Lkn3OF {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentlistmultiple .web-title-area-o8MEqB {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistmultiple .web-tab-service-feature_-basic-layout-o8MEqB {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentlistmultiple .x3rd-depth-8ST9iG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentlistmultiple .tab-8ST9iG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistmultiple .basic-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistmultiple .service-feature-type-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistmultiple .service-feature-type-copy-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistmultiple .service-feature-type-copy-2-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 53px;
}

.basiccomponentlistmultiple .service-feature-type-copy-3-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistmultiple .service-feature-type-copy-5-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 124px;
}

.basiccomponentlistmultiple .service-feature-type-copy-4-7d5w4N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.basiccomponentlistmultiple .lnb-favorite-card-o8MEqB {
  background-color: transparent;
  height: 1581px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .rectangle-7QM5q7 {
  background-color: var(--concrete);
  height: 1581px;
  width: 320px;
}

.basiccomponentlistmultiple .background-7QM5q7 {
  background-color: var(--concrete);
  height: 1039px;
  width: 320px;
}

.basiccomponentlistmultiple .stacked-group-7QM5q7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistmultiple .web-index-title-common-kJAABi {
  margin: 0;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-2-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-xJkRtt {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-O5Cn5q {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-14-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-qRMQRx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-jPwHtu {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-10-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-nWIxJI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-Rz90jd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-6-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-xxUIP0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-nWxJF7 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-11-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-xSVrTK {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-zo9cmx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-j8ZsrQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-ZI8G3f {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-7-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-AKikGv {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-yhIfVx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-4-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-TeEw5f {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-mex4it {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-8-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-hRFBcg {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-f3ykWm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .group-RNTT8E {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-XXQNaF {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-9-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-LMdipy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-RPnQh7 {
  color: var(--curious-blue);
  font-weight: 500;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-5-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-mrRxGI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-vLBoGm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .group-stYaxa {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-k9IqVm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-3-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-xxerKF {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-Drtq1X {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-12-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-1NtdM1 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-ft17E6 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-15-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-kIEVKX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-PUf7ts {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents2dpeth-copy-13-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-JDJTPy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title-bo732u {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistmultiple .web-index-contents1dpeth_open_selected-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-copy-kJAABi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .empty-qRXY29 {
  top: 21px;
}

.basiccomponentlistmultiple .empty-DwAT98 {
  top: 0px;
}

.basiccomponentlistmultiple .web-index-title-common-copy-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .group-kJAABi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .empty-uz9zJ8 {
  top: 21px;
}

.basiccomponentlistmultiple .empty-DAxbkW {
  top: 0px;
}

.basiccomponentlistmultiple .web-index-title-common-AQUP6H {
  margin: 0px 0 0 0;
}

.basiccomponentlistmultiple .group-copy-2-kJAABi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .empty-RGYFxL {
  top: 21px;
}

.basiccomponentlistmultiple .empty-1vWY5o {
  top: 0px;
}

.basiccomponentlistmultiple .web-index-title-common-copy-2-kJAABi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .line-7QM5q7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistmultiple .home-net-gui-guidelin-7QM5q7 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentlistmultiple .webgnb-o8MEqB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistmultiple .rectangle-Sl1xPf {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentlistmultiple .background-Sl1xPf {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentlistmultiple .index-Sl1xPf {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentlistmultiple .web-index-select-tlsBTd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentlistmultiple .web-index-unselect-tlsBTd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistmultiple .web-index-unelect_main-Sl1xPf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponentlistmultiple .logo-haLSxU {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.basiccomponentlistmultiple .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 258px;
}

.basiccomponentlistmultiple .table-guide-text1line {
  background-color: transparent;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistmultiple .table-title-text {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
}

.basiccomponentlistmultiple .title {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 258px;
}

.basiccomponentlistmultiple .web-index-contents1dpeth_close {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .web-index-title-common {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  position: relative;
  width: 320px;
}

.basiccomponentlistmultiple .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
