/* screen - basiccomponentlistservicefeature */

.basiccomponentlistservicefeature {
  background-color: var(--white);
  height: 7640px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistservicefeature .group-55-asVVed {
  background-color: transparent;
  height: 628px;
  left: 320px;
  position: absolute;
  top: 2162px;
  width: 1600px;
}

.basiccomponentlistservicefeature .group-37-10HJBg {
  background-color: transparent;
  height: 570px;
  left: 98px;
  position: absolute;
  top: 58px;
  width: 671px;
}

.basiccomponentlistservicefeature .web-sub_-title-copy-2-10HJBg {
  top: 1px;
}

.basiccomponentlistservicefeature .group-10HJBg {
  background-color: transparent;
  height: 93px;
  left: 820px;
  position: absolute;
  top: 59px;
  width: 680px;
}

.tableguidetext1line22 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line22 .rectangle-yTHxpt {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line22 .contents-yTHxpt {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line112 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line112 .rectangle-Qj8ruJ {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line112 .contents-Qj8ruJ {
  background-color: transparent;
  color: #0074d4;
  font-family: 'SamsungOneKorean-600', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem8 {
  background-color: transparent;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem8 .rectangle-hcqBWF {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem8 .contents-hcqBWF {
  background-color: transparent;
  color: #00b0a6;
  font-family: 'SamsungOneKorean-600', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-fCBgNz {
  left: 410px;
  width: 270px;
}

.basiccomponentlistservicefeature .rectangle-Ox2Wkx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistservicefeature .table-title-text-Ox2Wkx {
  width: 258px;
}

.basiccomponentlistservicefeature .table-guide-title-CGMYBe {
  left: 60px;
  width: 340px;
}

.basiccomponentlistservicefeature .rectangle-Il9sIm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistservicefeature .table-title-text-Il9sIm {
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-Mk6BX9 {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-MC5gJW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-MC5gJW {
  width: 38px;
}

.basiccomponentlistservicefeature .group-54-asVVed {
  background-color: transparent;
  height: 989px;
  left: 320px;
  position: absolute;
  top: 2989px;
  width: 1600px;
}

.basiccomponentlistservicefeature .group-copy-s3oGed {
  background-color: transparent;
  height: 93px;
  left: 820px;
  position: absolute;
  top: 59px;
  width: 680px;
}

.tableguidetext1line23 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line23 .rectangle-oEMraE {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line23 .contents-oEMraE {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line113 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line113 .rectangle-2KEjGa {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line113 .contents-2KEjGa {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem9 {
  background-color: transparent;
  cursor: pointer;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem9 .rectangle-65smi3 {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem9 .contents-65smi3 {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-TZXxD7 {
  left: 410px;
  width: 270px;
}

.basiccomponentlistservicefeature .rectangle-8djMW1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistservicefeature .table-title-text-8djMW1 {
  width: 258px;
}

.basiccomponentlistservicefeature .table-guide-title-OsPbPH {
  left: 60px;
  width: 340px;
}

.basiccomponentlistservicefeature .rectangle-2GPkOy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistservicefeature .table-title-text-2GPkOy {
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-lO7W6F {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-lUUxRs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-lUUxRs {
  width: 38px;
}

.basiccomponentlistservicefeature .group-38-s3oGed {
  background-color: transparent;
  height: 930px;
  left: 60px;
  position: absolute;
  top: 59px;
  width: 710px;
}

.basiccomponentlistservicefeature .web-sub_-title-copy-s3oGed {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 360px;
}

.basiccomponentlistservicefeature .group-3-copy-2-s3oGed {
  background-color: transparent;
  height: 189px;
  left: 820px;
  position: absolute;
  top: 252px;
  width: 680px;
}

.basiccomponentlistservicefeature .table-guide-title-DvMPBy {
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-ytwRqU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentlistservicefeature .table-title-text-ytwRqU {
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-title-zqq1ph {
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-zX0c4E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentlistservicefeature .table-title-text-zX0c4E {
  width: 154px;
}

.basiccomponentlistservicefeature .rectangle-ZGehRV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentlistservicefeature .table-title-text-ZGehRV {
  width: 94px;
}

.basiccomponentlistservicefeature .rectangle-LRqVgS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentlistservicefeature .table-title-text-LRqVgS {
  width: 178px;
}

.basiccomponentlistservicefeature .table-guide-title-4ARkh5 {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-jxh738 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-jxh738 {
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-mWVyqW {
  top: 56px;
}

.basiccomponentlistservicefeature .table-guide-text1line-49xfr0 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-CzxJrn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-CzxJrn {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-JlVVLQ {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-u23Njn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-u23Njn {
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-CLN51I {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-diTkkd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-diTkkd {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-tyx7xa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .group-tyx7xa {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-pED1Zs {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-7flUM9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-7flUM9 {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-copy-mWVyqW {
  top: 125px;
}

.basiccomponentlistservicefeature .table-guide-text1line-DZ8xjj {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-OsvcSX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-OsvcSX {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-GnnmbJ {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-6Az3fK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-6Az3fK {
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-DUzIL1 {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-GBOEBH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-GBOEBH {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-0Z3Cxx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .contents-0Z3Cxx {
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-nJwuYd {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-4VyOge {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-4VyOge {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .group-57-asVVed {
  background-color: transparent;
  height: 617px;
  left: 320px;
  position: absolute;
  top: 5022px;
  width: 1600px;
}

.basiccomponentlistservicefeature .group-copy-2-2imoTk {
  background-color: transparent;
  height: 160px;
  left: 820px;
  position: absolute;
  top: 59px;
  width: 680px;
}

.tableguidetext1line24 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line24 .rectangle-JfOriG {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line24 .contents-JfOriG {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line114 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line114 .rectangle-inrrCJ {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line114 .contents-inrrCJ {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem10 {
  background-color: transparent;
  cursor: pointer;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem10 .rectangle-cXg6NC {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem10 .contents-cXg6NC {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistservicefeature .group-2-copy-3-yivxgA {
  top: 103px;
}

.tableguidetext1line25 {
  background-color: transparent;
  height: 54.39%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line25 .rectangle-FuqLOF {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line25 .contents-FuqLOF {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line115 {
  background-color: transparent;
  height: 54.39%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line115 .rectangle-Yw6wxo {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line115 .contents-Yw6wxo {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem11 {
  background-color: transparent;
  cursor: pointer;
  height: 89.47%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem11 .rectangle-jeR3T9 {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem11 .contents-jeR3T9 {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-BKvrj5 {
  left: 410px;
  width: 270px;
}

.basiccomponentlistservicefeature .rectangle-xSQsOr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistservicefeature .table-title-text-xSQsOr {
  width: 258px;
}

.basiccomponentlistservicefeature .table-guide-title-UAZDAm {
  left: 60px;
  width: 340px;
}

.basiccomponentlistservicefeature .rectangle-jYxQQ3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistservicefeature .table-title-text-jYxQQ3 {
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-FOZEBl {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-MyYk0k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-MyYk0k {
  width: 38px;
}

.basiccomponentlistservicefeature .group-3-copy-4-2imoTk {
  background-color: transparent;
  height: 120px;
  left: 820px;
  position: absolute;
  top: 319px;
  width: 680px;
}

.basiccomponentlistservicefeature .table-guide-title-9qAo9y {
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-vvWUKI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentlistservicefeature .table-title-text-vvWUKI {
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-title-5v6XYO {
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-hvrx4n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentlistservicefeature .table-title-text-hvrx4n {
  width: 154px;
}

.basiccomponentlistservicefeature .rectangle-JaiPl5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentlistservicefeature .table-title-text-JaiPl5 {
  width: 94px;
}

.basiccomponentlistservicefeature .rectangle-Ga6yfx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentlistservicefeature .table-title-text-Ga6yfx {
  width: 178px;
}

.basiccomponentlistservicefeature .table-guide-title-o24xd1 {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-yjxoXg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-yjxoXg {
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-copy-UNYMs2 {
  top: 56px;
}

.basiccomponentlistservicefeature .table-guide-text1line-lxNNxB {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-ri9FTo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-ri9FTo {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-bw9d9C {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-WzydVs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-WzydVs {
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-4cBhOz {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-gbyp65 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-gbyp65 {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-V3ojeS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .contents-V3ojeS {
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-Ufp8xj {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-mmy9yG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-mmy9yG {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .group-52-2imoTk {
  background-color: transparent;
  height: 559px;
  left: 99px;
  position: absolute;
  top: 58px;
  width: 670px;
}

.basiccomponentlistservicefeature .web-sub_-title-copy-2-2imoTk {
  top: 1px;
}

.basiccomponentlistservicefeature .group-59-asVVed {
  background-color: transparent;
  height: 590px;
  left: 419px;
  position: absolute;
  top: 5788px;
  width: 1401px;
}

.basiccomponentlistservicefeature .group-copy-3-uh0Jyu {
  background-color: transparent;
  height: 113px;
  left: 721px;
  position: absolute;
  top: 1px;
  width: 680px;
}

.basiccomponentlistservicefeature .group-2-copy-3-Y4mxlk {
  top: 56px;
}

.tableguidetext1line26 {
  background-color: transparent;
  height: 54.39%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line26 .rectangle-txMV4J {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line26 .contents-txMV4J {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line116 {
  background-color: transparent;
  height: 54.39%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line116 .rectangle-3u8IPi {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line116 .contents-3u8IPi {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem12 {
  background-color: transparent;
  cursor: pointer;
  height: 89.47%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem12 .rectangle-QJn4TE {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem12 .contents-QJn4TE {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-aOMPqq {
  left: 410px;
  width: 270px;
}

.basiccomponentlistservicefeature .rectangle-ruDKXl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistservicefeature .table-title-text-ruDKXl {
  width: 258px;
}

.basiccomponentlistservicefeature .table-guide-title-GpFtgk {
  left: 60px;
  width: 340px;
}

.basiccomponentlistservicefeature .rectangle-fRsJBJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistservicefeature .table-title-text-fRsJBJ {
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-q1xpwg {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-01HSCf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-01HSCf {
  width: 38px;
}

.basiccomponentlistservicefeature .group-51-uh0Jyu {
  background-color: transparent;
  height: 590px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 671px;
}

.basiccomponentlistservicefeature .group-58-asVVed {
  background-color: transparent;
  height: 913px;
  left: 419px;
  position: absolute;
  top: 6527px;
  width: 1400px;
}

.basiccomponentlistservicefeature .group-copy-4-9SVxFh {
  background-color: transparent;
  height: 160px;
  left: 721px;
  position: absolute;
  top: 1px;
  width: 680px;
}

.basiccomponentlistservicefeature .group-2-copy-3-VkfLx2 {
  top: 56px;
}

.tableguidetext1line27 {
  background-color: transparent;
  height: 54.39%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line27 .rectangle-X8bQzd {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line27 .contents-X8bQzd {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line117 {
  background-color: transparent;
  height: 54.39%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line117 .rectangle-dLOLlA {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line117 .contents-dLOLlA {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem13 {
  background-color: transparent;
  cursor: pointer;
  height: 89.47%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem13 .rectangle-K1dIax {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem13 .contents-K1dIax {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.basiccomponentlistservicefeature .group-2-copy-4-VkfLx2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tableguidetext1line28 {
  background-color: transparent;
  height: 83.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line28 .rectangle-Yf3pmF {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line28 .contents-Yf3pmF {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line118 {
  background-color: transparent;
  height: 83.78%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line118 .rectangle-HJrNRi {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line118 .contents-HJrNRi {
  background-color: transparent;
  color: #0074d4;
  font-family: 'SamsungOneKorean-600', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem14 {
  background-color: transparent;
  height: 83.78%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem14 .rectangle-Otr5nR {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem14 .contents-Otr5nR {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-UAlJaW {
  left: 410px;
  width: 270px;
}

.basiccomponentlistservicefeature .rectangle-tjxTt9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentlistservicefeature .table-title-text-tjxTt9 {
  width: 258px;
}

.basiccomponentlistservicefeature .table-guide-title-uYze99 {
  left: 60px;
  width: 340px;
}

.basiccomponentlistservicefeature .rectangle-TdLrDi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentlistservicefeature .table-title-text-TdLrDi {
  width: 328px;
}

.basiccomponentlistservicefeature .table-guide-title-hB0IWg {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-NG7baf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-NG7baf {
  width: 38px;
}

.basiccomponentlistservicefeature .group-3-copy-5-9SVxFh {
  background-color: transparent;
  height: 120px;
  left: 721px;
  position: absolute;
  top: 261px;
  width: 680px;
}

.basiccomponentlistservicefeature .table-guide-title-QbQIX7 {
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-xF1zAf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentlistservicefeature .table-title-text-xF1zAf {
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-title-1L5BfW {
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-7HIUBj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentlistservicefeature .table-title-text-7HIUBj {
  width: 154px;
}

.basiccomponentlistservicefeature .rectangle-zNG5pQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentlistservicefeature .table-title-text-zNG5pQ {
  width: 94px;
}

.basiccomponentlistservicefeature .rectangle-32kikW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentlistservicefeature .table-title-text-32kikW {
  width: 178px;
}

.basiccomponentlistservicefeature .table-guide-title-7qMSuE {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-ZEHI6p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-ZEHI6p {
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-copy-U9jPJi {
  top: 56px;
}

.basiccomponentlistservicefeature .table-guide-text1line-wXNtK7 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-9NTIYh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-9NTIYh {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-zYLScj {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-mEXlBo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-mEXlBo {
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-dz6q0I {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-hoxrmF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-hoxrmF {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-mPSZUC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .contents-mPSZUC {
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-k60E3K {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-2Myb5e {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-2Myb5e {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .group-53-9SVxFh {
  background-color: transparent;
  height: 913px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 670px;
}

.basiccomponentlistservicefeature .group-25-asVVed {
  background-color: transparent;
  height: 641px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 1378px;
}

.basiccomponentlistservicefeature .group-32-asVVed {
  background-color: transparent;
  height: 781px;
  left: 419px;
  position: absolute;
  top: 1191px;
  width: 670px;
}

.basiccomponentlistservicefeature .group-56-asVVed {
  background-color: transparent;
  height: 646px;
  left: 320px;
  position: absolute;
  top: 4177px;
  width: 1600px;
}

.basiccomponentlistservicefeature .group-3-copy-3-Zj0Lti {
  background-color: transparent;
  height: 189px;
  left: 820px;
  position: absolute;
  top: 58px;
  width: 680px;
}

.basiccomponentlistservicefeature .table-guide-title-q0ODy5 {
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-NmErNb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentlistservicefeature .table-title-text-NmErNb {
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-title-1xxsp2 {
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-cxOQ0S {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentlistservicefeature .table-title-text-cxOQ0S {
  width: 154px;
}

.basiccomponentlistservicefeature .rectangle-8RR7gw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentlistservicefeature .table-title-text-8RR7gw {
  width: 94px;
}

.basiccomponentlistservicefeature .rectangle-nuBCM9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentlistservicefeature .table-title-text-nuBCM9 {
  width: 178px;
}

.basiccomponentlistservicefeature .table-guide-title-kb2mXv {
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-6JGxtU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentlistservicefeature .table-title-text-6JGxtU {
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-JkYcfi {
  top: 130px;
}

.basiccomponentlistservicefeature .table-guide-text1line-NzlVYu {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-fTC1wF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-fTC1wF {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-8fWjZp {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-PVVkpl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-PVVkpl {
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-TR77Zi {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-AnBrfm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-AnBrfm {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-iAP4PL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .group-iAP4PL {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-BwCI6Y {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-kE5vBm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-kE5vBm {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .styletable1line_-color-copy-JkYcfi {
  top: 56px;
}

.basiccomponentlistservicefeature .table-guide-text1line-UUbwXz {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponentlistservicefeature .rectangle-icJZ9j {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentlistservicefeature .contents-icJZ9j {
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.basiccomponentlistservicefeature .table-guide-text1line-ntvikW {
  height: 51px;
  left: 60px;
  width: 166px;
}

.basiccomponentlistservicefeature .rectangle-dhRZHE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentlistservicefeature .contents-dhRZHE {
  height: 40px;
  width: 154px;
}

.basiccomponentlistservicefeature .table-guide-text1line-4uQgkl {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponentlistservicefeature .rectangle-oGc8Bf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentlistservicefeature .contents-oGc8Bf {
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.basiccomponentlistservicefeature .rectangle-x9PqwK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentlistservicefeature .contents-x9PqwK {
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .table-guide-text1line-8UyFnL {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponentlistservicefeature .rectangle-E6t1ly {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentlistservicefeature .contents-E6t1ly {
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentlistservicefeature .group-39-Zj0Lti {
  background-color: transparent;
  height: 588px;
  left: 60px;
  position: absolute;
  top: 58px;
  width: 710px;
}

.basiccomponentlistservicefeature .web-sub_-title-copy-2-Zj0Lti {
  top: 0px;
}

.basiccomponentlistservicefeature .group-60-asVVed {
  background-color: transparent;
  height: 59px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistservicefeature .web-sub_-title-qEHCOg {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.basiccomponentlistservicefeature .service-feature-li-qEHCOg {
  background-color: transparent;
  height: 40px;
  left: 1222px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 278px;
}

.basiccomponentlistservicefeature .web-title-area-asVVed {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistservicefeature .web-tab-service-feature_-basic-layout-asVVed {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentlistservicefeature .x3rd-depth-FSv2wH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentlistservicefeature .tab-FSv2wH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistservicefeature .basic-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistservicefeature .service-feature-type-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-2-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-3-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-5-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 125px;
}

.basiccomponentlistservicefeature .service-feature-type-copy-4-iLqDtb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.basiccomponentlistservicefeature .lnb-favorite-card-asVVed {
  background-color: transparent;
  height: 1581px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .rectangle-pVxVkf {
  background-color: var(--concrete);
  height: 1581px;
  width: 320px;
}

.basiccomponentlistservicefeature .background-pVxVkf {
  background-color: var(--concrete);
  height: 1039px;
  width: 320px;
}

.basiccomponentlistservicefeature .stacked-group-pVxVkf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistservicefeature .web-index-title-common-fHRwJT {
  margin: 0;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-2-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-i1CC0s {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-WmEUG3 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-14-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-9u8b6C {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-8Daxxc {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-10-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-DAYT8E {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-rx1OLo {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-6-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-LDX7C0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-q5D0G1 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-11-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-CE1PMe {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-fmxdYm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-N8YwcN {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-A1uPFS {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-7-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-0zIzwD {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-nHqX4x {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-4-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-GAFo7l {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-22CSYj {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-8-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-fhzOTv {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-j02pee {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .group-NPs0Yy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-xEnmDd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-9-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-8JGXaO {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-lsa4Zz {
  color: var(--curious-blue);
  font-weight: 500;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-5-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-sIx4ql {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-2xnq6a {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .group-DX0Nxw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-NNGvQf {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-3-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-pycg60 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-EjjjxE {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-12-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-qsnsVI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-VGBu9N {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-15-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-K903xe {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-Bu69Do {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents2dpeth-copy-13-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-tWXudZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponentlistservicefeature .x2-death-title-CU4uVC {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponentlistservicefeature .web-index-contents1dpeth_open_selected-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-copy-fHRwJT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .empty-7gAaFZ {
  top: 21px;
}

.basiccomponentlistservicefeature .empty-WzjW1T {
  top: 0px;
}

.basiccomponentlistservicefeature .web-index-title-common-copy-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .group-fHRwJT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .empty-mtdKvl {
  top: 21px;
}

.basiccomponentlistservicefeature .empty-3O2lgr {
  top: 0px;
}

.basiccomponentlistservicefeature .web-index-title-common-gzc6a0 {
  margin: 0px 0 0 0;
}

.basiccomponentlistservicefeature .group-copy-2-fHRwJT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .empty-0EfspB {
  top: 21px;
}

.basiccomponentlistservicefeature .empty-3aykO8 {
  top: 0px;
}

.basiccomponentlistservicefeature .web-index-title-common-copy-2-fHRwJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .line-pVxVkf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistservicefeature .home-net-gui-guidelin-pVxVkf {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentlistservicefeature .webgnb-asVVed {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistservicefeature .rectangle-2Xv9sl {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentlistservicefeature .background-2Xv9sl {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentlistservicefeature .index-2Xv9sl {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentlistservicefeature .web-index-select-jipxUx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentlistservicefeature .web-index-unselect-jipxUx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistservicefeature .web-index-unelect_main-2Xv9sl {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponentlistservicefeature .logo-2HtDPc {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.basiccomponentlistservicefeature .content {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.basiccomponentlistservicefeature .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .group-2-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistservicefeature .group-2-copy-3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentlistservicefeature .group-3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistservicefeature .styletable1line_-color {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentlistservicefeature .styletable1line_-color-copy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentlistservicefeature .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.basiccomponentlistservicefeature .table-guide-text2line {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.basiccomponentlistservicefeature .table-guide-title-copy {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.basiccomponentlistservicefeature .table-guide-title-copy-2 {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.basiccomponentlistservicefeature .table-title-text {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
}

.basiccomponentlistservicefeature .title {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentlistservicefeature .web-index-contents1dpeth_close {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .web-index-title-common {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  position: relative;
  width: 320px;
}

.basiccomponentlistservicefeature .web-sub_-title-copy-2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 360px;
}

.basiccomponentlistservicefeature .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
