/* screen - basiccomponenttoastssnackbar */

.basiccomponenttoastssnackbar {
  background-color: var(--white);
  height: 2092px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponenttoastssnackbar .group-9-uJ8LMh {
  background-color: transparent;
  height: 533px;
  left: 380px;
  position: absolute;
  top: 1360px;
  width: 710px;
}

.basiccomponenttoastssnackbar .group-10-uJ8LMh {
  background-color: transparent;
  height: 868px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 671px;
}

.basiccomponenttoastssnackbar .group-3-copy-4-uJ8LMh {
  background-color: transparent;
  height: 186px;
  left: 1140px;
  position: absolute;
  top: 1360px;
  width: 680px;
}

.basiccomponenttoastssnackbar .styletabletop-xitdzZ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponenttoastssnackbar .table-guide-title-U5VwLw {
  left: 552px;
  width: 128px;
}

.basiccomponenttoastssnackbar .rectangle-cRPxuQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponenttoastssnackbar .table-title-text-cRPxuQ {
  width: 116px;
}

.basiccomponenttoastssnackbar .table-guide-title-Ho9NXg {
  left: 60px;
  width: 166px;
}

.basiccomponenttoastssnackbar .rectangle-x0iW7x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponenttoastssnackbar .table-title-text-x0iW7x {
  width: 154px;
}

.basiccomponenttoastssnackbar .table-guide-title-copy-U5VwLw {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.basiccomponenttoastssnackbar .rectangle-vNsZQ7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponenttoastssnackbar .table-title-text-vNsZQ7 {
  width: 94px;
}

.basiccomponenttoastssnackbar .table-guide-title-copy-2-U5VwLw {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.basiccomponenttoastssnackbar .rectangle-RC2Eyh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponenttoastssnackbar .table-title-text-RC2Eyh {
  width: 178px;
}

.basiccomponenttoastssnackbar .table-guide-title-Jhoe2t {
  left: 0px;
  width: 50px;
}

.basiccomponenttoastssnackbar .rectangle-i0Njye {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponenttoastssnackbar .table-title-text-i0Njye {
  width: 38px;
}

.basiccomponenttoastssnackbar .group-5-xitdzZ {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponenttoastssnackbar .styletable1line_-color-copy-gevooR {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-BKx8H9 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponenttoastssnackbar .rectangle-O6ODAP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponenttoastssnackbar .contents-O6ODAP {
  width: 116px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-JKTxOy {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponenttoastssnackbar .rectangle-HvJfIo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponenttoastssnackbar .contents-HvJfIo {
  width: 154px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-ci3K7i {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponenttoastssnackbar .rectangle-9UX1rq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponenttoastssnackbar .contents-9UX1rq {
  width: 88px;
}

.basiccomponenttoastssnackbar .rectangle-ngRXvu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponenttoastssnackbar .contents-ngRXvu {
  width: 184px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-xgZIoR {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponenttoastssnackbar .rectangle-q1CnuT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponenttoastssnackbar .contents-q1CnuT {
  width: 38px;
}

.basiccomponenttoastssnackbar .styletable1line_-color-copy-2-gevooR {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 70px;
  width: 680px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-KnhjW7 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.basiccomponenttoastssnackbar .rectangle-DuOKKe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponenttoastssnackbar .contents-DuOKKe {
  width: 116px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-u5ak9m {
  height: 31px;
  left: 60px;
  width: 166px;
}

.basiccomponenttoastssnackbar .rectangle-lPYDJr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponenttoastssnackbar .contents-lPYDJr {
  width: 154px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-kW1x8X {
  height: 31px;
  left: 236px;
  width: 100px;
}

.basiccomponenttoastssnackbar .rectangle-x8Nx5b {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponenttoastssnackbar .contents-x8Nx5b {
  width: 88px;
}

.basiccomponenttoastssnackbar .rectangle-VrjkLz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponenttoastssnackbar .contents-VrjkLz {
  width: 184px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-hALueH {
  height: 31px;
  left: 0px;
  width: 50px;
}

.basiccomponenttoastssnackbar .rectangle-kXxOQE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponenttoastssnackbar .contents-kXxOQE {
  width: 38px;
}

.basiccomponenttoastssnackbar .group-uJ8LMh {
  background-color: transparent;
  height: 242px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponenttoastssnackbar .group-2-copy-2-hpESxz {
  background-color: transparent;
  height: 186px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tableguidetext1line50 {
  background-color: transparent;
  height: 16.67%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line50 .rectangle-KPMsF0 {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line50 .contents-KPMsF0 {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponenttoastssnackbar .table-guide-text1line-zLtlyN {
  height: 175px;
  left: 410px;
  width: 270px;
}

.basiccomponenttoastssnackbar .rectangle-ridHie {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.basiccomponenttoastssnackbar .group-ridHie {
  background-color: transparent;
  height: 164px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.basiccomponenttoastssnackbar .content-UGJ0i0 {
  color: var(--black);
  height: 120px;
  top: 22px;
}

.basiccomponenttoastssnackbar .content-vJFtxR {
  color: var(--fuscous-gray);
  height: 20px;
  top: 144px;
  white-space: nowrap;
}

.basiccomponenttoastssnackbar .title-UGJ0i0 {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem32 {
  background-color: transparent;
  height: 16.67%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem32 .rectangle-pwftoD {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem32 .contents-pwftoD {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponenttoastssnackbar .group-3-hpESxz {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponenttoastssnackbar .table-guide-title-RWXOjY {
  left: 410px;
  width: 270px;
}

.basiccomponenttoastssnackbar .rectangle-vSiitj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponenttoastssnackbar .table-title-text-vSiitj {
  width: 258px;
}

.basiccomponenttoastssnackbar .table-guide-title-XDxEvx {
  left: 60px;
  width: 340px;
}

.basiccomponenttoastssnackbar .rectangle-JW4dE9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponenttoastssnackbar .table-title-text-JW4dE9 {
  width: 328px;
}

.basiccomponenttoastssnackbar .table-guide-title-C5eZxc {
  left: 0px;
  width: 50px;
}

.basiccomponenttoastssnackbar .rectangle-fRBYIK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponenttoastssnackbar .table-title-text-fRBYIK {
  width: 38px;
}

.basiccomponenttoastssnackbar .web-sub_-title-uJ8LMh {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.basiccomponenttoastssnackbar .sub-title-ORcLLA {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponenttoastssnackbar .web-title-area-uJ8LMh {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponenttoastssnackbar .web-tab-service-feature_-basic-layout-uJ8LMh {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponenttoastssnackbar .x3rd-depth-StWBnd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponenttoastssnackbar .tab-StWBnd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponenttoastssnackbar .toast-copy-oKsY6V {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponenttoastssnackbar .snackbar-oKsY6V {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 58px;
}

.basiccomponenttoastssnackbar .lnb-favorite-card-uJ8LMh {
  background-color: transparent;
  height: 1581px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .rectangle-z3UlEi {
  background-color: var(--concrete);
  height: 1581px;
  width: 320px;
}

.basiccomponenttoastssnackbar .background-z3UlEi {
  background-color: var(--concrete);
  height: 1039px;
  width: 320px;
}

.basiccomponenttoastssnackbar .stacked-group-z3UlEi {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponenttoastssnackbar .web-index-title-common-keDh4a {
  margin: 0;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-2-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-BRYfQX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-eVAsSM {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-14-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-9z2bQH {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-UnVLDM {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-10-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-uOz9yv {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-MghejN {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-6-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-P6aXSQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-eOU1ft {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-11-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-nWvpd5 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-bxQ8WL {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-BqZpbk {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-xJJboI {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-7-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-Wbuj9r {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-tPyptR {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-4-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-uh02cC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-8bDPMZ {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-8-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-7dMOMY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-fxCxQE {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .group-CdfqpL {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-nfmVOz {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-9-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-1jy7dx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-MGIABE {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-5-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-tKtyOG {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-01834I {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .group-rO9ItJ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-eqlaMn {
  color: var(--curious-blue);
  font-weight: 500;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-3-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-MKWSny {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-lQlmEz {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-12-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-QaJ4oS {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-c21zFd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-15-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-Fwzx8x {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-nNTjkk {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents2dpeth-copy-13-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-Szfz5l {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title-bphwLl {
  color: var(--sonic-silver);
  font-weight: 400;
}

.basiccomponenttoastssnackbar .web-index-contents1dpeth_open_selected-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-copy-keDh4a {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .empty-zNpvex {
  top: 21px;
}

.basiccomponenttoastssnackbar .empty-EHzMY0 {
  top: 0px;
}

.basiccomponenttoastssnackbar .web-index-title-common-copy-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .group-keDh4a {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .empty-SbrCo0 {
  top: 21px;
}

.basiccomponenttoastssnackbar .empty-ePNveR {
  top: 0px;
}

.basiccomponenttoastssnackbar .web-index-title-common-ztQQ4D {
  margin: 0px 0 0 0;
}

.basiccomponenttoastssnackbar .group-copy-2-keDh4a {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .empty-JOfu6p {
  top: 21px;
}

.basiccomponenttoastssnackbar .empty-eZwydq {
  top: 0px;
}

.basiccomponenttoastssnackbar .web-index-title-common-copy-2-keDh4a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .line-z3UlEi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponenttoastssnackbar .home-net-gui-guidelin-z3UlEi {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.basiccomponenttoastssnackbar .webgnb-uJ8LMh {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponenttoastssnackbar .rectangle-VwBgFJ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponenttoastssnackbar .background-VwBgFJ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponenttoastssnackbar .index-VwBgFJ {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponenttoastssnackbar .web-index-select-6Beo1M {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponenttoastssnackbar .web-index-unselect-6Beo1M {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponenttoastssnackbar .web-index-unelect_main-VwBgFJ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponenttoastssnackbar .logo-3e8wqz {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.basiccomponenttoastssnackbar .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: 258px;
}

.basiccomponenttoastssnackbar .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.basiccomponenttoastssnackbar .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponenttoastssnackbar .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.basiccomponenttoastssnackbar .table-guide-text2line {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.basiccomponenttoastssnackbar .table-title-text {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
}

.basiccomponenttoastssnackbar .web-index-contents1dpeth_close {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .web-index-title-common {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  position: relative;
  width: 320px;
}

.basiccomponenttoastssnackbar .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
