/* screen - servicefeatureservicefeaturetypesdropdownalist */

.servicefeatureservicefeaturetypesdropdownalist {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2652px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.servicefeatureservicefeaturetypesdropdownalist .group-17-UjN661 {
  background-color: transparent;
  height: 413px;
  left: 1140px;
  position: absolute;
  top: 1387px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-aYNnhL {
  height: 53px;
  top: 157px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-OVFtx5 {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-OhvrwI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-OhvrwI {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-OVFtx5 {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-aGqVQi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-aGqVQi {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-ejapkX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-ejapkX {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-OVFtx5 {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-xR2DFQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-xR2DFQ {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy-xR2DFQ {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-BQam7u {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-2dEzuf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-2dEzuf {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-mkvCjk {
  height: 53px;
  top: 83px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-m2LNml {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-HVnG5c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-HVnG5c {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-m2LNml {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-YwBcJQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-YwBcJQ {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-peXV8L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-peXV8L {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-m2LNml {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-w2ZLBW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-w2ZLBW {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy-w2ZLBW {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-wyxkLJ {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-V69iDp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-V69iDp {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-AbuGHK {
  height: 72px;
  top: 231px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-ellqgz {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-jb6zLX {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-UjqUEE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-UjqUEE {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-jb6zLX {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-LYITHw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-LYITHw {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-oMgFVq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-oMgFVq {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-jb6zLX {
  height: 72px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-TzfW35 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-TzfW35 {
  background-color: transparent;
  height: 61px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .content-NM34FW {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 22px;
}

.servicefeatureservicefeaturetypesdropdownalist .content-jV0qIR {
  color: var(--magenta--fuchsia);
  height: auto;
  line-height: 17px;
  top: 44px;
}

.servicefeatureservicefeaturetypesdropdownalist .title-NM34FW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-c5EAFC {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-wbTHlg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-wbTHlg {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontabletop-aYNnhL {
  height: 38px;
  top: 27px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-IPP5GW {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-o2IBbv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-o2IBbv {
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-YaHFEa {
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-RpRDiZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-RpRDiZ {
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-fMfe5u {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-fMfe5u {
  width: 94px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-ERwrwU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-ERwrwU {
  width: 178px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-XpLGjB {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-29aYY0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-29aYY0 {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-FxCXPm {
  height: 53px;
  top: 324px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-j2QY7C {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-D4H8UT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-D4H8UT {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-j2QY7C {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-ws21dG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-ws21dG {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-aygYxm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-aygYxm {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-j2QY7C {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-SxgM6c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-SxgM6c {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy-SxgM6c {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-d0t5yC {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-OPLSJF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-OPLSJF {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .unit-aYNnhL {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdownalist .group-14-UjN661 {
  background-color: transparent;
  height: 191px;
  left: 1140px;
  position: absolute;
  top: 1046px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontabletop-xEM3Pg {
  height: 38px;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-V1PMVi {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-zH8LI5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-zH8LI5 {
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-XNCD11 {
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-cnL5QM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-cnL5QM {
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-vd64UF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-vd64UF {
  width: 94px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-0JsA4F {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-0JsA4F {
  width: 178px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-title-GNepmL {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-QnmUxi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-title-text-QnmUxi {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-xEM3Pg {
  height: 50px;
  top: 56px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-AAO4G0 {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-fjdYAu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-fjdYAu {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-AAO4G0 {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-mtbgqL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-mtbgqL {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-Z7mCVA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-Z7mCVA {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-AAO4G0 {
  height: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-WmhFIw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-WmhFIw {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy-WmhFIw {
  color: var(--rose);
  height: auto;
  line-height: 17px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-VaepnI {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-8G2dNX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-8G2dNX {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line-copy-xEM3Pg {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 127px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-veVCRe {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-DJQS9x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-DJQS9x {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-veVCRe {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-hhT8XW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-hhT8XW {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-H7wIN0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-H7wIN0 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2-veVCRe {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-iRxoG3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-iRxoG3 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy-iRxoG3 {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-6NHSsQ {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-xnELbI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-xnELbI {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-5-UjN661 {
  background-color: transparent;
  height: 187px;
  left: 420px;
  position: absolute;
  top: 1046px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-4-UjN661 {
  background-color: transparent;
  height: 553px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-16-UjN661 {
  background-color: transparent;
  height: 1038px;
  left: 392px;
  position: absolute;
  top: 1414px;
  width: 698px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-18-UjN661 {
  background-color: transparent;
  height: 274px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-10-q0NhB8 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-6ytxkk {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-b7E6d8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-b7E6d8 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-6ytxkk {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-Kw6Jsy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-Kw6Jsy {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-rMRAs5 {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-YybrE4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-YybrE4 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-12-q0NhB8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-NYwXAc {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-FEZxxF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-FEZxxF {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-NYwXAc {
  cursor: pointer;
  height: 31px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-0LGMEu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-0LGMEu {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-2Cy52E {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-gdgLMf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-gdgLMf {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-2-q0NhB8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-Xh7UH1 {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-FoGyWo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-FoGyWo {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-Xh7UH1 {
  cursor: pointer;
  height: 31px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-KyC8Qz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-KyC8Qz {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-p6hIri {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-tqnmxG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-tqnmxG {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-11-q0NhB8 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-xtxxDY {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-kpPN1q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-kpPN1q {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-xtxxDY {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-EIlS6w {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-EIlS6w {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line-RSWsnH {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-xXuz6i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-xXuz6i {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontabletop-q0NhB8 {
  height: 56px;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-sub_-title-UjN661 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 360px;
}

.servicefeatureservicefeaturetypesdropdownalist .sub-title-QCeXQp {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-title-area-UjN661 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-tab-favorite-car-UjN661 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdownalist .x3rd-depth-HMlB2x {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdownalist .tab-HMlB2x {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdownalist .service-feature-type-91977M {
  margin: 0;
  width: 130px;
}

.servicefeatureservicefeaturetypesdropdownalist .service-feature-type-xFXZab {
  margin: 0 0 0 50px;
  width: 26px;
}

.servicefeatureservicefeaturetypesdropdownalist .list-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesdropdownalist .dropdown-list-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesdropdownalist .dropdwon-graph-copy-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdownalist .info-text-graph-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicefeatureservicefeaturetypesdropdownalist .graph-rule-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesdropdownalist .media-91977M {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdownalist .lnb-favorite-card-UjN661 {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-1P7HSj {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .background-1P7HSj {
  background-color: var(--concrete);
  height: 717px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .stacked-group-1P7HSj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-title-common-wtrmZz {
  margin: 0;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-contents1dpeth_open_selected-wtrmZz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-T2V76o {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .x1-depth-title-mgRke3 {
  background-color: transparent;
  color: var(--curious-blue);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdownalist .web-expanded-T2V76o {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.servicefeatureservicefeaturetypesdropdownalist .button-RnDlIW {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: -3px;
  transform: rotate(90deg);
  width: 8px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-copy-wtrmZz {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-copy-u0WSEN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .line-copy-2-u0WSEN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-copy-2-u0WSEN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-title-common-copy-wtrmZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .group-wtrmZz {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-JX8RcW {
  top: 21px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-348zg6 {
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-title-common-XZ9fRg {
  margin: 0px 0 0 0;
}

.servicefeatureservicefeaturetypesdropdownalist .group-copy-2-wtrmZz {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-By3ocE {
  top: 21px;
}

.servicefeatureservicefeaturetypesdropdownalist .empty-ZDcYCy {
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-title-common-copy-2-wtrmZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdownalist .line-1P7HSj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdownalist .home-net-gui-guidelin-1P7HSj {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdownalist .webgnb-UjN661 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdownalist .rectangle-zG2wca {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdownalist .background-zG2wca {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdownalist .index-zG2wca {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-select-mubTZL {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-unselect-mubTZL {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesdropdownalist .web-index-unelect_main-zG2wca {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicefeatureservicefeaturetypesdropdownalist .logo-Dam9iP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicefeatureservicefeaturetypesdropdownalist .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicefeatureservicefeaturetypesdropdownalist .contents-copy {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontable2line {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .descriptiontabletop {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdownalist .table-guide-text2line-copy-2 {
  background-color: transparent;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}
