/* screen - servicefeatureservicefeaturetypesdropdwonagraph */

.servicefeatureservicefeaturetypesdropdwonagraph {
  background-color: var(--white);
  height: 2610px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .optional-text-61BmoA {
  background-color: transparent;
  height: 17px;
  left: 421px;
  position: absolute;
  top: 989px;
  width: 92px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-22-61BmoA {
  background-color: transparent;
  height: 72px;
  left: 420px;
  position: absolute;
  top: 1126px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-23-61BmoA {
  background-color: transparent;
  height: 215px;
  left: 352px;
  position: absolute;
  top: 1456px;
  width: 506px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-18-61BmoA {
  background-color: transparent;
  height: 132px;
  left: 352px;
  position: absolute;
  top: 1224px;
  width: 500px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-7-61BmoA {
  background-color: transparent;
  height: 589px;
  left: 419px;
  position: absolute;
  top: 1821px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-5-61BmoA {
  background-color: transparent;
  height: 596px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-21-61BmoA {
  background-color: transparent;
  height: 447px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-19-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-QOVi5p {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-YQPx2a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-YQPx2a {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-QOVi5p {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Or40tQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Or40tQ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-UJKzpp {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Dd5cn6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Dd5cn6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-14-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-L1fTqC {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-pwP5sq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-pwP5sq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-L1fTqC {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Gx7xrZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Gx7xrZ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-O6s6sq {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Oq8y2T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Oq8y2T {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-8-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-jwytHy {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-tr0arn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-tr0arn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-jwytHy {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-zvH7Rs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-zvH7Rs {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-dNDafp {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-8snsCy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-8snsCy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 390px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-8Oxkmn {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-BRqc4d {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-BRqc4d {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-8Oxkmn {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-6h8BbA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-6h8BbA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-2-8Oxkmn {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Qs32Jt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Qs32Jt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-20-jYyIfz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-cwlPOr {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-LT6shT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-LT6shT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-cwlPOr {
  cursor: pointer;
  height: 31px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-PjLtpe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-PjLtpe {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-VfbvFQ {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-DSVH3x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-DSVH3x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-17-jYyIfz {
  background-color: transparent;
  height: 76px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-shShxk {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-7PMxtd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-7PMxtd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-shShxk {
  cursor: pointer;
  height: 70px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-4Us9bj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-4Us9bj {
  background-color: transparent;
  height: 59px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-2CauFo {
  color: var(--magenta--fuchsia);
  height: auto;
  line-height: 17px;
  top: 42px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-2CauFo {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-6YTsYl {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-eQ66pX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-eQ66pX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-ye78Lg {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Uxgc3z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-Uxgc3z {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-EDHwKA {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-HhK0eP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-HhK0eP {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-3vJlIx {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-2qXSNj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-2qXSNj {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-13-61BmoA {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 1126px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-9-UxwiZ3 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-y3CC82 {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-u0fsYj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-u0fsYj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-y3CC82 {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Q9Kkzb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-Q9Kkzb {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-6s0KGG {
  color: var(--black);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 22px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-6s0KGG {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-6-y3CC82 {
  background-color: transparent;
  height: 75px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-mJTPhQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-mJTPhQ {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-EPyF7f {
  color: var(--black);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 22px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-rOpxKo {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 44px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-EPyF7f {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-15-UxwiZ3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-HGRNkh {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-axFRMr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-axFRMr {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-HGRNkh {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-txTsu7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-txTsu7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-HGRNkh {
  height: 31px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-KJ5cEH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-KJ5cEH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-uo06Nu {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-uxHfmy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-uxHfmy {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-wpTGgW {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-HGrYe8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-HGrYe8 {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-IMbEQL {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-CLxo2e {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-CLxo2e {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-10-61BmoA {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1821px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-16-pgMcib {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-3-tbi8Dq {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-xWSxsG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-xWSxsG {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-3-tbi8Dq {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-71FomS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-71FomS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-2-tbi8Dq {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-UxVm18 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-UxVm18 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop-copy-pgMcib {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-0Wghe7 {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-6CoOgk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-6CoOgk {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-CvpqYJ {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-x0fbu7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-x0fbu7 {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-ybNOsE {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-joS4xR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-joS4xR {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-11-61BmoA {
  background-color: transparent;
  height: 256px;
  left: 1140px;
  position: absolute;
  top: 1415px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-zmqONx {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-uzvlB2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-uzvlB2 {
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-vXjHY0 {
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-TMQRCt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-TMQRCt {
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-copy-zmqONx {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Juli6X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-Juli6X {
  width: 94px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-copy-2-zmqONx {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Ut6is3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-Ut6is3 {
  width: 178px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-fuQlq5 {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-576DwL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-576DwL {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontable2line-o1ZfBV {
  height: 53px;
  top: 56px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-hgaJCC {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Kb5QpZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Kb5QpZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-hgaJCC {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-wBw1Q3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-wBw1Q3 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-hgaJCC {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-i4xVkw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-i4xVkw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-2-hgaJCC {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-LvyWg7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-LvyWg7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-6TGiKm {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-0xBgiL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-0xBgiL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontable2line-uxe6GU {
  height: 50px;
  top: 126px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-ShGNKO {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-9xs0la {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-9xs0la {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-ShGNKO {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-rDUo50 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-rDUo50 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-ShGNKO {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-4mvEYE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-4mvEYE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-2-ShGNKO {
  height: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-XXvc2H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-XXvc2H {
  background-color: transparent;
  height: 39px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-64N4Nb {
  color: var(--rose);
  height: auto;
  line-height: 17px;
  top: 22px;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-64N4Nb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-4dlYVf {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-AP89A6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-AP89A6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontable2line-k5qxzP {
  height: 53px;
  top: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-Qx3IrD {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-x7bFEH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-x7bFEH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-Qx3IrD {
  height: 31px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-KjYLpj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-KjYLpj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-Qx3IrD {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-aMOoxc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-aMOoxc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-2-Qx3IrD {
  height: 53px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-txTYQs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-txTYQs {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-hzENXX {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-qtHVG2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-qtHVG2 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-sub_-title-61BmoA {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 360px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .sub-title-UqH1UN {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 206px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-title-area-61BmoA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-tab-favorite-car-61BmoA {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .x3rd-depth-5dnb8R {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .tab-5dnb8R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-0A88MT {
  margin: 0;
  width: 130px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-759Qfx {
  margin: 0 0 0 50px;
  width: 26px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdown-list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdwon-graph-copy-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .info-text-graph-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .graph-rule-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .media-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .lnb-favorite-card-61BmoA {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Auwr8U {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-Auwr8U {
  background-color: var(--concrete);
  height: 717px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .stacked-group-Auwr8U {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-n2pLzv {
  margin: 0;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_open_selected-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-aSFcfe {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .x1-depth-title-4qKRIT {
  background-color: transparent;
  color: var(--curious-blue);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-expanded-aSFcfe {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .button-fK1hC5 {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: -3px;
  transform: rotate(90deg);
  width: 8px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-copy-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-4gH67r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-2-4gH67r {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-2-4gH67r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-copy-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-wY7mD8 {
  top: 21px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-w1eVZi {
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-9PAPHD {
  margin: 0px 0 0 0;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-copy-2-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-OGrtpU {
  top: 21px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-o80brH {
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-copy-2-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-Auwr8U {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .home-net-gui-guidelin-Auwr8U {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .webgnb-61BmoA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-41agsY {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-41agsY {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .index-41agsY {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-select-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unselect-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unelect_main-41agsY {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .logo-MTmCxM {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontable2line {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-2 {
  background-color: transparent;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
}
