/* screen - servicefeatureservicefeaturetypesmedia */

.servicefeatureservicefeaturetypesmedia {
  background-color: var(--white);
  height: 1727px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .group-19-ApAYF8 {
  background-color: transparent;
  height: 480px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesmedia .group-10-ApAYF8 {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 941px;
  width: 710px;
}

.servicefeatureservicefeaturetypesmedia .group-17-ApAYF8 {
  background-color: transparent;
  height: 227px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .group-15-PHy9FQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-HnQwLf {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-sRNLts {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-sRNLts {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-HnQwLf {
  cursor: pointer;
  height: 51px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-aRtSPX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-aRtSPX {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-6-HnQwLf {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-5VQWme {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .contents-5VQWme {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .group-14-PHy9FQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-5-vDEhTC {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-2klUDV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .contents-2klUDV {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-vDEhTC {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-llQjUf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-llQjUf {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-vDEhTC {
  cursor: pointer;
  height: 51px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-g7QiwC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-g7QiwC {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .group-16-PHy9FQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-3US7Pm {
  height: 31px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-QUENXX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .contents-QUENXX {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-3US7Pm {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-QNI6uC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-QNI6uC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-3US7Pm {
  cursor: pointer;
  height: 31px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-AurybB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-AurybB {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-H81JxT {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-X5Sy0c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-X5Sy0c {
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-PihwKY {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-zWskCO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-zWskCO {
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-c6pTlq {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-Dj2ndd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-Dj2ndd {
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .group-8-ApAYF8 {
  background-color: transparent;
  height: 449px;
  left: 1140px;
  position: absolute;
  top: 941px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .group-7-gn0RrY {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-5nuS22 {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-IEGsBz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-IEGsBz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-meHSdQ {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-rDcepM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-rDcepM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-5nuS22 {
  height: 53px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-zNQDRp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .group-zNQDRp {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .content-JYfx9x {
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .title-JYfx9x {
  color: var(--science-blue);
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .group-6-gn0RrY {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-UAQEPU {
  height: 73px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-znq5bW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .group-znq5bW {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .content-wM264S {
  height: 40px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .title-wM264S {
  color: var(--science-blue);
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-UAQEPU {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-Xqn4xR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-Xqn4xR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-EjfEc2 {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-UWUdSt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-UWUdSt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .group-5-gn0RrY {
  background-color: transparent;
  height: 146px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-copy-6-nsJiIL {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 109px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-a8xFJJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .contents-a8xFJJ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-3-nsJiIL {
  background-color: transparent;
  height: 93px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-Q25K6P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .group-Q25K6P {
  background-color: transparent;
  height: 82px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .content-Yck2Wr {
  height: 60px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .title-Yck2Wr {
  color: var(--science-blue);
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-copy-5-nsJiIL {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-7EwFy6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-7EwFy6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-copy-4-nsJiIL {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-3tvsut {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-3tvsut {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-copy-3-nsJiIL {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 109px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-TEA1TG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .contents-TEA1TG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .group-4-gn0RrY {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy-2-78AeLq {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-OiMjdo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .group-OiMjdo {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .content-3AeX1I {
  height: 40px;
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .title-3AeX1I {
  color: var(--science-blue);
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-78AeLq {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-1oZ1YK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-1oZ1YK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-78AeLq {
  height: 73px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-PCiZdr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .group-PCiZdr {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .content-cfCPXJ {
  height: 40px;
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .title-cfCPXJ {
  color: var(--persian-green);
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-87KRgn {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-ETUTlr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-ETUTlr {
  width: 258px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-jGgiVF {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-xSgtIy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-xSgtIy {
  width: 328px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-XSgBk1 {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-JcKI3P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-JcKI3P {
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .group-18-ApAYF8 {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 670px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-oGRkQu {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-yPvBpW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-yPvBpW {
  width: 116px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-TIueUb {
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-qTxfc1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-qTxfc1 {
  width: 154px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-copy-oGRkQu {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-spiTr5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-spiTr5 {
  width: 94px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-copy-2-oGRkQu {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-oFsckv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-oFsckv {
  width: 178px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-title-a71sUr {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-VjLI51 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .table-title-text-VjLI51 {
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .descriptiontable2line-c1x52E {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-466hDe {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-gr5AOo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesmedia .contents-gr5AOo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line-466hDe {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-fcMtg6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesmedia .contents-fcMtg6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line-copy-466hDe {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-DoCIjt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesmedia .contents-DoCIjt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line-copy-2-466hDe {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-skRcTj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesmedia .contents-skRcTj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesmedia .contents-copy-skRcTj {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line-ll3tJt {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-yTfz2d {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesmedia .contents-yTfz2d {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .web-sub_-title-ApAYF8 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 360px;
}

.servicefeatureservicefeaturetypesmedia .sub-title-JjIxIv {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 71px;
}

.servicefeatureservicefeaturetypesmedia .web-title-area-ApAYF8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .web-tab-favorite-car-ApAYF8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .x3rd-depth-JCZ5l3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesmedia .tab-JCZ5l3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesmedia .service-feature-type-VuioP0 {
  margin: 0;
  width: 130px;
}

.servicefeatureservicefeaturetypesmedia .service-feature-type-EHAxme {
  margin: 0 0 0 50px;
  width: 26px;
}

.servicefeatureservicefeaturetypesmedia .list-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesmedia .dropdown-list-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesmedia .dropdwon-graph-copy-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesmedia .info-text-graph-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicefeatureservicefeaturetypesmedia .graph-rule-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesmedia .media-VuioP0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesmedia .lnb-favorite-card-ApAYF8 {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-gFtQm9 {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .background-gFtQm9 {
  background-color: var(--concrete);
  height: 717px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .stacked-group-gFtQm9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-ZLuXd2 {
  margin: 0;
}

.servicefeatureservicefeaturetypesmedia .web-index-contents1dpeth_open_selected-ZLuXd2 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .group-aujjfZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .x1-depth-title-KzwJGx {
  background-color: transparent;
  color: var(--curious-blue);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesmedia .web-expanded-aujjfZ {
  background-color: transparent;
  height: 7px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.servicefeatureservicefeaturetypesmedia .button-x1AMO5 {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: -3px;
  transform: rotate(90deg);
  width: 8px;
}

.servicefeatureservicefeaturetypesmedia .group-copy-ZLuXd2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .empty-copy-x590DB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .line-copy-2-x590DB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesmedia .empty-copy-2-x590DB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-copy-ZLuXd2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .group-ZLuXd2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .empty-RoP8V9 {
  top: 21px;
}

.servicefeatureservicefeaturetypesmedia .empty-2OR906 {
  top: 0px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-D72se1 {
  margin: 0px 0 0 0;
}

.servicefeatureservicefeaturetypesmedia .group-copy-2-ZLuXd2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .empty-NA41Z4 {
  top: 21px;
}

.servicefeatureservicefeaturetypesmedia .empty-6Mjnqx {
  top: 0px;
}

.servicefeatureservicefeaturetypesmedia .web-index-title-common-copy-2-ZLuXd2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesmedia .line-gFtQm9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesmedia .home-net-gui-guidelin-gFtQm9 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.servicefeatureservicefeaturetypesmedia .webgnb-ApAYF8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .rectangle-sBntTF {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .background-sBntTF {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesmedia .index-sBntTF {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesmedia .web-index-select-Nl7tKd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesmedia .web-index-unselect-Nl7tKd {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesmedia .web-index-unelect_main-sBntTF {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicefeatureservicefeaturetypesmedia .logo-d0ab4I {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicefeatureservicefeaturetypesmedia .content {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
}

.servicefeatureservicefeaturetypesmedia .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicefeatureservicefeaturetypesmedia .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesmedia .table-guide-text2line_m-copy {
  background-color: transparent;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesmedia .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
