/* screen - tabletoverviewcontentsordering */

.tabletoverviewcontentsordering {
  background-color: var(--white);
  height: 1394px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewcontentsordering .group-12-9qt8Bm {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 392px;
  width: 570px;
}

.tabletoverviewcontentsordering .group-14-9qt8Bm {
  background-color: transparent;
  height: 691px;
  left: 420px;
  position: absolute;
  top: 503px;
  width: 1400px;
}

.tabletoverviewcontentsordering .group-15-9qt8Bm {
  background-color: transparent;
  height: 22px;
  left: 924px;
  position: absolute;
  top: 469px;
  width: 722px;
}

.tabletoverviewcontentsordering .web-sub_-title-9qt8Bm {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewcontentsordering .web-title-area-9qt8Bm {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewcontentsordering .lnb-service-feature-9qt8Bm {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .rectangle-tE0xVi {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.tabletoverviewcontentsordering .line-tE0xVi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewcontentsordering .home-net-gui-guidelin-tE0xVi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup .web-index-title-reference-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-I12gSr {
  bottom: 0px;
}

.stackedgroup .empty-CMGcNK {
  top: 0px;
}

.stackedgroup .web-index-title-reference-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-cxKBVJ {
  bottom: 0px;
}

.stackedgroup .empty-WNTzCv {
  top: 0px;
}

.stackedgroup .web-index-title-reference-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-2-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-copy-GDxtmm {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup .line-copy-2-GDxtmm {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup .empty-copy-2-GDxtmm {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-3-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-11-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-10-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-8-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-4-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-5-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents2dpeth-copy-6-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.tabletoverviewcontentsordering .webgnb-9qt8Bm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsordering .rectangle-tFwSjB {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletoverviewcontentsordering .background-tFwSjB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsordering .index-tFwSjB {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletoverviewcontentsordering .web-index-select-x8bnHA {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewcontentsordering .web-index-unselect-x8bnHA {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletoverviewcontentsordering .web-index-unelect_main-tFwSjB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletoverviewcontentsordering .logo-99fscU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
